pkgbase = python-uvloop
	pkgdesc = Ultra fast asyncio event loop
	pkgver = 0.17.0
	pkgrel = 3
	url = https://github.com/MagicStack/uvloop
	arch = x86_64
	license = Apache
	license = MIT
	makedepends = python-setuptools
	makedepends = cython0
	makedepends = git
	depends = python
	depends = libuv
	source = git+https://github.com/MagicStack/uvloop.git#tag=afb326897c26f01b864f65f016a7f3f80d9db8ad
	b2sums = SKIP

pkgname = python-uvloop
