pkgbase = python-uvloop
	pkgdesc = Ultra fast asyncio event loop
	pkgver = 0.18.0
	pkgrel = 1
	url = https://github.com/MagicStack/uvloop
	arch = x86_64
	license = Apache
	license = MIT
	makedepends = python-setuptools
	makedepends = cython0
	makedepends = git
	depends = python
	depends = libuv
	source = git+https://github.com/MagicStack/uvloop.git#tag=5ddf38bccad1107e6488357fd3dbb6b886b95134
	b2sums = SKIP

pkgname = python-uvloop
