pkgbase = python-openapi-spec-validator
	pkgdesc = OpenAPI 2.0 (aka Swagger) and OpenAPI 3 spec validator
	pkgver = 0.7.1
	pkgrel = 1
	url = https://github.com/p1c2u/openapi-spec-validator
	arch = any
	license = Apache
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python
	depends = python-jsonschema
	depends = python-openapi-schema-validator
	depends = python-jsonschema-path
	depends = python-lazy-object-proxy
	source = python-openapi-spec-validator-0.7.1.tar.gz::https://github.com/p1c2u/openapi-spec-validator/archive/0.7.1.tar.gz
	sha512sums = 2a57ae1beb5f38f278839749f80cd92881bb57aa035573e604ee5fad5db6868150a9b4ebd1c00c20cc0fa00672619f5d99295de4df3173d25a841fe25c374c9d

pkgname = python-openapi-spec-validator
