pkgbase = smb4k
	pkgdesc = A KDE program that browses samba shares
	pkgver = 3.2.4
	pkgrel = 1
	url = https://smb4k.sourceforge.net/
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = plasma-framework5
	depends = gcc-libs
	depends = glibc
	depends = kauth5
	depends = kcompletion5
	depends = kconfig5
	depends = kconfigwidgets5
	depends = kcoreaddons5
	depends = kcrash5
	depends = kdbusaddons5
	depends = kdnssd5
	depends = ki18n5
	depends = kiconthemes5
	depends = kio5
	depends = kjobwidgets5
	depends = knotifications5
	depends = kparts5
	depends = kwallet5
	depends = kwidgetsaddons5
	depends = kwindowsystem5
	depends = kxmlgui5
	depends = qt5-base
	depends = qt5-declarative
	depends = smbclient
	depends = solid5
	source = https://downloads.sourceforge.net/project/smb4k/3.2.4/smb4k-3.2.4.tar.xz
	sha256sums = a4ee6cd6b5b34a4b28edc501faba6e9cdae512a1c6115537addf763533219c75

pkgname = smb4k
