pkgbase = modemmanager
	pkgdesc = Mobile broadband modem management service
	pkgver = 1.22.0
	pkgrel = 1
	url = https://www.freedesktop.org/wiki/Software/ModemManager/
	arch = x86_64
	license = GPL2
	license = LGPL2.1
	checkdepends = python-dbus
	checkdepends = python-gobject
	makedepends = bash-completion
	makedepends = git
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = vala
	depends = libgudev
	depends = libmbim
	depends = libqmi
	depends = mobile-broadband-provider-info
	depends = polkit
	depends = ppp
	depends = systemd
	source = git+https://gitlab.freedesktop.org/mobile-broadband/ModemManager.git#commit=03f786ce66360d67c669f4f122f8aa458e6f01ea
	b2sums = SKIP

pkgname = modemmanager
	depends = libgudev
	depends = libmbim
	depends = libqmi
	depends = mobile-broadband-provider-info
	depends = polkit
	depends = ppp
	depends = systemd
	depends = libgudev-1.0.so
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = libgmodule-2.0.so
	depends = libmbim-glib.so
	depends = libmm-glib.so
	depends = libqmi-glib.so
	depends = libsystemd.so
	optdepends = usb_modeswitch: install if your modem shows up as a storage drive

pkgname = libmm-glib
	pkgdesc = ModemManager library
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	provides = libmm-glib.so
