pkgbase = docker-compose
	pkgdesc = Fast, isolated development environments using Docker
	pkgver = 2.22.0
	pkgrel = 1
	url = https://www.docker.com/
	arch = x86_64
	license = Apache
	checkdepends = docker
	makedepends = go
	source = docker-compose-2.22.0.tar.gz::https://github.com/docker/compose/archive/v2.22.0.tar.gz
	b2sums = c2d07c0f8e75dbe30a3793c3f11844f39aee9706a735ca8d511da40080a850fe233bfdef238e7c70d77ac50c443a26e221ffd0870c04cece31291ac5e80d9b25

pkgname = docker-compose
