pkgbase = unrealircd
	pkgdesc = Open Source IRC Server
	pkgver = 6.1.1.1
	pkgrel = 3
	url = https://www.unrealircd.org
	install = unrealircd.install
	arch = x86_64
	license = GPL2
	depends = openssl
	depends = curl
	depends = c-ares
	depends = tre
	depends = pcre2
	depends = libnsl
	depends = argon2
	depends = libsodium
	provides = ircd
	conflicts = ircd
	backup = etc/unrealircd/unrealircd.conf
	source = https://www.unrealircd.org/unrealircd4/unrealircd-6.1.1.1.tar.gz
	source = https://www.unrealircd.org/unrealircd4/unrealircd-6.1.1.1.tar.gz.asc
	source = unrealircd.service
	source = unrealircd.tmpfiles.d
	source = unrealircd.sysusers.d
	source = install.pl
	source = source-date-epoch.patch
	validpgpkeys = 1D2D2B03A0B68ED11D68A24BA7A21B0A108FF4A9
	sha256sums = 0c8e4164f499f0f6a72ed6032acb034bd7e9bd10308f556a0d919a00c2eeb334
	sha256sums = SKIP
	sha256sums = 5bb6016c379e6f040d8c625e3339c096ff66c4450aa024ca5b13ad3dec47c38e
	sha256sums = 91b5e1d623b51ffd4734d73e35cead09be596460c41b9440406f92c9e2b4b9b1
	sha256sums = 9e595176e63b301476982b1456d6ed065c479ff913b6743417ab8a9efdda0e3a
	sha256sums = 43f07093ada8eb5c954f9e2e189610575906c690c0953fec041d4f2d31210d85
	sha256sums = 1b9b3d5560f6633d4f31a521bc0ae17094d3afa28e703b4790eaefedcc9a92a8

pkgname = unrealircd
