pkgbase = qt6-grpc
	pkgdesc = Provides the modules QtGrpc and QtProtobuf
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = abseil-cpp
	depends = gcc-libs
	depends = glibc
	depends = grpc
	depends = protobuf
	depends = qt6-base
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtgrpc-everywhere-src-6.6.0.tar.xz
	sha256sums = dab9b95fadc759deaca36e423f5ee6924eeec6e18a806c4b7e0d710f36c7ed92

pkgname = qt6-grpc
