pkgbase = jupyter-server
	pkgdesc = Provides the backend for Jupyter web applications like Jupyter notebook, JupyterLab, and Voila
	pkgver = 2.8.0
	pkgrel = 1
	url = https://jupyter.org/
	arch = any
	license = custom
	checkdepends = python-flaky
	checkdepends = python-jupyter-server-terminals
	checkdepends = python-pytest
	checkdepends = python-pytest-console-scripts
	checkdepends = python-pytest-jupyter
	checkdepends = python-pytest-timeout
	checkdepends = python-pytest-tornasync
	checkdepends = python-requests
	checkdepends = python-terminado
	makedepends = python-build
	makedepends = python-hatch-jupyter-builder
	makedepends = python-installer
	depends = jupyter-nbconvert
	depends = jupyter-nbformat
	depends = python
	depends = python-anyio
	depends = python-argon2_cffi
	depends = python-jinja
	depends = python-jupyter-client
	depends = python-jupyter-core
	depends = python-jupyter-events
	depends = python-overrides
	depends = python-packaging
	depends = python-prometheus_client
	depends = python-send2trash
	depends = python-tornado
	depends = python-traitlets
	depends = python-websocket-client
	optdepends = jupyter-server-mathjax: to use local MathJax
	optdepends = python-jupyter-server-terminals: terminals support
	source = https://github.com/jupyter-server/jupyter_server/releases/download/v2.8.0/jupyter_server-2.8.0.tar.gz
	sha256sums = b11e2ba80667c75f55630faf8ac3d5809f8734f9006d65cce117c46a0a516ab8

pkgname = jupyter-server
