pkgbase = r8168
	pkgdesc = A kernel module for Realtek 8168 network cards
	pkgver = 8.052.01
	pkgrel = 1
	url = http://www.realtek.com.tw
	arch = x86_64
	license = GPL
	makedepends = linux-headers
	source = https://github.com/mtorromeo/r8168/archive/8.052.01/r8168-8.052.01.tar.gz
	source = https://github.com/mtorromeo/r8168/releases/download/8.052.01/r8168-8.052.01.tar.gz.asc
	validpgpkeys = 0CADAACF70F64C654E131B3111675C743429DDEF
	sha256sums = cd8ee58a260e9b654080d39e3a42e3a3fb821041ee79e631b4647d84120aa999
	sha256sums = SKIP

pkgname = r8168
	depends = glibc
	depends = linux
