pkgbase = kjs
	pkgdesc = Support for JS scripting in applications
	pkgver = 5.111.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5-aids
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = qt5-base
	depends = pcre
	source = https://download.kde.org/stable/frameworks/5.111/portingAids/kjs-5.111.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.111/portingAids/kjs-5.111.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 0f947fb59a418362ac7bde8c4183775353c31544213c4ee45c0e3d779831cf23
	sha256sums = SKIP

pkgname = kjs
