pkgbase = gnome-user-docs
	pkgdesc = User documentation for GNOME
	pkgver = 45.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gnome-user-docs
	arch = any
	groups = gnome
	license = FDL
	makedepends = git
	makedepends = yelp-tools
	depends = yelp
	source = git+https://gitlab.gnome.org/GNOME/gnome-user-docs.git#commit=212a046dfa72da0c9aa8b200264e40b0aaf421fa
	b2sums = SKIP

pkgname = gnome-user-docs
