pkgbase = gnome-user-docs
	pkgdesc = User documentation for GNOME
	pkgver = 45.1
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gnome-user-docs
	arch = any
	groups = gnome
	license = FDL
	makedepends = git
	makedepends = yelp-tools
	depends = yelp
	source = git+https://gitlab.gnome.org/GNOME/gnome-user-docs.git#commit=9450e73bea22e7e467161087798edfc6f1e0a61e
	b2sums = SKIP

pkgname = gnome-user-docs
