pkgbase = python-blessed
	pkgdesc = A thin, practical wrapper around terminal styling, screen positioning, and keyboard input
	pkgver = 1.20.0
	pkgrel = 4
	url = https://github.com/jquast/blessed
	arch = any
	license = GPL
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-rerunfailures
	checkdepends = python-pytest-xdist
	makedepends = git
	makedepends = python-setuptools
	depends = python
	depends = python-six
	depends = python-wcwidth
	source = git+https://github.com/jquast/blessed.git#tag=d404d8ccde9ba900bc968c1213b915a691581603
	b2sums = SKIP

pkgname = python-blessed
