pkgbase = embree
	pkgdesc = Collection of high-performance ray tracing kernels
	pkgver = 4.3.0
	pkgrel = 1
	url = https://embree.github.io/
	arch = x86_64
	license = Apache
	makedepends = cmake
	makedepends = ispc
	makedepends = freeglut
	makedepends = libxmu
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = intel-tbb
	source = https://github.com/embree/embree/archive/v4.3.0/embree-4.3.0.tar.gz
	sha256sums = baf0a57a45837fc055ba828a139467bce0bc0c6a9a5f2dccb05163d012c12308

pkgname = embree
