pkgbase = python-gitlab
	pkgdesc = Python wrapper for the GitLab API
	pkgver = 4.0.0
	pkgrel = 1
	url = https://github.com/python-gitlab/python-gitlab
	arch = any
	license = LGPL3
	checkdepends = python-pytest
	checkdepends = python-pyyaml
	checkdepends = python-responses
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-requests
	depends = python-requests-toolbelt
	optdepends = python-argcomplete: for autocompletion
	optdepends = python-pyyaml: for YAML support
	source = python-gitlab-4.0.0.tar.gz::https://github.com/python-gitlab/python-gitlab/archive/v4.0.0/python-gitlab-v4.0.0.tar.gz
	sha512sums = 14c23fdde625c6d75f161f347fa5ff8be26c626530defc914179b1d9a4f66380cb4341b4e2d1b319a0a63dbb0969f441f905dd90762b8af885ad5d4ab67e8bd9
	b2sums = 4aa84d2150ad3f5dd4b8e50c9f6e0a55d8d51fbff419bf1a74ff5bd8cb7da1251150cc0e7a655c74995cba4a8faf8aa337823cc29ed99b4549b08b9db0b8837d

pkgname = python-gitlab
