pkgbase = gnome-initial-setup
	pkgdesc = Helps you to set up your OS when you boot for the first time
	pkgver = 45.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gnome-initial-setup
	arch = x86_64
	license = GPL
	makedepends = meson
	depends = accountsservice
	depends = cairo
	depends = fontconfig
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = gdm
	depends = geoclue
	depends = geocode-glib-2
	depends = glib2
	depends = glibc
	depends = gnome-desktop-4
	depends = gnome-control-center
	depends = gnome-keyring
	depends = gnome-online-accounts
	depends = gsettings-desktop-schemas
	depends = gtk3
	depends = gtk4
	depends = json-glib
	depends = krb5
	depends = libadwaita
	depends = libgdm
	depends = libgnomekbd
	depends = libgoa
	depends = libgweather-4
	depends = libibus
	depends = libmalcontent
	depends = libnm
	depends = libnma-gtk4
	depends = libpwquality
	depends = librest
	depends = libsecret
	depends = malcontent
	depends = pango
	depends = polkit
	depends = webkitgtk-6.0
	source = https://download.gnome.org/sources/gnome-initial-setup/45/gnome-initial-setup-45.0.tar.xz
	sha256sums = b1afe764798f8948bedb95c7ab31bd78529ac5cb481c41f7a7777f264de54bd8

pkgname = gnome-initial-setup
