pkgbase = qqc2-desktop-style5
	pkgdesc = A style for Qt Quick Controls 2 to make it follow your desktop theme
	pkgver = 5.110.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	depends = kirigami2
	depends = kiconthemes5
	depends = sonnet5
	provides = qqc2-desktop-style=5.110.0
	conflicts = qqc2-desktop-style<5.111
	replaces = qqc2-desktop-style<5.111
	source = https://download.kde.org/stable/frameworks/5.110/qqc2-desktop-style-5.110.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.110/qqc2-desktop-style-5.110.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 6f3c2f73b283c7373b695f33eaa2479349dae135fdba2efd04fcab843285fe12
	sha256sums = SKIP

pkgname = qqc2-desktop-style5
