pkgbase = python-phonenumbers
	pkgdesc = Python version of Google's common library for parsing, formatting, storing and validating international phone numbers
	pkgver = 8.13.20
	pkgrel = 1
	url = https://github.com/daviddrysdale/python-phonenumbers
	arch = any
	license = Apache
	makedepends = git
	makedepends = python-setuptools
	depends = python
	source = git+https://github.com/daviddrysdale/python-phonenumbers.git#commit=01bcacd1a55198d47226eaac4cbc08cd1e87e31d
	sha512sums = SKIP

pkgname = python-phonenumbers
