pkgbase = libpaper
	pkgdesc = Library for handling paper characteristics
	pkgver = 2.1.2
	pkgrel = 1
	url = https://github.com/rrthomas/libpaper
	arch = x86_64
	license = LGPL2.1
	license = GPL3
	depends = glibc
	provides = paper
	conflicts = paper
	replaces = paper
	backup = etc/papersize
	source = https://github.com/rrthomas/libpaper/releases/download/v2.1.2/libpaper-2.1.2.tar.gz
	source = localepaper.c
	sha256sums = 1fda0cf64efa46b9684a4ccc17df4386c4cc83254805419222c064bf62ea001f
	sha256sums = 7e49c6ce67fbaea77929ab5849026412d0f91f692a902805c0134a071cccde22

pkgname = libpaper
