pkgbase = python-jsonschema-path
	pkgdesc = JSONSchema Spec with object-oriented paths
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/p1c2u/jsonschema-path
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-responses
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python-pathable
	depends = python-yaml
	depends = python-requests
	depends = python-referencing
	conflicts = python-jsonschema-spec
	replaces = python-jsonschema-spec
	source = https://github.com/p1c2u/jsonschema-path/archive/0.3.1/python-jsonschema-path-0.3.1.tar.gz
	sha512sums = 00aa61aacb92d3aa11be6b3f5f69f6cb70743559849c425549a6fcc0c8c6eeff9feaef5a07da70308cc03311ca48dda7e35d429fa2a5a1aba9099fe678594038

pkgname = python-jsonschema-path
