pkgbase = qpdf
	pkgdesc = QPDF: A Content-Preserving PDF Transformation System
	pkgver = 11.6.3
	pkgrel = 1
	url = https://github.com/qpdf/qpdf
	arch = x86_64
	license = custom:Artistic-2.0
	license = Apache
	makedepends = libjpeg-turbo
	makedepends = zlib
	makedepends = gnutls
	makedepends = cmake
	makedepends = texlive-bin
	makedepends = texlive-binextra
	makedepends = texlive-fontsrecommended
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = texlive-latexextra
	source = https://github.com/qpdf/qpdf/releases/download/v11.6.3/qpdf-11.6.3.tar.gz
	source = https://github.com/qpdf/qpdf/releases/download/v11.6.3/qpdf-11.6.3.tar.gz.asc
	validpgpkeys = C2C96B10011FE009E6D1DF828A75D10998012C7E
	sha256sums = c394b1b0cff4cd9d13b0f5e16bdf3cf54da424dc434f9d40264b7fe67acd90bc
	sha256sums = SKIP

pkgname = qpdf
	depends = libjpeg-turbo
	depends = zlib
	depends = gnutls
	depends = openssl
	depends = glibc
	depends = gcc-libs

pkgname = qpdf-docs
	pkgdesc = QPDF: A Content-Preserving PDF Transformation System (documentation)
