pkgbase = python-cookiecutter
	pkgdesc = A command-line utility that creates projects from project templates
	pkgver = 2.4.0
	pkgrel = 1
	url = https://github.com/cookiecutter/cookiecutter
	arch = any
	license = BSD
	checkdepends = git
	checkdepends = python-freezegun
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-arrow
	depends = python-binaryornot
	depends = python-click
	depends = python-jinja
	depends = python-pyyaml
	depends = python-requests
	depends = python-rich
	depends = python-slugify
	source = https://github.com/cookiecutter/cookiecutter/archive/2.4.0/cookiecutter-2.4.0.tar.gz
	sha512sums = c0e1ab6bed36bc57bd56becc8d7f7f3526a7257a95ed37819a8814152f2d06fe4bd5dafab66c508be4cd14fb191fd59ffbf559513c55ff84c4b51131771bc4e6
	b2sums = bd45803a8f232bd9453afc7f9f43170624d130b788e6cb055cfc31b3e58f097032838e65a5807c71b6ebf740e239e26b51edabaff0353152f7e8f4d008ce56d0

pkgname = python-cookiecutter
