pkgbase = ruff
	pkgdesc = An extremely fast Python linter, written in Rust
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/astral-sh/ruff
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = maturin
	makedepends = python-installer
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = https://github.com/astral-sh/ruff/archive/refs/tags/v0.1.0/ruff-0.1.0.tar.gz
	sha512sums = 888704c4e708d12f63da9bda67018595a3b50e9f4929c221a7356a2add8020de5146d9aa80c2a5c5f0e250f3e31aa37f250e6120cdfdd29587d1b7efd5d4677c
	b2sums = b3cf28efa36c4b06e7fe2d1338e136142a5df7b52ba47500dcd39789012b22278f8f088c7c5f686266d4a43b8326a43b13fe3f42c41842adb6b77c06b809f2b6

pkgname = ruff

pkgname = python-ruff
	depends = python
	depends = ruff
