pkgbase = ruff
	pkgdesc = An extremely fast Python linter, written in Rust
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/astral-sh/ruff
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = maturin
	makedepends = python-installer
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = https://github.com/astral-sh/ruff/archive/refs/tags/v0.1.1/ruff-0.1.1.tar.gz
	sha512sums = 57e5679e83b0e6725662fd762af7581226eec72626eb7789e36de73bf291a70cb88f51cad64872d779ec7a4bf23f77991068697b11de29019514bbf1f1c2c766
	b2sums = d47c5920de8687f5e8b19c62e3be8c69cc11c1bfb8d7999c33216a8a285ca844ff7b530c5019da1c69e99e3821f49187f8d0122e61a44b911b1d14bce5ab894b

pkgname = ruff

pkgname = python-ruff
	depends = python
	depends = ruff
