pkgbase = qt5-networkauth
	pkgdesc = Network authentication module
	pkgver = 5.15.11
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt5
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = git
	depends = qt5-base
	source = git+https://invent.kde.org/qt/qt/qtnetworkauth#commit=1e3f2196bd45a5ee272b08b1d82cef29aaa89b61
	sha256sums = SKIP

pkgname = qt5-networkauth
