pkgbase = pdfjs
	pkgdesc = PDF reader in javascript
	pkgver = 3.11.174
	pkgrel = 1
	url = https://mozilla.github.io/pdf.js/
	arch = any
	license = Apache
	conflicts = pdfjs-legacy
	source = https://github.com/mozilla/pdf.js/releases/download/v3.11.174/pdfjs-3.11.174-dist.zip
	sha256sums = ba1b54ba0d26618776c036e68d61ea20f76120a616251817b09fa133150da635

pkgname = pdfjs
