pkgbase = pdfjs
	pkgdesc = PDF reader in javascript
	pkgver = 3.10.111
	pkgrel = 1
	url = https://mozilla.github.io/pdf.js/
	arch = any
	license = Apache
	conflicts = pdfjs-legacy
	source = https://github.com/mozilla/pdf.js/releases/download/v3.10.111/pdfjs-3.10.111-dist.zip
	sha256sums = 95cf3d37f7614b420c19890cd460fdadb2d6cb2b788e5156a17a732d393c6417

pkgname = pdfjs
