# ---> ArchLinuxPackages
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/


# ---> Archives
*.7z
*.rar
*.gz
*.bzip
*.bz2
*.xz
*.lzma
*.cab

# ---> systemd
*.service
*.socket
*.timer

# ---> snap
*.snap
*.service
*.timer
*.socket
cmake/HEAD
cmake/config
cmake/description
cmake/hooks/applypatch-msg.sample
cmake/hooks/commit-msg.sample
cmake/hooks/fsmonitor-watchman.sample
cmake/hooks/post-update.sample
cmake/hooks/pre-applypatch.sample
cmake/hooks/pre-commit.sample
cmake/hooks/pre-merge-commit.sample
cmake/hooks/pre-push.sample
cmake/hooks/pre-rebase.sample
cmake/hooks/pre-receive.sample
cmake/hooks/prepare-commit-msg.sample
cmake/hooks/push-to-checkout.sample
cmake/hooks/sendemail-validate.sample
cmake/hooks/update.sample
cmake/info/attributes
cmake/info/exclude
cmake/objects/pack/pack-74fba7b7428f8e0f59cc4921a7817acb5e1638a8.idx
cmake/objects/pack/pack-74fba7b7428f8e0f59cc4921a7817acb5e1638a8.pack
cmake/objects/pack/pack-74fba7b7428f8e0f59cc4921a7817acb5e1638a8.rev
cmake/packed-refs
