pkgbase = filezilla
	pkgdesc = Fast and reliable FTP, FTPS and SFTP client
	pkgver = 3.65.0
	pkgrel = 2
	url = https://filezilla-project.org/
	arch = x86_64
	license = GPL
	makedepends = boost
	makedepends = gnutls
	makedepends = libidn
	depends = dbus
	depends = libdbus-1.so
	depends = gtk3
	depends = libgtk-3.so
	depends = libgdk-3.so
	depends = hicolor-icon-theme
	depends = libfilezilla
	depends = libfilezilla.so
	depends = nettle
	depends = libnettle.so
	depends = sqlite
	depends = libsqlite3.so
	depends = wxwidgets-gtk3
	depends = xdg-utils
	source = https://download.filezilla-project.org/client/FileZilla_3.65.0_src.tar.xz
	sha256sums = d2bce4dbaa80fe035836db19441e90befcbabdef5556e9a4b3d4dd233638bdea
	sha512sums = 8fb2862eaa7aa4331a095e67335f8e2805936f4866c49f617bdfb819638ecdcbc94e15e8810d90c2eb56e04f0100b8deeb5b691a45012896963ea4ba59644d04

pkgname = filezilla
