pkgbase = qt6-svg
	pkgdesc = Classes for displaying the contents of SVG files
	pkgver = 6.6.0
	pkgrel = 2
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = zlib
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtsvg-everywhere-src-6.6.0.tar.xz
	source = qtbug-117944.patch::https://code.qt.io/cgit/qt/qtsvg.git/patch/?id=edc8ca7f
	sha256sums = 33da25fef51102f564624a7ea3e57cb4a0a31b7b44783d1af5749ac36d3c72de
	sha256sums = 6f6ebbfda32d4ef699202e1ee32805ab3fb916801f4ad722528b4f3b1fd95cbe

pkgname = qt6-svg
