pkgbase = python-send2trash
	pkgdesc = Send file to trash natively
	pkgver = 1.8.2
	pkgrel = 1
	url = https://github.com/hsoft/send2trash
	arch = any
	license = BSD
	makedepends = python
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = python-send2trash-1.8.2.tar.gz::https://github.com/hsoft/send2trash/archive/1.8.2.tar.gz
	sha256sums = 0fc5e578a8f5c34455dd76e26909e73ea61250d796d23e36804999d4318cd5c2

pkgname = python-send2trash
