pkgbase = tecla
	pkgdesc = Keyboard layout viewer
	pkgver = 45.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/tecla
	arch = x86_64
	groups = gnome
	license = GPL3
	makedepends = git
	makedepends = meson
	depends = glib2
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libxkbcommon
	depends = pango
	depends = wayland
	source = git+https://gitlab.gnome.org/GNOME/tecla.git#commit=c1291d6fe170ff22925933ab1c0085598d9c34db
	b2sums = SKIP

pkgname = tecla
