pkgbase = kwidgetsaddons5
	pkgdesc = Addons to QtWidgets
	pkgver = 5.110.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = clang
	makedepends = doxygen
	depends = qt5-base
	provides = kwidgetsaddons=5.110.0
	conflicts = kwidgetsaddons<5.111
	replaces = kwidgetsaddons<5.111
	source = https://download.kde.org/stable/frameworks/5.110/kwidgetsaddons-5.110.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.110/kwidgetsaddons-5.110.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = ca74b0e9b1a937ee6f91ced70f16b41489d4bab1aba6c8ef485bc8928186d7b3
	sha256sums = SKIP

pkgname = kwidgetsaddons5
