pkgbase = perl-term-table
	pkgdesc = Format a header and rows into a table
	pkgver = 0.018
	pkgrel = 1
	url = https://metacpan.org/release/Term-Table
	arch = any
	license = PerlArtistic
	depends = perl
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/E/EX/EXODIST/Term-Table-0.018.tar.gz
	sha512sums = 99670976b884482697d667cf5db3cc3ff60e511270eab7e0df0cd922cfcc38297d143f03579df153a62db201db8d9e81e5f8bdaa94015d0b9ee9a5c033470621

pkgname = perl-term-table
