pkgbase = perl-module-build-tiny
	pkgdesc = A tiny replacement for Module::Build
	pkgver = 0.047
	pkgrel = 1
	url = https://search.cpan.org/dist/Module-Build-Tiny
	arch = any
	license = PerlArtistic
	license = GPL
	makedepends = perl-test-harness
	depends = perl
	depends = perl-extutils-config
	depends = perl-extutils-helpers
	depends = perl-extutils-installpaths
	options = !emptydirs
	source = https://search.cpan.org/CPAN/authors/id/L/LE/LEONT/Module-Build-Tiny-0.047.tar.gz
	sha512sums = 505e8a1a1d7e4f73a820352b476c938769bee1b069eaee0df7a95ea5651f109dfb106faf82bf423ca96b15d0148fd890342ad214b4fa6481d15b8f494fe48a30

pkgname = perl-module-build-tiny
