pkgbase = plasma-disks
	pkgdesc = Monitors S.M.A.R.T. capable devices for imminent failure
	pkgver = 5.27.9
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	depends = smartmontools
	depends = kinfocenter
	source = https://download.kde.org/stable/plasma/5.27.9/plasma-disks-5.27.9.tar.xz
	source = https://download.kde.org/stable/plasma/5.27.9/plasma-disks-5.27.9.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 5ce5c6924338e12e3af2391d0de570a09b3aeb6b0be91a62612b0952362f7f46
	sha256sums = SKIP

pkgname = plasma-disks
