pkgbase = avahi
	pkgdesc = Service Discovery for Linux using mDNS/DNS-SD (compatible with Bonjour)
	pkgver = 0.8+r139+ge5b0bad
	pkgrel = 1
	epoch = 1
	url = https://github.com/lathiat/avahi
	arch = x86_64
	license = LGPL
	makedepends = doxygen
	makedepends = git
	makedepends = gobject-introspection
	makedepends = graphviz
	makedepends = gtk3
	makedepends = libevent
	makedepends = python-dbus
	makedepends = python-gobject
	makedepends = qt5-base
	makedepends = xmltoman
	depends = dbus
	depends = expat
	depends = gdbm
	depends = glib2
	depends = libcap
	depends = libdaemon
	optdepends = gtk3: avahi-discover, avahi-discover-standalone, bshell, bssh, bvnc
	optdepends = libevent: libevent bindings
	optdepends = nss-mdns: NSS support for mDNS
	optdepends = python-dbus: avahi-bookmarks, avahi-discover
	optdepends = python-gobject: avahi-bookmarks, avahi-discover
	optdepends = python-twisted: avahi-bookmarks
	optdepends = qt5-base: qt5 bindings
	provides = libavahi-client.so
	provides = libavahi-common.so
	provides = libavahi-core.so
	provides = libavahi-glib.so
	provides = libavahi-gobject.so
	provides = libavahi-libevent.so
	provides = libavahi-qt5.so
	provides = libavahi-ui-gtk3.so
	provides = libdns_sd.so
	backup = etc/avahi/hosts
	backup = etc/avahi/avahi-daemon.conf
	backup = etc/avahi/avahi-autoipd.action
	backup = etc/avahi/avahi-dnsconfd.action
	backup = usr/lib/avahi/service-types.db
	source = git+https://github.com/lathiat/avahi#commit=e5b0badfc725b7fa9e6069b6a3d5f278d1b96113
	source = 0001-Fix-avahi-browse-Invalid-service-type.patch
	source = 0002-HACK-Install-fixes.patch
	b2sums = SKIP
	b2sums = 79a881a7f45b4d6061285257b07aa0f72aa69cedc636c74ec12dd031372b3560b4013f18d821e31b323fd73af5de811a1f5ba94ba0e32ce1b1bb940af3bad54f
	b2sums = d5bbef78b13008a006d23730a86039b09b78e468961c3fbeddf42578a7d871a1ec12e46a3b85591f4d2d4eb7f64e9021f9c9bec7c2959ad523737f1a142269a7

pkgname = avahi
	depends = dbus
	depends = expat
	depends = gdbm
	depends = glib2
	depends = libcap
	depends = libdaemon
	depends = libdbus-1.so
