pkgbase = minicom
	pkgdesc = A serial communication program
	pkgver = 2.9
	pkgrel = 1
	url = https://salsa.debian.org/minicom-team/minicom
	arch = x86_64
	license = GPL
	depends = bash
	optdepends = lrzsz: for xmodem, ymodem and zmodem file transfer protocols
	backup = etc/minirc.dfl
	source = minicom-2.9.tar.gz::https://salsa.debian.org/minicom-team/minicom/-/archive/2.9/minicom-2.9.tar.gz
	sha256sums = 21e609d1b58c5de06400f6e36ed3a5060711847a63bc984b6e994d9ad1641d37

pkgname = minicom
