pkgbase = immer
	pkgdesc = Postmodern immutable and persistent data structures for C++
	pkgver = 0.8.1
	pkgrel = 1
	url = https://sinusoid.es/immer
	arch = any
	license = Boost
	makedepends = catch2
	makedepends = cmake
	source = https://github.com/arximboldi/immer/archive/v0.8.1/immer-0.8.1.tar.gz
	sha256sums = de8411c84830864604bb685dc8f2e3c0dbdc40b95b2f6726092f7dcc85e75209

pkgname = immer
