pkgbase = python-pycryptodome
	pkgdesc = Collection of cryptographic algorithms and protocols, implemented for use from Python 3.
	pkgver = 3.19.0
	pkgrel = 1
	url = https://www.pycryptodome.org/
	arch = x86_64
	license = BSD
	makedepends = gmp
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = gmp
	provides = python-crypto
	conflicts = python-crypto
	replaces = python-crypto
	source = pycryptodome-3.19.0.tar.gz::https://github.com/Legrandin/pycryptodome/archive/v3.19.0.tar.gz
	sha512sums = 1afa71336da38efb32f79d87b442a1d50537a6908ec153be7a087027a8540cebabab12922557c92e501f2d6da5c2f35466d3bbe6a3de44540de7278069691290

pkgname = python-pycryptodome
