pkgbase = kjobwidgets5
	pkgdesc = Widgets for tracking KJob instances
	pkgver = 5.111.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = doxygen
	depends = kcoreaddons5
	depends = kwidgetsaddons5
	depends = qt5-x11extras
	conflicts = kjobwidgets<5.111
	replaces = kjobwidgets<5.111
	source = https://download.kde.org/stable/frameworks/5.111/kjobwidgets-5.111.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.111/kjobwidgets-5.111.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 6a8ff4e3506bd06d85a890debe1d6e8e5072c406051d8405690aae4017f9bb21
	sha256sums = SKIP

pkgname = kjobwidgets5
