pkgbase = kjobwidgets5
	pkgdesc = Widgets for tracking KJob instances
	pkgver = 5.110.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = clang
	makedepends = doxygen
	depends = kcoreaddons5
	depends = kwidgetsaddons5
	depends = qt5-x11extras
	provides = kjobwidgets=5.110.0
	conflicts = kjobwidgets<5.111
	replaces = kjobwidgets<5.111
	source = https://download.kde.org/stable/frameworks/5.110/kjobwidgets-5.110.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.110/kjobwidgets-5.110.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 02861c662ab3b70e137eb805395601c93b231dd245bf5855bc31c03ad58b87ae
	sha256sums = SKIP

pkgname = kjobwidgets5
