pkgbase = zvbi
	pkgdesc = VBI capture and decoding library
	pkgver = 0.2.42
	pkgrel = 1
	url = http://zapping.sourceforge.net/cgi-bin/view/ZVBI/WebHome
	arch = x86_64
	license = BSD
	license = GPL2
	license = LGPL2.1
	license = MIT
	makedepends = git
	depends = libpng
	depends = libx11
	source = git+https://github.com/zapping-vbi/zvbi.git#tag=3785481f51f41a49e28f2b7f6fd5bd9187d24ae1
	validpgpkeys = FA26CA784BE188927F22B99F6570EA01146F7354
	b2sums = SKIP

pkgname = zvbi
