pkgbase = knotifications5
	pkgdesc = Abstraction for system notifications
	pkgver = 5.111.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = doxygen
	makedepends = qt5-declarative
	depends = libcanberra
	depends = libdbusmenu-qt5
	depends = kwindowsystem5
	depends = kconfig5
	depends = kcoreaddons5
	depends = qt5-speech
	depends = libxtst
	optdepends = qt5-declarative: QML bindings
	conflicts = knotifications<5.111
	replaces = knotifications<5.111
	source = https://download.kde.org/stable/frameworks/5.111/knotifications-5.111.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.111/knotifications-5.111.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 0d39a534d966dc2ab92ee1e384b71643dadc17febe77482ca8d9daf840f3ad6c
	sha256sums = SKIP

pkgname = knotifications5
