pkgbase = python-jupyter-core
	pkgdesc = Jupyter core package. A base package on which Jupyter projects rely
	pkgver = 5.4.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/jupyter_core
	arch = any
	license = BSD
	checkdepends = python-pip
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-argcomplete
	depends = python-traitlets
	depends = python-platformdirs
	provides = python-jupyter_core
	conflicts = python-jupyter_core
	replaces = python-jupyter_core
	source = https://files.pythonhosted.org/packages/source/j/jupyter_core/jupyter_core-5.4.0.tar.gz
	sha256sums = e4b98344bb94ee2e3e6c4519a97d001656009f9cb2b7f2baf15b3c205770011d

pkgname = python-jupyter-core
