pkgbase = jupyter-nbconvert
	pkgdesc = Jupyter Notebook Conversion
	pkgver = 7.9.2
	pkgrel = 1
	url = https://pypi.python.org/pypi/nbconvert
	arch = any
	license = BSD
	checkdepends = python-flaky
	checkdepends = python-ipywidgets
	checkdepends = python-pyppeteer
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = ipython
	depends = jupyter-nbclient
	depends = jupyter-nbformat
	depends = jupyterlab-pygments
	depends = python
	depends = python-beautifulsoup4
	depends = python-bleach
	depends = python-defusedxml
	depends = python-importlib-metadata
	depends = python-jinja
	depends = python-jupyter-client
	depends = python-jupyter-core
	depends = python-markupsafe
	depends = python-mistune
	depends = python-packaging
	depends = python-pandocfilters
	depends = python-pygments
	depends = python-tinycss2
	depends = python-tornado
	depends = python-traitlets
	optdepends = pandoc: non-html conversion output
	optdepends = python-pyppeteer: for webPDF conversion support
	source = https://github.com/jupyter/nbconvert/archive/v7.9.2/jupyter-nbconvert-7.9.2.tar.gz
	sha256sums = 2566227ce9f15df760bd0a5206d63123634ef3b3feeed37dd7776b6ed2ff2b03

pkgname = jupyter-nbconvert
