pkgbase = python-joblib
	pkgdesc = Set of tools to provide lightweight pipelining in Python
	pkgver = 1.3.2
	pkgrel = 1
	url = https://joblib.readthedocs.io/
	arch = any
	license = BSD
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-numpy: for array manipulation
	optdepends = python-lz4: for compressed serialization
	source = python-joblib-1.3.2.tar.gz::https://github.com/joblib/joblib/archive/1.3.2.tar.gz
	sha256sums = a69ed639827b5cee9e5ea97f25535cbdc4df7068a5657756e6caf1b5ca26f479

pkgname = python-joblib
