# ---> ArchLinuxPackages
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

*.service
*.timer
*.socket
amule/HEAD
amule/config
amule/description
amule/hooks/applypatch-msg.sample
amule/hooks/commit-msg.sample
amule/hooks/fsmonitor-watchman.sample
amule/hooks/post-update.sample
amule/hooks/pre-applypatch.sample
amule/hooks/pre-commit.sample
amule/hooks/pre-merge-commit.sample
amule/hooks/pre-push.sample
amule/hooks/pre-rebase.sample
amule/hooks/pre-receive.sample
amule/hooks/prepare-commit-msg.sample
amule/hooks/push-to-checkout.sample
amule/hooks/sendemail-validate.sample
amule/hooks/update.sample
amule/info/attributes
amule/info/exclude
amule/objects/pack/pack-39c2cd8325aa3e09e71a008fd67f93ba4bd2174f.idx
amule/objects/pack/pack-39c2cd8325aa3e09e71a008fd67f93ba4bd2174f.pack
amule/objects/pack/pack-39c2cd8325aa3e09e71a008fd67f93ba4bd2174f.rev
amule/packed-refs
