pkgbase = java-xmlgraphics-commons
	pkgdesc = Common components between FOP and Batik
	pkgver = 2.9
	pkgrel = 1
	url = https://xmlgraphics.apache.org/commons/
	arch = any
	license = Apache
	depends = java-runtime>=9
	source = https://www.apache.org/dist/xmlgraphics/commons/binaries/xmlgraphics-commons-2.9-bin.tar.gz
	source = https://www.apache.org/dist/xmlgraphics/commons/binaries/xmlgraphics-commons-2.9-bin.tar.gz.asc
	validpgpkeys = 5C9A30FF22B2C02F30261C305B93F1DF7CDB6DEA
	sha512sums = 66b88bc2d2b80f119e0588fd514ebd08b60d281d4f11ed671181ed501d442806eeec2a0edd94f559d38a26c2cc3f20513065208f5055b0d915b78682ede62e64
	sha512sums = SKIP

pkgname = java-xmlgraphics-commons
