pkgbase = qt5-graphicaleffects
	pkgdesc = Graphical effects for use with Qt Quick 2
	pkgver = 5.15.11
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt5
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = git
	depends = qt5-declarative
	source = git+https://invent.kde.org/qt/qt/qtgraphicaleffects#commit=cce7d784237cd2dd4af1abe2757d048e34e02685
	sha256sums = SKIP

pkgname = qt5-graphicaleffects
