pkgbase = qt6-doc
	pkgver = 6.5.3
	pkgrel = 1
	url = https://www.qt.io
	arch = any
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	makedepends = mariadb-libs
	makedepends = unixodbc
	makedepends = postgresql
	makedepends = alsa-lib
	makedepends = gst-plugins-base-libs
	makedepends = gtk3
	makedepends = libpulse
	makedepends = cups
	makedepends = freetds
	makedepends = vulkan-headers
	makedepends = clang
	makedepends = python
	makedepends = llvm
	makedepends = qt6-tools
	makedepends = qt6-declarative
	source = https://download.qt.io/official_releases/qt/6.5/6.5.3/single/qt-everywhere-src-6.5.3.tar.xz
	sha256sums = 7cda4d119aad27a3887329cfc285f2aba5da85601212bcb0aea27bd6b7b544cb

pkgname = qt6-doc
	pkgdesc = A cross-platform application and UI framework (Documentation)

pkgname = qt6-examples
	pkgdesc = Examples and demos from qt6 documentation
	depends = qt6-doc
