pkgbase = qt6-doc
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = any
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = alsa-lib
	makedepends = clang
	makedepends = cmake
	makedepends = cups
	makedepends = freetds
	makedepends = gst-plugins-base-libs
	makedepends = gtk3
	makedepends = libpulse
	makedepends = llvm
	makedepends = mariadb-libs
	makedepends = ninja
	makedepends = postgresql
	makedepends = python
	makedepends = qt6-declarative
	makedepends = qt6-tools
	makedepends = unixodbc
	makedepends = vulkan-headers
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/single/qt-everywhere-src-6.6.0.tar.xz
	sha256sums = 652538fcb5d175d8f8176c84c847b79177c87847b7273dccaec1897d80b50002

pkgname = qt6-doc
	pkgdesc = A cross-platform application and UI framework (Documentation)

pkgname = qt6-examples
	pkgdesc = Examples and demos from qt6 documentation
	depends = qt6-doc
