pkgbase = qt6-speech
	pkgdesc = Qt Speech support
	pkgver = 6.5.3
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-declarative
	makedepends = qt6-multimedia
	makedepends = speech-dispatcher
	makedepends = flite
	depends = qt6-base
	optdepends = flite: flite TTS backend
	optdepends = qt6-multimedia: flite TTS backend
	optdepends = speech-dispatcher: speech-dispatcher TTS backend
	optdepends = qt6-declarative: QML bindings
	source = https://download.qt.io/official_releases/qt/6.5/6.5.3/submodules/qtspeech-everywhere-src-6.5.3.tar.xz
	sha256sums = 79c2f42c4d921a7e73825ead5681b5b32eac52f5e180e1899bb86e68206b0b9c

pkgname = qt6-speech
