pkgbase = qt6-speech
	pkgdesc = Qt Speech support
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = flite
	makedepends = ninja
	makedepends = qt6-declarative
	makedepends = speech-dispatcher
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = qt6-multimedia
	optdepends = flite: flite TTS backend
	optdepends = speech-dispatcher: speech-dispatcher TTS backend
	optdepends = qt6-declarative: QML bindings
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtspeech-everywhere-src-6.6.0.tar.xz
	sha256sums = 969bdbff826808f0cfd80e8f2e357f00174489f30d9f895390cf59814abe9f9c

pkgname = qt6-speech
