pkgbase = kde-development-environment-meta
	pkgdesc = Metapackage to install a full KDE development environment
	pkgver = 20231014
	pkgrel = 1
	url = https://phabricator.kde.org/T3722
	arch = any
	license = LGPL
	depends = akonadi-calendar
	depends = akonadi-contacts
	depends = akonadi-mime
	depends = akonadi-notes
	depends = attica5
	depends = baloo-widgets
	depends = baloo5
	depends = bash-completion
	depends = bear
	depends = bluez-qt5
	depends = breeze-icons
	depends = calendarsupport
	depends = cmake
	depends = extra-cmake-modules
	depends = frameworkintegration5
	depends = gcc
	depends = gettext
	depends = git
	depends = kactivities-stats5
	depends = kactivities5
	depends = karchive5
	depends = kauth5
	depends = kbookmarks5
	depends = kcalendarcore5
	depends = kcmutils5
	depends = kcodecs5
	depends = kcompletion5
	depends = kconfig5
	depends = kconfigwidgets5
	depends = kcontacts5
	depends = kcoreaddons5
	depends = kcrash5
	depends = kdav5
	depends = kdbusaddons5
	depends = kdeclarative5
	depends = kdelibs4support
	depends = kdesignerplugin
	depends = kdesu5
	depends = kdnssd5
	depends = kdoctools5
	depends = kemoticons
	depends = kfilemetadata5
	depends = kglobalaccel5
	depends = kguiaddons5
	depends = kholidays5
	depends = khtml
	depends = ki18n5
	depends = kiconthemes5
	depends = kidentitymanagement
	depends = kidletime5
	depends = kimap
	depends = kinit
	depends = kio5
	depends = kirigami-addons5
	depends = kirigami2
	depends = kitemmodels5
	depends = kitemviews5
	depends = kjobwidgets5
	depends = kjs
	depends = kmailtransport
	depends = kmime
	depends = knewstuff5
	depends = knotifications5
	depends = knotifyconfig5
	depends = konqueror
	depends = kpackage5
	depends = kparts5
	depends = kpeople5
	depends = kpeoplevcard
	depends = kpimtextedit
	depends = kplotting5
	depends = kpty5
	depends = kquickcharts5
	depends = kross
	depends = krunner5
	depends = kservice5
	depends = ktextaddons
	depends = ktexteditor5
	depends = ktextwidgets5
	depends = kunitconversion5
	depends = kwallet5
	depends = kwayland5
	depends = kweathercore
	depends = kwidgetsaddons5
	depends = kwindowsystem5
	depends = kxmlgui5
	depends = libakonadi
	depends = libkcddb
	depends = libkcompactdisc
	depends = libkdcraw
	depends = libkdegames
	depends = libkdepim
	depends = libkexiv2
	depends = libkleo
	depends = libkmahjongg
	depends = libksane
	depends = libkscreen
	depends = libksysguard
	depends = libktorrent
	depends = mailcommon
	depends = make
	depends = modemmanager-qt5
	depends = networkmanager-qt5
	depends = ninja
	depends = plasma-framework5
	depends = prison5
	depends = pulseaudio-qt
	depends = purpose5
	depends = qqc2-desktop-style5
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-webengine
	depends = solid5
	depends = sonnet5
	depends = syndication5
	depends = syntax-highlighting5
	depends = threadweaver5
	optdepends = kate
	optdepends = kdevelop
	optdepends = plasma-sdk
	optdepends = plasma-workspace
	source = org.kde.development.appdata.xml
	source = kdesdk-devenv-dependencies.svg
	sha256sums = c54fd17080088cc519b4af879cdb553a800374973d2ee70646c304afeb6c3044
	sha256sums = 92af2376f53429735903ff6706344566c7f0f1aa6cfd5d2cf7aaad7097c71238

pkgname = kde-development-environment-meta
