pkgbase = perl-lwp-protocol-https
	pkgdesc = Provide https support for LWP::UserAgent
	pkgver = 6.11
	pkgrel = 1
	url = https://metacpan.org/release/LWP-Protocol-https
	arch = any
	license = PerlArtistic
	license = GPL
	checkdepends = perl-test-requiresinternet
	checkdepends = perl-test-needs
	depends = ca-certificates
	depends = perl-io-socket-ssl
	depends = perl-net-http
	depends = perl-libwww
	options = !emptydirs
	source = https://search.cpan.org/CPAN/authors/id/O/OA/OALDERS/LWP-Protocol-https-6.11.tar.gz
	sha512sums = 1e74c45898778c58d00eefbdd04a3ed47cf38164296278bec66c9b85f48ad635931873d2bf5423be8562df2c22b4bbf8eff0502bd29ba1c790bbbf76f3616ecf

pkgname = perl-lwp-protocol-https
