pkgbase = python-mediafile
	pkgdesc = Elegant audio file tagging
	pkgver = 0.12.0
	pkgrel = 1
	url = https://github.com/beetbox/mediafile
	arch = any
	license = MIT
	checkdepends = python-nose
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python-mutagen
	depends = python-six
	source = git+https://github.com/beetbox/mediafile.git#tag=11c180078d6775f7c72dd182d9b6762061b677c7
	sha256sums = SKIP

pkgname = python-mediafile
