pkgbase = python-moto
	pkgdesc = Moto is a library to mock out the boto library.
	pkgver = 4.2.5
	pkgrel = 1
	url = https://github.com/spulec/moto
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-ordering
	checkdepends = python-freezegun
	checkdepends = python-yaml
	checkdepends = python-jose
	checkdepends = python-openapi-spec-validator
	checkdepends = python-docker
	checkdepends = python-graphql-core
	checkdepends = python-jsondiff
	checkdepends = python-aws-xray-sdk
	checkdepends = python-cfn-lint
	checkdepends = python-sshpubkeys
	checkdepends = python-pyparsing
	checkdepends = python-py-partiql-parser
	checkdepends = python-crc32c
	checkdepends = python-flask
	checkdepends = python-flask-cors
	checkdepends = python-multipart
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-boto3
	depends = python-botocore
	depends = python-cryptography
	depends = python-requests
	depends = python-xmltodict
	depends = python-werkzeug
	depends = python-dateutil
	depends = python-responses
	depends = python-jinja
	depends = python-urllib3
	optdepends = python-yaml: for apigatewayv2, cloudformation, s3 and ssm
	optdepends = python-jose: for apigateway, cloudformation and cognitoidp
	optdepends = python-openapi-spec-validator: for apigateway and cloudformation
	optdepends = python-docker: for awslambda, batch, cloudformation, dynamodb and dynamodbstreams
	optdepends = python-graphql-core: For appsync and cloudformation
	optdepends = python-jsondiff: for iotdata and cloudformation
	optdepends = python-aws-xray-sdk: for xray and cloudformation
	optdepends = python-cfn-lint: for cloudformation
	optdepends = python-sshpubkeys: for cloudformation, directoryservice, ebs, ec2, efs, eks and route53resolver
	optdepends = python-pyparsing: for glue and cloudformation
	optdepends = python-py-partiql-parser: for cloudformation and s3
	optdepends = python-crc32c: for s3
	optdepends = python-flask: for moto_server
	optdepends = python-flask-cors: for moto_server
	optdepends = python-multipart: for moto_proxy
	source = https://github.com/getmoto/moto/archive/refs/tags/4.2.5/python-moto-4.2.5.tar.gz
	source = fix-tests.diff
	source = typing-extensions.diff
	source = add-requires_docker.diff
	sha256sums = f5f31db40db0a1366fd26ee562ba80ae4fdb8aa9c5f3184c1045ad2470bf251a
	sha256sums = 21305cdf3d650ced1acb1d0f7dde8760b26e32a94c56a5571e798d6b6976cf5a
	sha256sums = 8406f4c68b8b43c3666fe5a153de1321a9bc9f02ad19910c6078d8189d8cb24f
	sha256sums = 353c77431377ebafef1d433b3a433646117d882aa413a9079e5fceb98d90e3ad

pkgname = python-moto
