pkgbase = python-mitmproxy-rs
	pkgdesc = Python bindings for mitmproxy's Rust code
	pkgver = 0.3.11
	pkgrel = 1
	url = https://github.com/mitmproxy/mitmproxy_rs
	arch = x86_64
	license = MIT
	makedepends = maturin
	makedepends = python-installer
	makedepends = cargo
	depends = python
	options = !lto
	source = https://github.com/mitmproxy/mitmproxy_rs/archive/0.3.11/python-mitmproxy-rs-0.3.11.tar.gz
	sha512sums = 1ca6271fa875ed149f12f6ca5f34a308496b31a2a462db743d1d65b9895f9535f031e56d002cabf90e60c54e329a04596c6d8b5028d3bb564452676bbe75657e

pkgname = python-mitmproxy-rs
