pkgbase = threadweaver5
	pkgdesc = High-level multithreading framework
	pkgver = 5.110.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = qt5-base
	provides = threadweaver=5.110.0
	conflicts = threadweaver<5.111
	replaces = threadweaver<5.111
	source = https://download.kde.org/stable/frameworks/5.110/threadweaver-5.110.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.110/threadweaver-5.110.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = a0ea5936aafa0226648b89d8c12c25557ae42c975ad08fefd6cb67f04f25be20
	sha256sums = SKIP

pkgname = threadweaver5
