pkgbase = threadweaver5
	pkgdesc = High-level multithreading framework
	pkgver = 5.111.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = qt5-base
	conflicts = threadweaver<5.111
	replaces = threadweaver<5.111
	source = https://download.kde.org/stable/frameworks/5.111/threadweaver-5.111.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.111/threadweaver-5.111.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 8b1b6ceb38d3f3b32cead7ff8883dab3521cdca0ece8cc8e10ad6d59b46db766
	sha256sums = SKIP

pkgname = threadweaver5
