pkgbase = qt6-wayland
	pkgdesc = Provides APIs for Wayland
	pkgver = 6.5.3
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = qt6-declarative
	depends = libxcomposite
	source = https://download.qt.io/official_releases/qt/6.5/6.5.3/submodules/qtwayland-everywhere-src-6.5.3.tar.xz
	sha256sums = f72a8588b7ff9b81bb311f2c8b541c11788b81003537b010360ca80eae52369f

pkgname = qt6-wayland
