pkgbase = koko
	pkgdesc = Image gallery application
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/koko/
	arch = x86_64
	groups = kde-applications
	groups = kde-graphics
	license = GPL
	license = LGPL
	makedepends = extra-cmake-modules
	depends = kirigami2
	depends = kdeclarative5
	depends = qt5-location
	depends = kfilemetadata5
	depends = kquickimageeditor
	source = https://download.kde.org/stable/release-service/23.08.2/src/koko-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/koko-23.08.2.tar.xz.sig
	source = https://sources.archlinux.org/other/packages/koko/cities1000-2023-07-30.zip
	source = https://sources.archlinux.org/other/packages/koko/admin1CodesASCII-2023-07-30.txt
	source = https://sources.archlinux.org/other/packages/koko/admin2Codes-2023-07-30.txt
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 378d344d0bb78c87aae9244bb397fd5fc702d5b8117f038c7568874837832282
	sha256sums = SKIP
	sha256sums = 7e79dd7c8deaa0c3cc05b61a0762149368ec78a412899d7c1b38cb4506022858
	sha256sums = 52f5125b29bcf8dd864ede32f8ed81fe189bc18cd21b7e20212f15686904d102
	sha256sums = b29e85bea1b352850cb3ef04ab7c1d7df39d6467f7d2459a1748b263176ec865

pkgname = koko
