pkgbase = pam_wrapper
	pkgdesc = Tool to test PAM applications and PAM modules
	pkgver = 1.1.5
	pkgrel = 1
	url = https://cwrap.org/pam_wrapper.html
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = cmocka
	makedepends = doxygen
	makedepends = git
	makedepends = graphviz
	makedepends = ninja
	depends = pam
	depends = python
	provides = libpam_wrapper.so
	provides = libpamtest.so
	source = git+https://git.samba.org/pam_wrapper.git#commit=b223df9f35e750811f812c8cfb85bc81c196102e
	b2sums = SKIP

pkgname = pam_wrapper
