pkgbase = intel-gmmlib
	pkgdesc = Intel Graphics Memory Management Library
	pkgver = 22.3.12
	pkgrel = 1
	url = https://github.com/intel/gmmlib/
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = gcc-libs
	provides = gmmlib
	conflicts = gmmlib
	replaces = gmmlib
	options = !emptydirs
	source = https://github.com/intel/gmmlib/archive/intel-gmmlib-22.3.12.tar.gz
	sha256sums = 14ec859936aea696a65e6b9488e95a0ac26b15126ef65b20956ef219004dd9a6

pkgname = intel-gmmlib
