pkgbase = kross
	pkgdesc = Multi-language application scripting
	pkgver = 5.110.0
	pkgrel = 2
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5-aids
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = qt5-tools
	depends = kparts5
	depends = qt5-script
	source = https://download.kde.org/stable/frameworks/5.110/portingAids/kross-5.110.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.110/portingAids/kross-5.110.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = a517e17b2cb87acb4024e1d00711b2f0e1a1040dae72a08ded65b75573d73f99
	sha256sums = SKIP

pkgname = kross
