pkgbase = libkexiv2
	pkgdesc = A library to manipulate pictures metadata
	pkgver = 23.08.2
	pkgrel = 1
	url = https://www.kde.org/
	arch = x86_64
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	depends = qt5-base
	depends = exiv2
	source = https://download.kde.org/stable/release-service/23.08.2/src/libkexiv2-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/libkexiv2-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = d06e36a408bf2e846a18056a1f15e61d981fa2a1fceb81f7c15136604319d033
	sha256sums = SKIP

pkgname = libkexiv2
