pkgbase = python-nbxmpp
	pkgdesc = A Python library to use Jabber/XMPP networks in a non-blocking way
	pkgver = 4.3.3
	pkgrel = 1
	url = https://dev.gajim.org/gajim/python-nbxmpp/
	arch = any
	license = GPL3
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = libsoup3
	depends = python-gobject
	depends = python-idna
	depends = python-precis_i18n
	depends = python-packaging
	source = https://dev.gajim.org/gajim/python-nbxmpp/-/archive/4.3.3/python-nbxmpp-4.3.3.tar.gz
	sha256sums = c9cdb54aad692decaa869ec310be4ed4622cf936f920e98b8015818c958f949a
	b2sums = b8cb2ac3389cdfdf43a36f553268d00dab2e027491f7dff6189fa483bea86f8a2716211564c0ad4927bc9e604e11efc62beca81daddaeba95ab2ca129805521f

pkgname = python-nbxmpp
