pkgbase = python-importlib_resources
	pkgdesc = Design and implementation for a planned importlib.resources
	pkgver = 6.1.0
	pkgrel = 1
	url = https://github.com/python/importlib_resources
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-enabler
	checkdepends = python-tests
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-toml
	makedepends = python-wheel
	depends = python
	depends = python-zipp
	provides = python-importlib-resources
	source = git+https://github.com/python/importlib_resources#tag=b811debda54825282541d3453b8743b04d357ffb
	sha512sums = SKIP
	b2sums = SKIP

pkgname = python-importlib_resources
