pkgbase = kpublictransport
	pkgdesc = Library to assist with accessing public transport timetables and other data
	pkgver = 23.08.2
	pkgrel = 1
	url = https://www.kde.org
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = protobuf
	makedepends = qt5-tools
	makedepends = doxygen
	depends = qt5-declarative
	depends = networkmanager-qt5
	depends = ki18n5
	source = https://download.kde.org/stable/release-service/23.08.2/src/kpublictransport-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kpublictransport-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 14b83b3138798774cbf28f77f95b3fd69e34a31e7dbfea907c02704c0e81cb83
	sha256sums = SKIP

pkgname = kpublictransport
