pkgbase = gjs
	pkgdesc = Javascript Bindings for GNOME
	pkgver = 1.78.0
	pkgrel = 2
	epoch = 2
	url = https://wiki.gnome.org/Projects/Gjs
	arch = x86_64
	license = GPL
	checkdepends = gtk3
	checkdepends = gtk4
	checkdepends = xorg-server-xvfb
	makedepends = dbus
	makedepends = git
	makedepends = gobject-introspection
	makedepends = meson
	depends = cairo
	depends = dconf
	depends = glib2
	depends = gobject-introspection-runtime
	depends = js115
	depends = libffi
	depends = libgirepository
	depends = libsysprof-capture
	depends = libx11
	depends = readline
	provides = libgjs.so
	source = git+https://gitlab.gnome.org/GNOME/gjs.git#commit=ff65456cff40b4d9f8b74e732188393e04150ac4
	b2sums = SKIP

pkgname = gjs
	depends = cairo
	depends = dconf
	depends = glib2
	depends = gobject-introspection-runtime
	depends = js115
	depends = libffi
	depends = libgirepository
	depends = libsysprof-capture
	depends = libx11
	depends = readline
	depends = libreadline.so
