pkgbase = qt6-connectivity
	pkgdesc = Provides access to Bluetooth hardware
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = bluez-libs
	depends = gcc-libs
	depends = glibc
	depends = pcsclite
	depends = qt6-base
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtconnectivity-everywhere-src-6.6.0.tar.xz
	sha256sums = 1c29c26247c28ef19b9ca87c38b4d61a1f94ee9021897962e0d5ba215f1c4010

pkgname = qt6-connectivity
