pkgbase = python-simplejson
	pkgdesc = Simple, fast and extensible JSON decoder/encoder
	pkgver = 3.19.2
	pkgrel = 1
	url = https://github.com/simplejson/simplejson
	arch = x86_64
	license = MIT
	checkdepends = python-nose
	checkdepends = python-pytest-runner
	makedepends = git
	makedepends = python-setuptools
	depends = python
	source = git+https://github.com/simplejson/simplejson#commit=532f41f870f6287ffe73882a313c2cc9c70f3cb6
	b2sums = SKIP

pkgname = python-simplejson
