pkgbase = python-psutil
	pkgdesc = A cross-platform process and system utilities module for Python
	pkgver = 5.9.6
	pkgrel = 1
	url = https://github.com/giampaolo/psutil
	arch = x86_64
	license = custom: BSD
	checkdepends = net-tools
	checkdepends = procps-ng
	checkdepends = python-pytest
	makedepends = python-setuptools
	depends = python
	source = https://github.com/giampaolo/psutil/archive/release-5.9.6.tar.gz
	sha512sums = 716a39e5a5e278717a14b74786f8b941f0b4335f6e0c4de338346b825925e8793315f41908ec10bbb97ed6f9a9e5ffca27e031377025f03d73300876b9ff60e8

pkgname = python-psutil
