pkgbase = v2ray-domain-list-community
	pkgdesc = A list of domains to be used as geosites for routing purpose in Project V
	pkgver = 20231025080408
	pkgrel = 1
	url = https://github.com/v2fly/domain-list-community
	arch = any
	license = MIT
	makedepends = go
	makedepends = git
	source = git+https://github.com/v2fly/domain-list-community.git#commit=596e50b6a2507ea6602ccba114e7808b6af5d4c8
	sha512sums = SKIP

pkgname = v2ray-domain-list-community
