pkgbase = v2ray-domain-list-community
	pkgdesc = A list of domains to be used as geosites for routing purpose in Project V
	pkgver = 20231005164032
	pkgrel = 1
	url = https://github.com/v2fly/domain-list-community
	arch = any
	license = MIT
	makedepends = go
	makedepends = git
	source = git+https://github.com/v2fly/domain-list-community.git#commit=f173cf1a6f6b53fcdb9fef3df6e6922e63792833
	sha512sums = SKIP

pkgname = v2ray-domain-list-community
