pkgbase = gala
	pkgdesc = The Pantheon Window Manager
	pkgver = 7.1.2
	pkgrel = 2
	url = https://github.com/elementary/gala
	arch = x86_64
	groups = pantheon
	license = GPL3
	makedepends = cmake
	makedepends = git
	makedepends = gnome-common
	makedepends = intltool
	makedepends = meson
	makedepends = vala
	depends = atk
	depends = bamf
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = gnome-desktop
	depends = gtk3
	depends = json-glib
	depends = libcanberra
	depends = libdrm
	depends = libgee
	depends = libgexiv2
	depends = libgl
	depends = libgranite.so
	depends = libx11
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxrandr
	depends = libxtst
	depends = mesa
	depends = mutter
	depends = pango
	depends = plank
	depends = wayland
	provides = libgala.so
	source = git+https://github.com/elementary/gala.git#tag=8de5df730b166b36d67c59cefc8782c4f06b3055
	b2sums = SKIP

pkgname = gala
