pkgbase = python-zope-i18nmessageid
	pkgdesc = Message Identifiers for internationalization
	pkgver = 6.1.0
	pkgrel = 1
	url = https://github.com/zopefoundation/zope.i18nmessageid
	arch = x86_64
	license = ZPL
	checkdepends = python-zope-testrunner
	depends = python-setuptools
	source = python-zope-i18nmessageid-6.1.0.tar.gz::https://github.com/zopefoundation/zope.i18nmessageid/archive/6.1.0.tar.gz
	sha512sums = 31a18cf8f4639d21e9d3a8eeb39205e778521353f49a53a0bc807ca520ca437cfd83aeb1246e4631b323f1197f02b1246b6d254e2f0d917b6a3353426fb9725e

pkgname = python-zope-i18nmessageid
