pkgbase = nautilus
	pkgdesc = Default file manager for GNOME
	pkgver = 45.0
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/Files
	arch = x86_64
	license = GPL
	checkdepends = python-gobject
	makedepends = appstream-glib
	makedepends = gi-docgen
	makedepends = git
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = tracker3-miners
	depends = cairo
	depends = dconf
	depends = gdk-pixbuf2
	depends = glib2
	depends = gnome-autoar
	depends = gnome-desktop-4
	depends = gstreamer
	depends = gst-plugins-base-libs
	depends = gtk4
	depends = gvfs
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libcloudproviders
	depends = libgexiv2
	depends = libportal
	depends = libportal-gtk4
	depends = pango
	depends = tracker3
	source = git+https://gitlab.gnome.org/GNOME/nautilus.git#commit=a15c054a601d99cce1086581da762d25b6fcaa28
	b2sums = SKIP

pkgname = nautilus
	groups = gnome
	depends = cairo
	depends = dconf
	depends = gdk-pixbuf2
	depends = glib2
	depends = gnome-autoar
	depends = gnome-desktop-4
	depends = gstreamer
	depends = gst-plugins-base-libs
	depends = gtk4
	depends = gvfs
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libcloudproviders
	depends = libgexiv2
	depends = libportal
	depends = libportal-gtk4
	depends = pango
	depends = tracker3
	depends = libnautilus-extension.so
	optdepends = nautilus-sendto: Send files via mail extension
	optdepends = tracker3-miners: Full text search and metadata-based renaming

pkgname = libnautilus-extension
	pkgdesc = Extension interface for Nautilus
	depends = gcc-libs
	depends = glib2
	provides = libnautilus-extension.so

pkgname = libnautilus-extension-docs
	pkgdesc = Extension interface for Nautilus (documentation)
	depends = 
