pkgbase = gnome-applets
	pkgdesc = Small applications for the GNOME Panel
	pkgver = 3.50.0
	pkgrel = 1
	url = https://wiki.gnome.org/Projects/GnomeApplets
	arch = x86_64
	license = GPL
	makedepends = itstool
	depends = cpupower
	depends = gnome-panel
	depends = libgtop
	depends = tracker3
	depends = upower
	depends = libnotify
	optdepends = tracker3-miners: Search bar
	source = https://download.gnome.org/sources/gnome-applets/3.50/gnome-applets-3.50.0.tar.xz
	sha256sums = 6f791a831f1643e62f389eec08b1ea3df1f3afed43ab34096fa21cfa78dc80a5

pkgname = gnome-applets
