pkgbase = neochat
	pkgdesc = A client for matrix, the decentralized communication protocol
	pkgver = 23.08.2
	pkgrel = 2
	url = https://apps.kde.org/neochat/
	arch = x86_64
	groups = kde-applications
	groups = kde-network
	license = GPL
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qcoro-qt5
	makedepends = kdoctools5
	depends = qqc2-desktop-style5
	depends = kirigami-addons5
	depends = kquickcharts5
	depends = qt5-location
	depends = libquotient
	depends = kquickimageeditor
	depends = kitemmodels5
	depends = kio5
	depends = syntax-highlighting5
	depends = cmark
	depends = hicolor-icon-theme
	source = https://download.kde.org/stable/release-service/23.08.2/src/neochat-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/neochat-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 5d292d1c9c7bf2d16cb002fa80b40c865251e3f4c39d1adcadf59c52fd6d1789
	sha256sums = SKIP

pkgname = neochat
