pkgbase = qt6-location
	pkgdesc = Helps you create viable mapping solutions using the data available from some of the popular location services
	pkgver = 6.5.3
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-shadertools
	depends = qt6-declarative
	depends = qt6-positioning
	source = https://download.qt.io/official_releases/qt/6.5/6.5.3/submodules/qtlocation-everywhere-src-6.5.3.tar.xz
	sha256sums = 530cd1d597bfa7018cddd243594b47ee4252544b577ce1e9976c7253ca64e7cc

pkgname = qt6-location
