pkgbase = qt6-location
	pkgdesc = Helps you create viable mapping solutions using the data available from some of the popular location services
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-positioning
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtlocation-everywhere-src-6.6.0.tar.xz
	sha256sums = f5968be76108bf22af334b403027cf0a859284cb824250e728bb8daca2d70794

pkgname = qt6-location
