pkgbase = groovy
	pkgdesc = Programming language for the Java platform, inspired by Python, Ruby and Smalltalk
	pkgver = 4.0.15
	pkgrel = 1
	url = https://groovy-lang.org/
	arch = any
	license = Apache
	makedepends = gendesk
	depends = bash
	depends = java-environment
	optdepends = groovy-docs: html and pdf documentation for Groovy
	source = https://groovy.jfrog.io/artifactory/dist-release-local/groovy-zips/apache-groovy-binary-4.0.15.zip
	sha256sums = 31d96c1e1cf75c7e8173cdcef9bed1e3edd4e87e6400400584220e0bb42892e5
	b2sums = 926d8a6ff8c08dd025a0ad388eb08bc9a1b96e5e748a1eee482ab5c4f898e55ae0e4567318ffd465f1632b794dd82dfe4d4f24183dc84c7089026682ce503b90

pkgname = groovy
