pkgbase = kemoticons
	pkgdesc = Support for emoticons and emoticons themes
	pkgver = 5.111.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = karchive5
	depends = kservice5
	source = https://download.kde.org/stable/frameworks/5.111/kemoticons-5.111.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.111/kemoticons-5.111.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = f3f77083651e0b6a085cd75f83f97555c0cce973d9e53629a6df3a0d53214aaa
	sha256sums = SKIP

pkgname = kemoticons
