pkgbase = python-cfn-lint
	pkgdesc = CloudFormation Linter
	pkgver = 0.81.0
	pkgrel = 1
	url = https://github.com/aws-cloudformation/cfn-lint
	arch = any
	license = custom:MIT No Attribution
	checkdepends = python-pydot
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-yaml
	depends = python-aws-sam-translator
	depends = python-jsonpatch
	depends = python-jsonschema
	depends = python-networkx
	depends = python-junit-xml
	depends = python-jschema-to-python
	depends = python-sarif-om
	depends = python-sympy
	depends = python-regex
	optdepends = python-pydot: for building graphs from templates
	source = https://github.com/aws-cloudformation/cfn-lint/archive/v0.81.0/cfn-lint-0.81.0.tar.gz
	source = skip-tests-that-require-git.diff
	sha256sums = 9efc8152fcd4e49309951629cbd7ecd444d35f74d46a8651d21b9c46cf7f4e58
	sha256sums = 2c00f29edd290e5c0de741ebce53d7a4caa7509a91befc806296c897b0f0e879

pkgname = python-cfn-lint
