pkgbase = python-cbor2
	pkgdesc = Pure Python CBOR (de)serializer with extensive tag support
	pkgver = 5.5.0
	pkgrel = 1
	url = https://github.com/agronholm/cbor2
	arch = x86_64
	license = MIT
	checkdepends = python-hypothesis
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-toml
	makedepends = python-wheel
	depends = glibc
	depends = python
	source = cbor2-5.5.0.tar.gz::https://github.com/agronholm/cbor2/archive/refs/tags/5.5.0.tar.gz
	sha512sums = be088216c2eaa545b267aba34d056ea6f6efb771c66640d312d1553995bbc066a95d9f66fc83ab36957d2fca50a639354e9eb3c8a607764bcc36622c9d02deef
	b2sums = b7882615160f4aa17a0bdbfdcc976bae4ddf5508c691523643142398c73b96ddd41d8c6a65d524a74f4b3b162843e7ce6bf9c06073770c61b102048457463db0

pkgname = python-cbor2
