pkgbase = python-cairo
	pkgdesc = Python bindings for the cairo graphics library
	pkgver = 1.25.1
	pkgrel = 1
	url = https://pycairo.readthedocs.io/en/latest/
	arch = x86_64
	license = LGPL2.1
	license = MPL
	checkdepends = python-pytest
	makedepends = meson
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	depends = cairo
	depends = python
	source = https://github.com/pygobject/pycairo/releases/download/v1.25.1/pycairo-1.25.1.tar.gz
	source = https://github.com/pygobject/pycairo/releases/download/v1.25.1/pycairo-1.25.1.tar.gz.sig
	validpgpkeys = 0EBF782C5D53F7E5FB02A66746BD761F7A49B0EC
	sha256sums = 7e2be4fbc3b4536f16db7a11982cbf713e75069a4d73d44fe5a49b68423f5c0c
	sha256sums = SKIP

pkgname = python-cairo

pkgname = python-cairo-docs
	pkgdesc = Developer documentation for Pycairo
	depends = 
