pkgbase = dvisvgm
	pkgdesc = A fast DVI, EPS, and PDF to SVG converter
	pkgver = 3.1.2
	pkgrel = 1
	url = https://dvisvgm.de/
	arch = x86_64
	license = GPL3
	makedepends = python
	depends = brotli
	depends = freetype2
	depends = gcc-libs
	depends = ghostscript
	depends = glibc
	depends = potrace
	depends = texlive-bin
	depends = woff2
	depends = zlib
	source = https://github.com/mgieseki/dvisvgm/releases/download/3.1.2/dvisvgm-3.1.2.tar.gz
	sha256sums = bea783adfe931b7794a0c30d7902b82b0d4d9ad6816dcd8a095a931cd33eacf6

pkgname = dvisvgm
