pkgbase = python-diff-cover
	pkgdesc = Automatically find diff lines that need test coverage
	pkgver = 8.0.0
	pkgrel = 1
	url = https://github.com/Bachmann1234/diff_cover
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-tomli
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	makedepends = python-wheel
	depends = python
	depends = python-chardet
	depends = python-jinja
	depends = python-pluggy
	depends = python-pygments
	optdepends = python-tomli: for TOML support
	source = diff_cover-8.0.0.tar.gz::https://github.com/Bachmann1234/diff_cover/archive/refs/tags/v8.0.0.tar.gz
	sha512sums = d3be65aa84743f7dfe1b92c2f25b9056f1c4f81fb04cc6e6978dc84d1e1b3977501352bc4ec2e9fb573f237445e08ae88b49fecaf4d2033707720908857822e1
	b2sums = 682d0ab225f535d95cb30c0ed9fe8d0e20790d55a2a4824c9c2d36a6bad82c74e2c4ef3aff7bd6c8c5a2a96d3527a0586edee902f8d63606ea04d89aeb722967

pkgname = python-diff-cover
