pkgbase = kcachegrind
	pkgdesc = Visualization of Performance Profiling Data
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/kcachegrind/
	arch = x86_64
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = qt5-tools
	makedepends = kio5
	source = https://download.kde.org/stable/release-service/23.08.2/src/kcachegrind-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kcachegrind-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 9a94125b7a2dcd11253c2361b19e04ec44008ad3e4be1982094849d411936d71
	sha256sums = SKIP

pkgname = kcachegrind
	groups = kde-applications
	groups = kdesdk
	depends = kio5
	depends = kcachegrind-common
	optdepends = graphviz: for plotting support

pkgname = kcachegrind-common
	pkgdesc = Visualization of Performance Profiling Data (common files)
	depends = hicolor-icon-theme
	optdepends = php: for pprof2calltree
	optdepends = perl: for dprof2calltree, memprof2calltree and op2calltree

pkgname = qcachegrind
	pkgdesc = Visualization of Performance Profiling Data (pure Qt version)
	depends = qt5-base
	depends = kcachegrind-common
	optdepends = graphviz: for plotting support
