pkgbase = python-glanceclient
	pkgdesc = OpenStack Image API Client Library
	pkgver = 4.2.0
	pkgrel = 1
	url = https://docs.openstack.org/developer/python-glanceclient
	arch = any
	license = Apache
	checkdepends = python-stestr
	checkdepends = python-ddt
	checkdepends = python-requests-mock
	checkdepends = python-testscenarios
	makedepends = python-setuptools
	depends = python-pbr
	depends = python-prettytable
	depends = python-keystoneauth1
	depends = python-requests
	depends = python-warlock
	depends = python-oslo-utils
	depends = python-oslo-i18n
	depends = python-wrapt
	depends = python-pyopenssl
	options = !emptydirs
	source = https://github.com/openstack/python-glanceclient/archive/4.2.0/python-glanceclient-4.2.0.tar.gz
	sha512sums = c5eb86d0c8d6c7e6c90560456bc75a7f40e86dafe7a8c3d3fe0503fddea346c199012c48d2eb53c6fd3f59aa665259295b69ddcb10a0246cd4e5015426f98d7c

pkgname = python-glanceclient
