pkgbase = python-merge3
	pkgdesc = Python implementation of 3-way merge
	pkgver = 0.0.14
	pkgrel = 1
	url = https://github.com/breezy-team/merge3
	arch = any
	license = GPL2
	makedepends = git
	makedepends = python-setuptools
	depends = python
	source = git+https://github.com/breezy-team/merge3.git#tag=d5e00212bc40620bc4a5fc43e603ddb63f2ed30a
	validpgpkeys = DC837EE14A7E37347E87061700806F2BD729A457
	b2sums = SKIP

pkgname = python-merge3
