pkgbase = kid3
	pkgdesc = An MP3, Ogg/Vorbis and FLAC tag editor
	pkgver = 3.9.4
	pkgrel = 2
	url = https://kid3.kde.org/
	changelog = kid3.changelog
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = python
	makedepends = qt5-tools
	depends = chromaprint
	depends = flac
	depends = id3lib
	depends = kxmlgui5
	depends = libmp4v2
	depends = qt5-declarative
	depends = qt5-multimedia
	depends = taglib
	depends = kio5
	source = https://prdownloads.sourceforge.net/kid3/kid3-3.9.4.tar.gz
	source = https://prdownloads.sourceforge.net/kid3/kid3-3.9.4.tar.gz.sig
	validpgpkeys = 7D09794C2812F62194B081C14CAD34426E354DD2
	sha256sums = 6d67d941604c3d96e42b2bafbe7ec4a60004620b729ccbe2550af211eb59dd7b
	sha256sums = SKIP

pkgname = kid3-common
	pkgdesc = An MP3, Ogg/Vorbis and FLAC tag editor, CLI version and common files
	depends = chromaprint
	depends = flac
	depends = id3lib
	depends = libmp4v2
	depends = libvorbis
	depends = qt5-base
	depends = taglib
	optdepends = qt5-declarative: GUI support library
	optdepends = qt5-multimedia: GUI support library

pkgname = kid3-qt
	pkgdesc = An MP3, Ogg/Vorbis and FLAC tag editor, Qt version
	depends = kid3-common=3.9.4
	depends = qt5-declarative
	depends = qt5-multimedia

pkgname = kid3
	pkgdesc = An MP3, Ogg/Vorbis and FLAC tag editor, KDE version
	depends = kid3-common=3.9.4
	depends = kxmlgui5
	depends = qt5-declarative
	depends = qt5-multimedia
	depends = kio5
