pkgbase = thunar
	pkgdesc = Modern, fast and easy-to-use file manager for Xfce
	pkgver = 4.18.8
	pkgrel = 1
	url = https://docs.xfce.org/xfce/thunar/start
	arch = x86_64
	groups = xfce4
	license = GPL2
	license = LGPL2.1
	makedepends = intltool
	makedepends = gobject-introspection
	makedepends = xfce4-panel
	depends = desktop-file-utils
	depends = libexif
	depends = hicolor-icon-theme
	depends = libnotify
	depends = pcre2
	depends = libgudev
	depends = exo
	depends = libxfce4util
	depends = libxfce4ui
	depends = libpng
	optdepends = catfish: file searching
	optdepends = gvfs: trash support, mounting with udisk and remote filesystems
	optdepends = tumbler: thumbnail previews
	optdepends = thunar-volman: removable device management
	optdepends = thunar-archive-plugin: archive creation and extraction
	optdepends = thunar-media-tags-plugin: view/edit ID3/OGG tags
	source = https://archive.xfce.org/src/xfce/thunar/4.18/thunar-4.18.8.tar.bz2
	sha256sums = 3ac23b8a16545025cee860621d270f5f3848d05a3353902abdbc89e779269d2e

pkgname = thunar
