pkgbase = intel-media-driver
	pkgdesc = Intel Media Driver for VAAPI — Broadwell+ iGPUs
	pkgver = 23.3.5
	pkgrel = 1
	url = https://github.com/intel/media-driver/
	arch = x86_64
	license = MIT
	license = BSD
	makedepends = cmake
	depends = gcc-libs
	depends = intel-gmmlib
	depends = libva
	source = https://github.com/intel/media-driver//archive/intel-media-23.3.5.tar.gz
	sha256sums = 67fd15654bb3c596feb8c85e81221de5632e11f598421c35adc4453d727f0130

pkgname = intel-media-driver
