pkgbase = intel-media-driver
	pkgdesc = Intel Media Driver for VAAPI — Broadwell+ iGPUs
	pkgver = 23.3.4
	pkgrel = 1
	url = https://github.com/intel/media-driver/
	arch = x86_64
	license = MIT
	license = BSD
	makedepends = cmake
	depends = gcc-libs
	depends = intel-gmmlib
	depends = libva
	source = https://github.com/intel/media-driver//archive/intel-media-23.3.4.tar.gz
	sha256sums = 0101a600d70fa423b224d8ab53d8359c880a697af7a32fcfae3c744518277773

pkgname = intel-media-driver
