pkgbase = qt5-translations
	pkgdesc = A cross-platform application and UI framework (Translations)
	pkgver = 5.15.11
	pkgrel = 1
	url = https://www.qt.io
	arch = any
	groups = qt5
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = git
	makedepends = qt5-tools
	source = git+https://invent.kde.org/qt/qt/qttranslations#commit=56065158ffc4cd0fd78f9edf4b21b77b969f8dbb
	sha256sums = SKIP

pkgname = qt5-translations
