pkgbase = python-pooch
	pkgdesc = Python library for fetching and caching data files
	pkgver = 1.8.0
	pkgrel = 1
	url = https://www.fatiando.org/pooch/latest/
	arch = any
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-pytest-httpserver
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	depends = python-packaging
	depends = python-platformdirs
	depends = python-requests
	optdepends = python-paramiko: for SFTP downloads
	optdepends = python-tqdm: for printing a download progress bar
	source = https://pypi.python.org/packages/source/p/pooch/pooch-1.8.0.tar.gz
	sha256sums = f59981fd5b9b5d032dcde8f4a11eaa492c2ac6343fae3596a2fdae35fc54b0a0

pkgname = python-pooch
