pkgbase = kdepim-runtime
	pkgdesc = Extends the functionality of kdepim
	pkgver = 23.08.2
	pkgrel = 1
	url = https://kontact.kde.org
	arch = x86_64
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = libetebase
	makedepends = boost
	makedepends = kholidays5
	depends = libkolabxml
	depends = kdav5
	depends = akonadi-calendar
	depends = knotifyconfig5
	depends = kmbox
	depends = akonadi-notes
	depends = akonadi
	depends = qca-qt5
	depends = qt5-networkauth
	optdepends = libetebase: EteSync resource
	source = https://download.kde.org/stable/release-service/23.08.2/src/kdepim-runtime-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kdepim-runtime-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 5075af770f3d24a5c598e3b660645d42b8466b87859e7e8854d10afffcdead84
	sha256sums = SKIP

pkgname = kdepim-runtime
