pkgbase = ruby-console
	pkgdesc = Beautiful logging for Ruby
	pkgver = 1.22.0
	pkgrel = 1
	url = https://github.com/socketry/console
	arch = any
	license = MIT
	checkdepends = ruby-bake
	checkdepends = ruby-bake-modernize
	checkdepends = ruby-bake-test
	checkdepends = ruby-bake-test-external
	checkdepends = ruby-covered
	checkdepends = ruby-sus
	depends = ruby-fiber-annotation
	depends = ruby-fiber-local
	options = !emptydirs
	source = https://github.com/socketry/console/archive/v1.22.0/ruby-console-1.22.0.tar.gz
	sha256sums = f1228f63c7ae3d14356199b98e13e1df559ebf32b92d4549fdc555b88f72be29

pkgname = ruby-console
