pkgbase = kompare
	pkgdesc = Graphical file differences tool
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/kompare/
	arch = x86_64
	groups = kde-applications
	groups = kdesdk
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = libkomparediff2
	depends = ktexteditor5
	depends = hicolor-icon-theme
	source = https://download.kde.org/stable/release-service/23.08.2/src/kompare-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kompare-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 4cf401149866f6b4ed5c97ded26d5b6cbfaabe7540cf18afc9254cbd56ab9ca0
	sha256sums = SKIP

pkgname = kompare
