pkgbase = oxygen-icons
	pkgdesc = The Oxygen Icon Theme
	pkgver = 5.111.0
	pkgrel = 1
	epoch = 1
	url = https://community.kde.org/Frameworks
	arch = any
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-base
	source = https://download.kde.org/stable/frameworks/5.111/oxygen-icons5-5.111.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.111/oxygen-icons5-5.111.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = fabc69b3b1357274f8e7d03646db04f6b707ac8b698abb221ed433121a84e4ae
	sha256sums = SKIP

pkgname = oxygen-icons
	groups = kf5

pkgname = oxygen-icons-svg
	pkgdesc = The Oxygen Icon Theme (Scalable Vector Graphics)
