pkgbase = korganizer
	pkgdesc = Calendar and scheduling Program
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/korganizer/
	arch = x86_64
	groups = kde-applications
	groups = kde-pim
	license = GPL2
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = qt5-tools
	depends = kdepim-runtime
	depends = kontactinterface
	depends = incidenceeditor
	depends = kuserfeedback
	optdepends = kdepim-addons: additional plugins
	source = https://download.kde.org/stable/release-service/23.08.2/src/korganizer-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/korganizer-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 548c1ccc5f9efe308f04a5394670d344b9a4123e8c31428e2935d4c76e93a8b0
	sha256sums = SKIP

pkgname = korganizer
