pkgbase = qt6-datavis3d
	pkgdesc = Qt6 Data Visualization module
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-declarative
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	optdepends = qt6-declarative: QML bindings
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtdatavis3d-everywhere-src-6.6.0.tar.xz
	sha256sums = c0489f6d9f0be9b45917d8e8c49f3a4a7521bf836abe85e4733b9003abd1599e

pkgname = qt6-datavis3d
