pkgbase = dconf-editor
	pkgdesc = GSettings editor for GNOME
	pkgver = 45.0.1
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/DconfEditor
	arch = x86_64
	groups = gnome-extra
	license = GPL3
	makedepends = git
	makedepends = meson
	makedepends = vala
	depends = dconf
	depends = libhandy
	source = git+https://gitlab.gnome.org/GNOME/dconf-editor.git#commit=e9e1b3a8d292e0e49d884f5f498534202306af90
	b2sums = SKIP

pkgname = dconf-editor
