pkgbase = python-rcssmin
	pkgdesc = Fast CSS minifier for Python
	pkgver = 1.1.2
	pkgrel = 1
	url = https://github.com/ndparker/rcssmin
	arch = x86_64
	license = Apache-2.0
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	source = rcssmin-1.1.2.tar.gz::https://github.com/ndparker/rcssmin/archive/refs/tags/1.1.2.tar.gz
	sha512sums = 796f39b34867f9c135fd4d3fe1bd4282b1247974eb80c84cc3822fe7655399fb312a90c7a05b6a6e879169902591d5055fb25d7960ed6125e0f1a96fafebbf4e
	b2sums = cd6d7a7615537bf1ff9ed3bd9c04de7bcde74aace7dc9f625f7afdb85ce3fa417ac3eedb8f990697ec87356759b17904caaf3c40fef3c448bcf85cc871beae1a

pkgname = python-rcssmin
