pkgbase = knetwalk
	pkgdesc = Connect all the terminals to the server, in as few turns as possible
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/knetwalk/
	arch = x86_64
	groups = kde-applications
	groups = kde-games
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = libkdegames
	depends = hicolor-icon-theme
	source = https://download.kde.org/stable/release-service/23.08.2/src/knetwalk-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/knetwalk-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 9da0d3a395be15d8c2f2d0106c0961d0c582faa7fc0e739083ce9318d19e05ce
	sha256sums = SKIP

pkgname = knetwalk
