pkgbase = qt6-tools
	pkgdesc = A cross-platform application and UI framework (Development Tools, QtHelp)
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = clang
	makedepends = cmake
	makedepends = llvm
	makedepends = ninja
	makedepends = qt6-declarative
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = zstd
	optdepends = clang: for qdoc and lupdate
	optdepends = qt6-declarative: for qdoc and lupdate
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qttools-everywhere-src-6.6.0.tar.xz
	source = zstd-target.patch
	sha256sums = 4e9feebc142bbb6e453e1dc3277e09ec45c8ef081b5ee2a029e6684b5905ba99
	sha256sums = 876b46461670d21b07d0e6a2ea53311d3c16be9e6fc3746f52b74e687f4eac8b

pkgname = qt6-tools
