pkgbase = gnome-builder
	pkgdesc = An IDE for writing GNOME-based software
	pkgver = 45.0
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/Builder
	arch = x86_64
	license = GPL3
	checkdepends = weston
	makedepends = appstream-glib
	makedepends = git
	makedepends = gobject-introspection
	makedepends = llvm
	makedepends = mm-common
	makedepends = python-lsp-server
	makedepends = python-sphinx_rtd_theme
	makedepends = yelp-tools
	depends = autoconf-archive
	depends = cairo
	depends = clang
	depends = cmark
	depends = ctags
	depends = d-spy
	depends = dconf
	depends = desktop-file-utils
	depends = devhelp
	depends = editorconfig-core-c
	depends = enchant
	depends = flatpak
	depends = flatpak-builder
	depends = gdk-pixbuf2
	depends = gjs
	depends = glib2
	depends = gobject-introspection-runtime
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = icu
	depends = json-glib
	depends = jsonrpc-glib
	depends = libadwaita
	depends = libdex
	depends = libgirepository
	depends = libgit2-glib
	depends = libpanel
	depends = libpeas-2
	depends = libportal
	depends = libportal-gtk4
	depends = libsoup3
	depends = libxml2
	depends = meson
	depends = pango
	depends = python
	depends = python-lxml
	depends = python-sphinx
	depends = sysprof
	depends = template-glib
	depends = vala
	depends = vte4
	depends = webkitgtk-6.0
	source = git+https://gitlab.gnome.org/GNOME/gnome-builder.git#commit=82b055c8cc4dbcf171f8236e2a7d15cd19225fe1
	b2sums = SKIP

pkgname = gnome-builder
	groups = gnome-extra
	depends = autoconf-archive
	depends = cairo
	depends = clang
	depends = cmark
	depends = ctags
	depends = d-spy
	depends = dconf
	depends = desktop-file-utils
	depends = devhelp
	depends = editorconfig-core-c
	depends = enchant
	depends = flatpak
	depends = flatpak-builder
	depends = gdk-pixbuf2
	depends = gjs
	depends = glib2
	depends = gobject-introspection-runtime
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = icu
	depends = json-glib
	depends = jsonrpc-glib
	depends = libadwaita
	depends = libdex
	depends = libgirepository
	depends = libgit2-glib
	depends = libpanel
	depends = libpeas-2
	depends = libportal
	depends = libportal-gtk4
	depends = libsoup3
	depends = libxml2
	depends = meson
	depends = pango
	depends = python
	depends = python-lxml
	depends = python-sphinx
	depends = sysprof
	depends = template-glib
	depends = vala
	depends = vte4
	depends = webkitgtk-6.0
	depends = libgit2.so
	optdepends = bash-language-server: Shell code assistance
	optdepends = python-lsp-server: Python code assistance
