pkgbase = syndication5
	pkgdesc = RSS/Atom parser library
	pkgver = 5.111.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = kcodecs5
	conflicts = syndication<5.111
	replaces = syndication<5.111
	source = https://download.kde.org/stable/frameworks/5.111/syndication-5.111.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.111/syndication-5.111.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 42876d7f36c7acf5e120282afd83719753d3f9f0eb1d002887120e3a52974481
	sha256sums = SKIP

pkgname = syndication5
