pkgbase = ksmtp
	pkgdesc = Job-based library to send email through an SMTP server
	pkgver = 23.08.2
	pkgrel = 1
	url = https://kontact.kde.org
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = doxygen
	depends = kio5
	source = https://download.kde.org/stable/release-service/23.08.2/src/ksmtp-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/ksmtp-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 7b5f25b1be49b31b12a84d069195e30d61c922b3ec7447d755dee7f425aefc64
	sha256sums = SKIP

pkgname = ksmtp
