pkgbase = linux-hardened
	pkgdesc = Security-Hardened Linux
	pkgver = 6.5.8.hardened1
	pkgrel = 1
	url = https://github.com/anthraxx/linux-hardened
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.5.8.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.5.8.tar.sign
	source = https://github.com/anthraxx/linux-hardened/releases/download/6.5.8-hardened1/linux-hardened-6.5.8-hardened1.patch
	source = https://github.com/anthraxx/linux-hardened/releases/download/6.5.8-hardened1/linux-hardened-6.5.8-hardened1.patch.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = E240B57E2C4630BA768E2F26FC1B547C8D8172C8
	sha256sums = 299cca897d90deaa176eebec42f0a80eeb7516afed330a45c14da9de086cf717
	sha256sums = SKIP
	sha256sums = 9433f1d4bf16bc73130137bb87581c8c4cb4850f56e4cd33cf486aad6afabb25
	sha256sums = SKIP
	sha256sums = 5456b3660446159ec9f6bee28db74ffaa53acd29af45762c4c48e516c37f8de7
	b2sums = 5d104cfd8f1f08b181ab85bb251e0a2fc1b37a791f396e83fab82ff5aeadc0c69a746359a6005dc766546c5a880235e1b4c477d67bd7b33ef6c4aaf4a8ea488b
	b2sums = SKIP
	b2sums = 8d906686ca63333653d288a7bf3078df6068e169755558b48f1fc676d2565c7638de269dd5b2bf74b0518666fafeec8cdf4c5151fd0a752764792b1155201bce
	b2sums = SKIP
	b2sums = 39dcd38d1326ee861ae0984e26e514b9f0d4dd4f5806d3241ea9c79570ff9bafb8f0ec4f7ac2cbe9d46683ee4ec4323d8d8236d8616df92b6b12b51e7b6c2410

pkgname = linux-hardened
	pkgdesc = The Security-Hardened Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = usbctl: deny_new_usb control
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-hardened-headers
	pkgdesc = Headers and scripts for building modules for the Security-Hardened Linux kernel
	depends = pahole

pkgname = linux-hardened-docs
	pkgdesc = Documentation for the Security-Hardened Linux kernel
