pkgbase = linux-hardened
	pkgdesc = Security-Hardened Linux
	pkgver = 6.5.5.hardened1
	pkgrel = 1
	url = https://github.com/anthraxx/linux-hardened
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.5.5.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.5.5.tar.sign
	source = https://github.com/anthraxx/linux-hardened/releases/download/6.5.5-hardened1/linux-hardened-6.5.5-hardened1.patch
	source = https://github.com/anthraxx/linux-hardened/releases/download/6.5.5-hardened1/linux-hardened-6.5.5-hardened1.patch.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = E240B57E2C4630BA768E2F26FC1B547C8D8172C8
	sha256sums = 8cf10379f7df8ea731e09bff3d0827414e4b643dd41dc99d0af339669646ef95
	sha256sums = SKIP
	sha256sums = 51b27f8ea39c4006e405d6c568c75efcca67c7453fa61a09b62fe5bdb5ab00bc
	sha256sums = SKIP
	sha256sums = 50761bba4d37367ab48f857b7e258cb0c8b487cbda37e6838573d382edd999e7
	b2sums = 2152bdcd8799b89612e76c1b3794313f981e08eda23c0150e56297a07f326c85f2a7a08106eb4e4d502b2134ed69e4344263fe6a2b398af5b5d7ccd018c0899b
	b2sums = SKIP
	b2sums = f252b104fbd42428de4bafc1d400a7ccf20812bb341e1d3a37172dbf5c5e57f98594fe59abeae8e4e025a548481e3a147b64c175766ca4462bd4bc85d7f80f5a
	b2sums = SKIP
	b2sums = 0e27199552cd2d5b38b004a63023d9fd004502621b77f40b9b18d0f0b99372e7661707329fbc3ec0c2686333a12bcd8da3c9905eb5d6b7815553a6358f648b9e

pkgname = linux-hardened
	pkgdesc = The Security-Hardened Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = usbctl: deny_new_usb control
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-hardened-headers
	pkgdesc = Headers and scripts for building modules for the Security-Hardened Linux kernel
	depends = pahole

pkgname = linux-hardened-docs
	pkgdesc = Documentation for the Security-Hardened Linux kernel
