pkgbase = linux-hardened
	pkgdesc = Security-Hardened Linux
	pkgver = 6.5.7.hardened1
	pkgrel = 1
	url = https://github.com/anthraxx/linux-hardened
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.5.7.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.5.7.tar.sign
	source = https://github.com/anthraxx/linux-hardened/releases/download/6.5.7-hardened1/linux-hardened-6.5.7-hardened1.patch
	source = https://github.com/anthraxx/linux-hardened/releases/download/6.5.7-hardened1/linux-hardened-6.5.7-hardened1.patch.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = E240B57E2C4630BA768E2F26FC1B547C8D8172C8
	sha256sums = 0d09ea448005c9cfe5383e4c72a872b39188b928f8c44e146b03b1b7851fbb8c
	sha256sums = SKIP
	sha256sums = 563e4d8b5b1c90edef7559e207e0ef5e13276f7036058e575888ab9f94d41750
	sha256sums = SKIP
	sha256sums = 9aae509f0bfc383be53f080ef27994bcef2883c652e5b052b8fe31614a2fd3bd
	b2sums = a9bed9907bf4b22c08df8a8beaaf923648e4f0f1a4b00c11012871094e7c06a127e54bc1935edb8afc92999456c01ebabd04bc542a0e2fa16de0852a5f4be681
	b2sums = SKIP
	b2sums = ea5238fb1d9e9b028ac40de5a669ce3b413635a5229b9588166488ab97a3558ea9119d8bc540bee4c960da53195b85f4507d18fbe0f61de58f1629ae049ab85f
	b2sums = SKIP
	b2sums = c78e81cc9f45d3f097b631ee5b317f03a44b9b24b9d0f1c0e5aed452b0d33579d06f9ff16f7fb33385e3d9b5d3199fba472f755b920143a8866140b50c365cbb

pkgname = linux-hardened
	pkgdesc = The Security-Hardened Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = usbctl: deny_new_usb control
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-hardened-headers
	pkgdesc = Headers and scripts for building modules for the Security-Hardened Linux kernel
	depends = pahole

pkgname = linux-hardened-docs
	pkgdesc = Documentation for the Security-Hardened Linux kernel
