pkgbase = python-discogs-client
	pkgdesc = Python Client for the Discogs API
	pkgver = 2.7
	pkgrel = 1
	url = https://github.com/joalla/discogs_client
	arch = any
	license = BSD
	makedepends = git
	makedepends = python-setuptools
	depends = python-dateutil
	depends = python-six
	depends = python-requests
	depends = python-oauthlib
	source = git+https://github.com/joalla/discogs_client.git#tag=41aae5e0f7b2af7635d0e86f791ba66ed7568663
	b2sums = SKIP

pkgname = python-discogs-client
