pkgbase = python-zope-testrunner
	pkgdesc = Zope testrunner script
	pkgver = 6.1
	pkgrel = 1
	url = https://github.com/zopefoundation/zope.testrunner
	arch = any
	license = ZPL
	checkdepends = python-zope-testing
	depends = python-setuptools
	depends = python-zope-interface
	depends = python-zope-exceptions
	source = https://github.com/zopefoundation/zope.testrunner/archive/6.1/python-zope-testrunner-6.1.tar.gz
	sha512sums = 95d302ed2047cd92f3510195263e54f7cda06d58b470f9af31b63ab0856a697a6cb703fd3cde6cdd3fbfe686feb33f9254bf3ceca81171e09880520d43255ce4

pkgname = python-zope-testrunner
