pkgbase = krita
	pkgdesc = Edit and paint images
	pkgver = 5.1.5
	pkgrel = 12
	url = https://krita.org
	arch = x86_64
	license = GPL3
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = boost
	makedepends = eigen
	makedepends = poppler-qt5
	makedepends = python-pyqt5
	makedepends = libheif
	makedepends = qt5-tools
	makedepends = sip
	makedepends = kseexpr
	makedepends = libmypaint
	makedepends = libjxl
	makedepends = xsimd
	depends = kitemviews5
	depends = kitemmodels5
	depends = ki18n5
	depends = kcompletion5
	depends = kguiaddons5
	depends = kcrash5
	depends = qt5-svg
	depends = qt5-multimedia
	depends = quazip
	depends = gsl
	depends = libraw
	depends = exiv2
	depends = openexr
	depends = fftw
	depends = openjpeg2
	depends = opencolorio
	depends = libwebp
	depends = hicolor-icon-theme
	optdepends = poppler-qt5: PDF filter
	optdepends = ffmpeg: to save animations
	optdepends = python-pyqt5: for the Python plugins
	optdepends = libheif: HEIF filter
	optdepends = kseexpr: SeExpr generator layer
	optdepends = kimageformats5: PSD support
	optdepends = libmypaint: support for MyPaint brushes
	optdepends = krita-plugin-gmic: GMic plugin
	optdepends = libjxl: JPEG-XL filter
	source = https://download.kde.org/stable/krita/5.1.5/krita-5.1.5.tar.gz
	source = https://download.kde.org/stable/krita/5.1.5/krita-5.1.5.tar.gz.sig
	source = find-xsimd.patch
	source = https://invent.kde.org/graphics/krita/-/commit/e9184281.patch
	source = https://invent.kde.org/graphics/krita/-/commit/bbee5eff.patch
	source = exiv2-0.28.patch
	validpgpkeys = 05D00A8B73A686789E0A156858B9596C722EA3BD
	validpgpkeys = E9FB29E74ADEACC5E3035B8AB69EB4CF7468332F
	validpgpkeys = 064182440C674D9F8D0F6F8B4DA79EDA231C852B
	sha256sums = 1c775ebef0f799a9a6b74440c3d906ab913c27541b177ed621704de714e9a4d3
	sha256sums = SKIP
	sha256sums = 622c9ffbbfef72dd024b391b879c79ae34da11d52b2f3488dfd8ee42bf7b453b
	sha256sums = 3db041acee92d6e4238c47ad572142a930340858703f523baa32f129e6474060
	sha256sums = 0f52ba825ce0432e55c1c673d8ebbd34f4353470a6c27bdc55beb2a5446f9a4a
	sha256sums = c17d5fa6362c6b4d1884ff3b84ce72ca78065d987192c36d59ea9256a1e8d74b

pkgname = krita
