pkgbase = krita
	pkgdesc = Edit and paint images
	pkgver = 5.2.0
	pkgrel = 1
	url = https://krita.org
	arch = x86_64
	license = GPL3
	makedepends = boost
	makedepends = eigen
	makedepends = extra-cmake-modules
	makedepends = immer
	makedepends = kdoctools5
	makedepends = kseexpr
	makedepends = lager
	makedepends = libheif
	makedepends = libjxl
	makedepends = libmypaint
	makedepends = poppler-qt5
	makedepends = python-pyqt5
	makedepends = qt5-tools
	makedepends = sip
	makedepends = xsimd
	makedepends = zug
	depends = exiv2
	depends = ffmpeg
	depends = fftw
	depends = fontconfig
	depends = freetype2
	depends = fribidi
	depends = gcc-libs
	depends = giflib
	depends = glibc
	depends = gsl
	depends = harfbuzz
	depends = imath
	depends = kcompletion5
	depends = kconfig5
	depends = kcoreaddons5
	depends = kcrash5
	depends = kguiaddons5
	depends = ki18n
	depends = kitemviews5
	depends = kwidgetsaddons5
	depends = kwindowsystem5
	depends = lcms2
	depends = libjpeg-turbo
	depends = libkdcraw
	depends = libpng
	depends = libtiff
	depends = libunibreak
	depends = libwebp
	depends = libx11
	depends = mlt
	depends = opencolorio
	depends = openexr
	depends = openjpeg2
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-svg
	depends = qt5-x11extras
	depends = quazip
	depends = zlib
	optdepends = kimageformats5: PSD support
	optdepends = krita-plugin-gmic: GMic plugin
	optdepends = kseexpr: SeExpr generator layer
	optdepends = libheif: HEIF filter
	optdepends = libjxl: JPEG-XL filter
	optdepends = libmypaint: support for MyPaint brushes
	optdepends = poppler-qt5: PDF filter
	optdepends = python-pyqt5: for the Python plugins
	source = https://download.kde.org/stable/krita/5.2.0/krita-5.2.0.tar.gz
	source = https://download.kde.org/stable/krita/5.2.0/krita-5.2.0.tar.gz.sig
	validpgpkeys = 05D00A8B73A686789E0A156858B9596C722EA3BD
	validpgpkeys = E9FB29E74ADEACC5E3035B8AB69EB4CF7468332F
	validpgpkeys = 064182440C674D9F8D0F6F8B4DA79EDA231C852B
	sha256sums = 773ce3a3b3ccf0fdb2a58ea3ac2def26781bf6d7262d04a8be01d6ea1b3e9980
	sha256sums = SKIP

pkgname = krita
