pkgbase = lib32-curl
	pkgdesc = command line tool and library for transferring data with URLs (32-bit)
	pkgver = 8.4.0
	pkgrel = 2
	url = https://curl.se/
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = patchelf
	makedepends = lib32-gnutls
	makedepends = lib32-openssl
	depends = curl
	depends = lib32-brotli
	depends = lib32-libidn2
	depends = lib32-libssh2
	depends = lib32-krb5
	depends = lib32-libpsl
	depends = lib32-zlib
	depends = lib32-zstd
	provides = libcurl.so
	source = git+https://github.com/bagder/curl.git#tag=817204c6e41f66dafbaa704d67f828a4288b3577?signed
	validpgpkeys = 27EDEAF22F3ABCEB50DB9A125CC908FDB71E12C2
	sha512sums = SKIP

pkgname = lib32-curl
	depends = curl
	depends = lib32-brotli
	depends = lib32-libidn2
	depends = lib32-libssh2
	depends = lib32-krb5
	depends = lib32-libpsl
	depends = lib32-zlib
	depends = lib32-zstd
	depends = lib32-openssl

pkgname = lib32-libcurl-compat
	pkgdesc = command line tool and library for transferring data with URLs (32-bit, no versioned symbols)
	depends = curl
	depends = lib32-brotli
	depends = lib32-libidn2
	depends = lib32-libssh2
	depends = lib32-krb5
	depends = lib32-libpsl
	depends = lib32-zlib
	depends = lib32-zstd
	depends = lib32-openssl
	provides = libcurl-compat.so

pkgname = lib32-libcurl-gnutls
	pkgdesc = command line tool and library for transferring data with URLs (32-bit, no versioned symbols, linked against gnutls)
	depends = curl
	depends = lib32-brotli
	depends = lib32-libidn2
	depends = lib32-libssh2
	depends = lib32-krb5
	depends = lib32-libpsl
	depends = lib32-zlib
	depends = lib32-zstd
	depends = lib32-gnutls
	provides = libcurl-gnutls.so
