pkgbase = python-ypy-websocket
	pkgdesc = WebSocket connector for Ypy
	pkgver = 0.12.4
	pkgrel = 1
	url = https://github.com/y-crdt/ypy-websocket
	arch = any
	license = MIT
	checkdepends = nodejs
	checkdepends = python-pytest-asyncio
	checkdepends = python-websockets
	checkdepends = uvicorn
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-aiosqlite
	depends = python-anyio
	depends = python-y-py
	source = https://pypi.python.org/packages/source/y/ypy_websocket/ypy_websocket-0.12.4.tar.gz
	sha256sums = cbbf5fdaa9a301a0b5f9455f1f29478b7c05b62773b2dd2a65c6502b4e10afa1

pkgname = python-ypy-websocket
