pkgbase = python-quart
	pkgdesc = A Python ASGI web microframework with the same API as Flask
	pkgver = 0.19.3
	pkgrel = 1
	url = https://github.com/pallets/quart
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	makedepends = python-wheel
	depends = hypercorn
	depends = python-aiofiles
	depends = python-blinker
	depends = python-click
	depends = python-importlib-metadata
	depends = python-itsdangerous
	depends = python-jinja
	depends = python-markupsafe
	depends = python-werkzeug
	source = git+https://github.com/pallets/quart.git#tag=6e202846385cf24311603d53ba6bc90b8d4eed56
	sha256sums = SKIP

pkgname = python-quart
