pkgbase = qt5-declarative
	pkgdesc = Classes for QML and JavaScript languages
	pkgver = 5.15.11+kde+r30
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt5
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = python
	makedepends = vulkan-headers
	makedepends = git
	depends = qt5-base
	conflicts = qtchooser
	source = git+https://invent.kde.org/qt/qt/qtdeclarative#commit=1b0e366092bcfae0392592c3b7891f0e47af1018
	sha256sums = SKIP

pkgname = qt5-declarative
