pkgbase = qt5-declarative
	pkgdesc = Classes for QML and JavaScript languages
	pkgver = 5.15.11+kde+r31
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt5
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = python
	makedepends = vulkan-headers
	makedepends = git
	depends = qt5-base
	conflicts = qtchooser
	source = git+https://invent.kde.org/qt/qt/qtdeclarative#commit=453b1cb207cf3ce35b906c21c9f04a17d66074a7
	sha256sums = SKIP

pkgname = qt5-declarative
