pkgbase = libksieve
	pkgdesc = KDE PIM library for managing sieves
	pkgver = 23.08.2
	pkgrel = 1
	url = https://kontact.kde.org
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = qt5-tools
	makedepends = doxygen
	depends = kmime
	depends = kidentitymanagement
	depends = pimcommon
	depends = kmailtransport
	source = https://download.kde.org/stable/release-service/23.08.2/src/libksieve-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/libksieve-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 399be607426d2f71f14157cf4179ee8bcaf0247b18e131e94af5a24489b6d1cf
	sha256sums = SKIP

pkgname = libksieve
