pkgbase = alacarte
	pkgdesc = Menu editor for gnome
	pkgver = 3.50.0
	pkgrel = 1
	epoch = 1
	url = https://gitlab.gnome.org/GNOME/alacarte
	arch = any
	license = LGPL
	makedepends = docbook-xsl
	makedepends = git
	makedepends = libxslt
	depends = gnome-menus
	depends = gtk3
	depends = python-cairo
	depends = python-gobject
	source = git+https://gitlab.gnome.org/GNOME/alacarte.git#commit=167780e0e9fc5cb26ccd3e5d55e33b32ae15ea44
	b2sums = SKIP

pkgname = alacarte
