pkgbase = python-orjson
	pkgdesc = Fast, correct Python JSON library supporting dataclasses and datetimes
	pkgver = 3.9.8
	pkgrel = 1
	url = https://github.com/ijl/orjson
	arch = x86_64
	license = Apache-2.0
	license = MIT
	checkdepends = python-arrow
	checkdepends = python-pendulum
	checkdepends = python-psutil
	checkdepends = python-pytest
	checkdepends = python-pytz
	checkdepends = python-xxhash
	makedepends = maturin
	makedepends = python-installer
	makedepends = rust
	depends = gcc-libs
	depends = glibc
	depends = python
	source = https://github.com/ijl/orjson/archive/3.9.8/orjson-3.9.8.tar.gz
	sha512sums = 175a39f29bcd63547dcf37fac379dc6500a83083d3cc9a9871ebaf55afcbe164eec269715455c313553ffffe11fcc320f0d07f395a3c42336267566302143fb0
	b2sums = 03bcc335e3a868bdc5877736d273e87ee17af3285de4bbb528f50d0f7e97866190dbfe56d762d9b0b3e3d3f70d338a996bf8e2b03392ae11f11a972721f76d14

pkgname = python-orjson
