pkgbase = gnome-color-manager
	pkgdesc = GNOME Color Profile Tools
	pkgver = 3.36.0+r51+gcf7ee2b5
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gnome-color-manager
	arch = x86_64
	groups = gnome
	license = GPL2
	checkdepends = xorg-server-xvfb
	makedepends = appstream-glib
	makedepends = docbook-sgml
	makedepends = docbook-utils
	makedepends = git
	makedepends = meson
	makedepends = perl-sgmls
	makedepends = yelp-tools
	depends = colord
	depends = glib2
	depends = gtk3
	depends = lcms2
	source = git+https://gitlab.gnome.org/GNOME/gnome-color-manager.git#commit=cf7ee2b512c55ca96764aa3015b2ddbaea716b76
	b2sums = SKIP

pkgname = gnome-color-manager
