pkgbase = python-jupyter-ydoc
	pkgdesc = Document structures for collaborative editing using Ypy
	pkgver = 1.1.1
	pkgrel = 1
	url = https://jupyter.org/
	arch = any
	license = MIT
	checkdepends = python-pytest-asyncio
	checkdepends = python-websockets
	checkdepends = python-ypy-websocket
	makedepends = python-build
	makedepends = python-hatch-nodejs-version
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-y-py
	source = https://pypi.python.org/packages/source/j/jupyter_ydoc/jupyter_ydoc-1.1.1.tar.gz
	sha256sums = 00f8b33a6e7d55cbe12b91b87a6a86b673e2933d77c3a1261bba8b24753645dd

pkgname = python-jupyter-ydoc
