pkgbase = mat2
	pkgdesc = Metadata removal tool, supporting a wide range of commonly used file formats
	pkgver = 0.13.4
	pkgrel = 2
	url = https://0xacab.org/jvoisin/mat2
	arch = any
	license = LGPL3
	checkdepends = ffmpeg
	makedepends = python-setuptools
	depends = gdk-pixbuf2
	depends = librsvg
	depends = mailcap
	depends = perl-image-exiftool
	depends = poppler-glib
	depends = python
	depends = python-cairo
	depends = python-gobject
	depends = python-mutagen
	optdepends = ffmpeg: video support
	optdepends = bubblewrap: sandboxing support
	optdepends = kdialog: dolphin file browser integration
	source = https://0xacab.org/jvoisin/mat2/-/archive/0.13.4/mat2-0.13.4.tar.gz
	source = https://0xacab.org/jvoisin/mat2/uploads/95d1f3782dfc731545fd9b467c594cb2/mat2-0.13.4.tar.gz.asc
	validpgpkeys = 9FCDEE9E1A381F311EA62A7404D041E8171901CC
	sha512sums = 75c08c9c52a82f9983e799c2aeef0da8324d1c92ac32fb748a68063ec7b28569692082aceacf7161d24db0e8a988357c423b6e17ca5c0f934309c9791c41ab18
	sha512sums = SKIP
	b2sums = cab400479bbf312979e11f00bccf02e0e330455651dcdef239507c511b4101cb8b39af5f9dfdc1df9f1bcedc3dda3276c7cf598491c0ff0fc1f365f540fdb7a6
	b2sums = SKIP

pkgname = mat2
