pkgbase = xfce4-terminal
	pkgdesc = A modern terminal emulator primarily for the Xfce desktop environment
	pkgver = 1.1.1
	pkgrel = 1
	url = https://docs.xfce.org/apps/terminal/start
	arch = x86_64
	groups = xfce4
	license = GPL2
	makedepends = intltool
	depends = libxfce4ui
	depends = vte3
	depends = hicolor-icon-theme
	source = https://archive.xfce.org/src/apps/xfce4-terminal/1.1/xfce4-terminal-1.1.1.tar.bz2
	sha256sums = 5ab5c9b49c00be29f0be4eee5ccfa5073b16f2456185270265a9324549080aa6

pkgname = xfce4-terminal
