pkgbase = python-netcdf4
	pkgdesc = Python/NumPy interface to the netCDF C library
	pkgver = 1.6.5
	pkgrel = 1
	url = https://unidata.github.io/netcdf4-python
	arch = x86_64
	license = MIT
	makedepends = cython
	makedepends = python-setuptools
	depends = python-numpy
	depends = python-cftime
	depends = netcdf
	depends = python-certifi
	source = https://files.pythonhosted.org/packages/source/n/netCDF4/netCDF4-1.6.5.tar.gz
	sha256sums = 824881d0aacfde5bd982d6adedd8574259c85553781e7b83e0ce82b890bfa0ef

pkgname = python-netcdf4
