pkgbase = perl-uri
	pkgdesc = Uniform Resource Identifiers (absolute and relative)
	pkgver = 5.21
	pkgrel = 1
	url = https://search.cpan.org/dist/URI/
	arch = any
	license = PerlArtistic
	checkdepends = perl-test-fatal
	checkdepends = perl-test-needs
	checkdepends = perl-test-warnings
	depends = perl
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/O/OA/OALDERS/URI-5.21.tar.gz
	sha512sums = 0fb15c93d6bfd1842a3129d31ffd4d7c9fb9c735d5f45b5aaa07609edecd1b16191b7475aebd013c7a0e92894000d6982503654d306d82d477b52b33b058644f

pkgname = perl-uri
