pkgbase = gnome-sudoku
	pkgdesc = Test your logic skills in this number grid puzzle
	pkgver = 45.0
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/Sudoku
	arch = x86_64
	groups = gnome-extra
	license = GPL
	makedepends = git
	makedepends = meson
	makedepends = vala
	makedepends = yelp-tools
	depends = gtk4
	depends = json-glib
	depends = libadwaita
	depends = libgee
	depends = qqwing
	source = git+https://gitlab.gnome.org/GNOME/gnome-sudoku.git#commit=02e8d3fb81703fb7f368c52d0a4a5e7580fac7e6
	b2sums = SKIP

pkgname = gnome-sudoku
