pkgbase = gnome-sudoku
	pkgdesc = Test your logic skills in this number grid puzzle
	pkgver = 45.1
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/Sudoku
	arch = x86_64
	groups = gnome-extra
	license = GPL
	makedepends = git
	makedepends = meson
	makedepends = vala
	makedepends = yelp-tools
	depends = gtk4
	depends = json-glib
	depends = libadwaita
	depends = libgee
	depends = qqwing
	source = git+https://gitlab.gnome.org/GNOME/gnome-sudoku.git#commit=576ca700ef353da5c6cc3649762c2e163435419d
	b2sums = SKIP

pkgname = gnome-sudoku
