pkgbase = eog
	pkgdesc = Eye of Gnome: An image viewing and cataloging program
	pkgver = 45.0
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/EyeOfGnome
	arch = x86_64
	license = GPL
	makedepends = gi-docgen
	makedepends = git
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = systemd
	makedepends = yelp-tools
	depends = cairo
	depends = dconf
	depends = exempi
	depends = gdk-pixbuf2
	depends = glib2
	depends = gnome-desktop
	depends = gtk3
	depends = hicolor-icon-theme
	depends = lcms2
	depends = libexif
	depends = libgirepository
	depends = libhandy
	depends = libjpeg-turbo
	depends = libpeas
	depends = librsvg
	depends = libx11
	depends = webp-pixbuf-loader
	depends = zlib
	source = git+https://gitlab.gnome.org/GNOME/eog.git#commit=8173799eee5477f2b112c21b148073ebe85287db
	b2sums = SKIP

pkgname = eog
	optdepends = eog-plugins: Additional features

pkgname = eog-docs
	pkgdesc = Eye of Gnome: An image viewing and cataloging program (documentation)
	depends = 
