pkgbase = qt5-x11extras
	pkgdesc = Provides platform-specific APIs for X11
	pkgver = 5.15.11
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt5
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = git
	depends = qt5-base
	source = git+https://invent.kde.org/qt/qt/qtx11extras#commit=5fb2e067a38d3583684310130f5d8aad064f512f
	sha256sums = SKIP

pkgname = qt5-x11extras
