pkgbase = unrar
	pkgver = 6.2.12
	pkgrel = 1
	epoch = 1
	url = https://www.rarlab.com/rar_add.htm
	arch = x86_64
	license = custom
	depends = gcc-libs
	depends = glibc
	source = https://www.rarlab.com/rar/unrarsrc-6.2.12.tar.gz
	sha256sums = a008b5f949bca9bb4ffa1bebbfc8b3c14b89df10a10354809b845232d5f582e5

pkgname = libunrar
	pkgdesc = Library and header file for applications that use libunrar

pkgname = unrar
	pkgdesc = The RAR uncompression program
