pkgbase = nawk
	pkgdesc = The one, true implementation of AWK
	pkgver = 20231001
	pkgrel = 1
	url = https://github.com/onetrueawk/awk
	arch = x86_64
	license = custom
	makedepends = git
	depends = glibc
	options = !makeflags
	source = git+https://github.com/onetrueawk/awk.git#commit=a7c1fbd7799d40577f4ac0fc79791a23df1381ca
	source = manpage-naming.patch
	sha256sums = SKIP
	sha256sums = fa1bade363896033a50fbdadc8fa2f490f85a044d11afcd537f317067c70d3b5

pkgname = nawk
