pkgbase = crypto++
	pkgdesc = A free C++ class library of cryptographic schemes
	pkgver = 8.8.0
	pkgrel = 1
	url = https://www.cryptopp.com/
	arch = x86_64
	license = custom
	makedepends = git
	makedepends = unzip
	depends = gcc-libs
	source = git+https://github.com/weidai11/cryptopp.git#tag=4d0cad5401d1a2c998b314bc89288c9620d3021d
	validpgpkeys = B8CC19802062211A508B2F5CCE0586AF1F8E37BD
	b2sums = SKIP

pkgname = crypto++
