pkgbase = kiconthemes5
	pkgdesc = Support for icon themes
	pkgver = 5.110.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = qt5-svg
	depends = kconfigwidgets5
	depends = karchive5
	optdepends = breeze-icons: fallback icon theme
	provides = kiconthemes=5.110.0
	conflicts = kiconthemes<5.111
	replaces = kiconthemes<5.111
	source = https://download.kde.org/stable/frameworks/5.110/kiconthemes-5.110.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.110/kiconthemes-5.110.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 0d84a2106d68fe040458ea31a8fb63673d0cc48892e606a5875edaa9e4c9662d
	sha256sums = SKIP

pkgname = kiconthemes5
