pkgbase = python-setuptools-gettext
	pkgdesc = Setuptools plugin for building .mo files
	pkgver = 0.1.7
	pkgrel = 1
	url = https://github.com/breezy-team/setuptools-gettext
	arch = any
	license = GPL2
	makedepends = git
	depends = python-setuptools
	source = git+https://github.com/breezy-team/setuptools-gettext.git#tag=8d74df25ab36af616044fa3d18dc43d5a13a7367
	validpgpkeys = DC837EE14A7E37347E87061700806F2BD729A457
	b2sums = SKIP

pkgname = python-setuptools-gettext
