pkgbase = python-crispy-bootstrap4
	pkgdesc = Bootstrap4 template pack for django-crispy-forms
	pkgver = 2023.1
	pkgrel = 1
	url = https://github.com/django-crispy-forms/crispy-bootstrap4
	arch = any
	license = MIT
	checkdepends = python-django
	checkdepends = python-django-crispy-forms
	checkdepends = python-pytest
	checkdepends = python-pytest-django
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = https://github.com/django-crispy-forms/crispy-bootstrap4/archive/2023.1/crispy-bootstrap4-2023.1.tar.gz
	sha512sums = fbbc8c6e0f4351b50b0fa3a4d2faefb0775906c995f42cf9ccd9688d4780e05877a9a53f065ad92785d135a560064809f429dbcebe9f257f65f063d9539973e8
	b2sums = 0a3c4c1b86ba9701365f1fcfb90811e1f6793fb9f374a510410c460bc62a48e06b72a75330f0efd3a06e51380f457eea66f236488774c3ee6bf758510136f08b

pkgname = python-crispy-bootstrap4
