pkgbase = kcmutils5
	pkgdesc = Utilities for interacting with KCModules
	pkgver = 5.111.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = kdeclarative5
	conflicts = kcmutils<5.111
	replaces = kcmutils<5.111
	source = https://download.kde.org/stable/frameworks/5.111/kcmutils-5.111.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.111/kcmutils-5.111.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = e0f888952a8653355eb93e80f1aa87a0fa548fee0a9e9cae5214c14a962ccd26
	sha256sums = SKIP

pkgname = kcmutils5
