pkgbase = qt6-serialbus
	pkgdesc = Qt module for general purpose serial bus access
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = qt6-serialport
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtserialbus-everywhere-src-6.6.0.tar.xz
	sha256sums = 18ccf07152ea995c6c1ef3ce9120b6baea7017a09626ec1c5bf4faa6dd29b94c

pkgname = qt6-serialbus
