pkgbase = qt6-serialbus
	pkgdesc = Qt module for general purpose serial bus access
	pkgver = 6.5.3
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = qt6-serialport
	source = https://download.qt.io/official_releases/qt/6.5/6.5.3/submodules/qtserialbus-everywhere-src-6.5.3.tar.xz
	sha256sums = 216d9599150d77c4717ec017b89b53e8d936c7d101c464d98219dd0f32aad08d

pkgname = qt6-serialbus
