pkgbase = exfatprogs
	pkgdesc = exFAT filesystem userspace utilities for the Linux Kernel exfat driver
	pkgver = 1.2.2
	pkgrel = 1
	url = https://github.com/exfatprogs/exfatprogs
	arch = x86_64
	license = GPL2
	depends = glibc
	provides = exfat-utils
	conflicts = exfat-utils
	source = https://github.com/exfatprogs/exfatprogs/archive/1.2.2/exfatprogs-1.2.2.tar.gz
	b2sums = 557b54c7110ba7fc0f7a8fc1d8051e062c3c304da2d0c9e36a3cccc65004bbfc717abd4adcc8de1730dccb14db669350816d37cc5f5b63c8ae132e5050106121

pkgname = exfatprogs
