pkgbase = gettext
	pkgdesc = GNU internationalization library
	pkgver = 0.22.3
	pkgrel = 1
	url = https://www.gnu.org/software/gettext/
	arch = x86_64
	license = GPL-2.0-only
	license = LGPL-2.0-only
	license = GFDL-1.2-only
	license = GPL-2.0-or-later
	makedepends = gettext
	makedepends = emacs
	makedepends = git
	depends = gcc-libs
	depends = acl
	depends = sh
	depends = libunistring
	depends = libxml2
	optdepends = git: for autopoint infrastructure updates
	options = !docs
	source = https://ftp.gnu.org/pub/gnu/gettext/gettext-0.22.3.tar.gz
	source = https://ftp.gnu.org/pub/gnu/gettext/gettext-0.22.3.tar.gz.sig
	source = gettext-0.22-disable-libtextstyle.patch
	validpgpkeys = 462225C3B46F34879FC8496CD605848ED7E69871
	validpgpkeys = 68D94D8AAEEAD48AE7DC5B904F494A942E4616C2
	validpgpkeys = 9001B85AF9E1B83DF1BDA942F5BE8B267C6A406D
	sha256sums = 839a260b2314ba66274dae7d245ec19fce190a3aa67869bf31354cb558df42c7
	sha256sums = SKIP
	sha256sums = a28a27192f336f0b0908bdbf840d3b19d7b587c4ac52cad635cb43e95eb3c78d

pkgname = gettext
