pkgbase = syntax-highlighting5
	pkgdesc = Syntax highlighting engine for structured text and code
	pkgver = 5.111.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = GPL2
	makedepends = extra-cmake-modules
	makedepends = qt5-declarative
	makedepends = qt5-xmlpatterns
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = doxygen
	depends = qt5-base
	optdepends = qt5-declarative: QML bindings
	conflicts = syntax-highlighting<5.111
	replaces = syntax-highlighting<5.111
	source = https://download.kde.org/stable/frameworks/5.111/syntax-highlighting-5.111.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.111/syntax-highlighting-5.111.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = c0a66ad2bf892792cf1f37ccc8df2607e2ad6753ae7e4023c7213c40f0425867
	sha256sums = SKIP

pkgname = syntax-highlighting5
