pkgbase = gnome-software
	pkgdesc = GNOME Software Tools
	pkgver = 45.0
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/Software/
	arch = x86_64
	groups = gnome
	license = GPL
	makedepends = docbook-xsl
	makedepends = flatpak
	makedepends = fwupd
	makedepends = git
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = libglib-testing
	makedepends = malcontent
	makedepends = meson
	depends = appstream
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = libadwaita
	depends = libsoup3
	depends = libsysprof-capture
	depends = libxmlb
	depends = polkit
	optdepends = flatpak: Flatpak support plugin
	optdepends = fwupd: fwupd support plugin
	optdepends = malcontent: Parental control plugin
	source = git+https://gitlab.gnome.org/GNOME/gnome-software.git#commit=9053cd42537ce9e3ae163328cdcc4db1f8b368ac
	source = git+https://gitlab.gnome.org/mwleeds/gnome-pwa-list.git
	b2sums = SKIP
	b2sums = SKIP

pkgname = gnome-software
