pkgbase = libxrandr
	pkgdesc = X11 RandR extension library
	pkgver = 1.5.4
	pkgrel = 1
	url = https://xorg.freedesktop.org/
	arch = x86_64
	license = custom
	makedepends = xorg-util-macros
	makedepends = xorgproto
	depends = libxext
	depends = libxrender
	depends = libx11
	depends = glibc
	source = https://xorg.freedesktop.org//releases/individual/lib/libXrandr-1.5.4.tar.xz
	source = https://xorg.freedesktop.org//releases/individual/lib/libXrandr-1.5.4.tar.xz.sig
	validpgpkeys = 4A193C06D35E7C670FA4EF0BA2FB9E081F2D130E
	validpgpkeys = 4A193C06D35E7C670FA4EF0BA2FB9E081F2D130E
	sha512sums = f7c0b083943e11b4cc3c97e10e2cbbc3920fe0c9c5031ef86fca2eb5df413d767caf53dca266abf65395eb10e55354c8fe59ed6b3265402ffccb919a813bc781
	sha512sums = SKIP

pkgname = libxrandr
