pkgbase = kate
	pkgdesc = Advanced text editor
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/kate/
	arch = x86_64
	groups = kde-applications
	groups = kde-utilities
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = knewstuff5
	depends = ktexteditor5
	depends = kactivities5
	depends = kuserfeedback
	depends = hicolor-icon-theme
	optdepends = konsole: open a terminal in Kate
	optdepends = clang: C and C++ LSP support
	optdepends = python-lsp-server: Python LSP support
	optdepends = texlab: LaTeX LSP support
	optdepends = rust: Rust LSP support
	optdepends = git: git-blame plugin
	provides = kwrite
	conflicts = kwrite
	replaces = kwrite
	source = https://download.kde.org/stable/release-service/23.08.2/src/kate-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kate-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 974716631e6e94e8dfe5a4d58c5080524ce9291ab50d4ade231ebb5d5b341259
	sha256sums = SKIP

pkgname = kate
