pkgbase = sysprof
	pkgdesc = Kernel based performance profiler
	pkgver = 45.1
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/Sysprof
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = meson
	makedepends = yelp-tools
	depends = cairo
	depends = glib2
	depends = graphene
	depends = gtk4
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libadwaita
	depends = libdex
	depends = libpanel
	depends = libunwind
	depends = pango
	depends = polkit
	source = git+https://gitlab.gnome.org/GNOME/sysprof.git#commit=d62c94d62a29be82c187e45e2e17181a4e0c4211
	b2sums = SKIP

pkgname = sysprof
	groups = gnome-extra
	depends = cairo
	depends = glib2
	depends = graphene
	depends = gtk4
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libadwaita
	depends = libdex
	depends = libpanel
	depends = libunwind
	depends = pango
	depends = polkit
	depends = libsysprof-capture

pkgname = libsysprof-capture
	pkgdesc = Kernel based performance profiler - capture library
	license = BSD
	depends = 
