pkgbase = python-pyqt5-sip
	pkgdesc = The sip module support for PyQt5
	pkgver = 12.13.0
	pkgrel = 1
	url = https://riverbankcomputing.com/software/pyqt/intro
	arch = x86_64
	license = GPL
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	source = https://pypi.python.org/packages/source/P/PyQt5-sip/PyQt5_sip-12.13.0.tar.gz
	sha256sums = 7f321daf84b9c9dbca61b80e1ef37bdaffc0e93312edae2cd7da25b953971d91

pkgname = python-pyqt5-sip
