pkgbase = python-feedgenerator
	pkgdesc = Standalone version of django.utils.feedgenerator (python3).
	pkgver = 2.1.0
	pkgrel = 1
	url = https://pypi.org/project/feedgenerator/
	arch = any
	license = GPL
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	makedepends = python-distribute
	makedepends = python-nose
	depends = python
	depends = python-pytz
	depends = python-six
	source = https://pypi.python.org/packages/source/f/feedgenerator/feedgenerator-2.1.0.tar.gz
	sha512sums = b8b41f5b256130166c8dba34dd950782f9acb506e3e37a2fe13b5e1f9d33f7d39b7f862e446f4f6f2f480973617feb70303f78a4fb6741f110166e61b92f0075

pkgname = python-feedgenerator
