pkgbase = python-cycler
	pkgdesc = Composable style cycles
	pkgver = 0.12.0
	pkgrel = 1
	url = https://github.com/matplotlib/cycler
	arch = any
	license = BSD
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = https://github.com/matplotlib/cycler/archive/v0.12.0/python-cycler-0.12.0.tar.gz
	sha512sums = dcbaf8c8d66ae0a302f9dc7507d7064ded133ef5349f2d08cfb52beb3d7a81aa7cd0bebd5da357934431d39b6141e0e2ce344ab7f6e12b6ec6f61649bef3e5c3

pkgname = python-cycler
