pkgbase = ktouch
	pkgdesc = Touch Typing Tutor
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/ktouch/
	arch = x86_64
	groups = kde-applications
	groups = kde-education
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = kqtquickcharts
	depends = libxkbfile
	depends = kcmutils5
	depends = hicolor-icon-theme
	depends = qt5-quickcontrols2
	depends = qt5-graphicaleffects
	depends = qt5-xmlpatterns
	source = https://download.kde.org/stable/release-service/23.08.2/src/ktouch-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/ktouch-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 28fb2599bdf7b50bdaa0f25a2ff6271c3b365127f9ace4bb3f2a592fce8679ec
	sha256sums = SKIP

pkgname = ktouch
