pkgbase = merkuro
	pkgdesc = A calendar application using Akonadi to sync with external services
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/merkuro.calendar/
	arch = x86_64
	groups = kde-applications
	groups = kde-pim
	license = GPL
	makedepends = extra-cmake-modules
	depends = kdepim-runtime
	depends = mailcommon
	depends = qqc2-desktop-style5
	depends = kirigami-addons
	conflicts = kalendar
	replaces = kalendar
	source = https://download.kde.org/stable/release-service/23.08.2/src/merkuro-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/merkuro-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = eb4e472681dab528a05641ed222073501c0f4dd20f7b3f6fc8c2b77834344f1d
	sha256sums = SKIP

pkgname = merkuro
