pkgbase = khealthcertificate
	pkgdesc = Handling of digital vaccination, test and recovery certificates
	pkgver = 23.01.0
	pkgrel = 2
	url = https://www.kde.org
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-declarative
	depends = karchive5
	depends = kcodecs5
	depends = ki18n5
	optdepends = qt5-declarative: QML bindings
	source = https://download.kde.org/stable/plasma-mobile/23.01.0/khealthcertificate-23.01.0.tar.xz
	source = https://download.kde.org/stable/plasma-mobile/23.01.0/khealthcertificate-23.01.0.tar.xz.sig
	validpgpkeys = 39FFA93CAE9C6AFC212AD00202325448204E452A
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	sha256sums = 755dc2625c4b2ad06266ce19fa7565f87dc3df780d161830db498027477b6aa4
	sha256sums = SKIP

pkgname = khealthcertificate
