pkgbase = python-parse-type
	pkgdesc = Simplifies to build parse types based on the parse module
	pkgver = 0.6.1
	pkgrel = 1
	url = https://github.com/jenisys/parse_type
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-html
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-parse
	depends = python-six
	source = https://github.com/jenisys/parse_type/archive/v0.6.1/python-parse-type-0.6.1.tar.gz
	sha512sums = 6e4efae3ae1bba2b6aadd37e15f366b3146007c1d19874c07cf85ff4d3e4c439febf304fc5f19344e2a036b2605b0ce67fccfe22277ecbdc700cb61049b60dc1

pkgname = python-parse-type
