pkgbase = kwave
	pkgdesc = A sound editor
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/kwave/
	arch = x86_64
	groups = kde-applications
	groups = kde-multimedia
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = doxygen
	makedepends = librsvg
	makedepends = opus
	depends = kio5
	depends = audiofile
	depends = libmad
	depends = libsamplerate
	depends = hicolor-icon-theme
	depends = id3lib
	depends = fftw
	optdepends = opus: OGG plugin
	source = https://download.kde.org/stable/release-service/23.08.2/src/kwave-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kwave-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 198248a8686569aca15bec667f119b73beb8e6ccc77ee00c4d22b726f932b7e3
	sha256sums = SKIP

pkgname = kwave
