pkgbase = ksystemlog
	pkgdesc = System log viewer tool
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/ksystemlog/
	arch = x86_64
	groups = kde-applications
	groups = kde-system
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = kio5
	source = https://download.kde.org/stable/release-service/23.08.2/src/ksystemlog-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/ksystemlog-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 32d07cae57384e97f67356b88995c66db2b88ebb43ac0f22c0624af68d705afc
	sha256sums = SKIP

pkgname = ksystemlog
