pkgbase = perl-test2-suite
	pkgdesc = Distribution with a rich set of tools built upon the Test2 framework.
	pkgver = 0.000157
	pkgrel = 1
	url = https://metacpan.org/release/Test2-Suite
	arch = any
	license = PerlArtistic
	depends = perl-module-pluggable
	depends = perl-term-table
	depends = perl-test-simple>=1.302176
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/E/EX/EXODIST/Test2-Suite-0.000157.tar.gz
	sha512sums = 928d64743fd3db86dfcb4abf90b952da2f3bf8a67fccb9b3b833200252b31018bd72767192c033e5e494809bcde37f0b5dbbb92504cea65c79adddfb1242582d

pkgname = perl-test2-suite
