pkgbase = libmbim
	pkgdesc = MBIM modem protocol helper library
	pkgver = 1.30.0
	pkgrel = 1
	url = https://www.freedesktop.org/wiki/Software/libmbim/
	arch = x86_64
	license = GPL2
	makedepends = bash-completion
	makedepends = git
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = help2man
	makedepends = meson
	depends = bash
	depends = glib2
	depends = systemd
	provides = libmbim-glib.so
	source = git+https://gitlab.freedesktop.org/mobile-broadband/libmbim.git#commit=8415687e4f30ae5e36f407f179c8147f1529725c
	b2sums = SKIP

pkgname = libmbim
