pkgbase = qt6-sensors
	pkgdesc = Provides access to sensor hardware and motion gesture recognition
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-declarative
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	optdepends = qt6-declarative: QML bindings
	optdepends = iio-sensor-proxy: iio-sensor-proxy backend
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtsensors-everywhere-src-6.6.0.tar.xz
	sha256sums = 28f0be5d4eac103ba3bb660ea61806d0e193c1fab949d1c95f2cb7cb39d84498

pkgname = qt6-sensors
