pkgbase = python-ruamel-yaml
	pkgdesc = YAML parser/emitter that supports roundtrip preservation of comments, seq/map flow style, and map key order
	pkgver = 0.17.40
	pkgrel = 1
	url = https://sourceforge.net/projects/ruamel-yaml/
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python-ruamel.yaml.clib
	source = https://files.pythonhosted.org/packages/source/r/ruamel.yaml/ruamel.yaml-0.17.40.tar.gz
	sha512sums = 47ec3508e86d53f7b53dc999dfafc05bb656d3dd02bd289ee97267a6cae5e33e87da584a100e8de44a6d43096d05c13240def8ab9c7010e9efd69d64753004f9

pkgname = python-ruamel-yaml
