pkgbase = accerciser
	pkgdesc = Interactive Python accessibility explorer for the GNOME desktop
	pkgver = 3.42.0
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/Accerciser
	arch = any
	groups = gnome-extra
	license = BSD
	makedepends = appstream-glib
	makedepends = git
	makedepends = yelp-tools
	depends = gtk3
	depends = ipython
	depends = libwnck3
	depends = python
	depends = python-atspi
	depends = python-cairo
	source = git+https://gitlab.gnome.org/GNOME/accerciser.git#commit=e36f30841dd85faff6ff5156f6c15fecbbf020ca
	b2sums = SKIP

pkgname = accerciser
