pkgbase = lager
	pkgdesc = C++ library for value-oriented design using the unidirectional data-flow architecture
	pkgver = 0.1.1
	pkgrel = 1
	url = https://sinusoid.es/lager
	arch = any
	license = Boost
	makedepends = cmake
	source = https://github.com/arximboldi/lager/archive/v0.1.1/lager-0.1.1.tar.gz
	sha256sums = 9e4743c3fe2c95c1653c3fd088a2200108f09d758725697831852dc91d15d174

pkgname = lager
