# ---> ArchLinuxPackages
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

*.service
*.timer
*.socket
plymouth/HEAD
plymouth/config
plymouth/description
plymouth/hooks/applypatch-msg.sample
plymouth/hooks/commit-msg.sample
plymouth/hooks/fsmonitor-watchman.sample
plymouth/hooks/post-update.sample
plymouth/hooks/pre-applypatch.sample
plymouth/hooks/pre-commit.sample
plymouth/hooks/pre-merge-commit.sample
plymouth/hooks/pre-push.sample
plymouth/hooks/pre-rebase.sample
plymouth/hooks/pre-receive.sample
plymouth/hooks/prepare-commit-msg.sample
plymouth/hooks/push-to-checkout.sample
plymouth/hooks/sendemail-validate.sample
plymouth/hooks/update.sample
plymouth/info/attributes
plymouth/info/exclude
plymouth/objects/pack/pack-cce4e020f331d09c660d210bdd2400fe68abe997.idx
plymouth/objects/pack/pack-cce4e020f331d09c660d210bdd2400fe68abe997.pack
plymouth/objects/pack/pack-cce4e020f331d09c660d210bdd2400fe68abe997.rev
plymouth/packed-refs
