pkgbase = python-prettytable
	pkgdesc = A simple Python library for easily displaying tabular data
	pkgver = 3.8.0
	pkgrel = 1
	url = https://github.com/jazzband/prettytable
	arch = any
	license = BSD
	checkdepends = python-pytest-lazy-fixture
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python-wcwidth
	conflicts = python-ptable
	source = git+https://github.com/jazzband/prettytable.git#commit=f0271f36de1a0897b89a3dabc12c66a482307258
	sha512sums = SKIP

pkgname = python-prettytable
