pkgbase = python-pyfakefs
	pkgdesc = pyfakefs implements a fake file system that mocks the Python file system modules
	pkgver = 5.2.3
	pkgrel = 1
	url = https://github.com/jmcgeheeiv/pyfakefs/
	arch = any
	license = APACHE
	checkdepends = python-tox
	makedepends = git
	makedepends = python-setuptools
	depends = python-pytest
	source = git+https://github.com/jmcgeheeiv/pyfakefs.git#tag=c53c30a13b5e6ccb58817cc862853bfbf9b6a255
	sha256sums = SKIP

pkgname = python-pyfakefs
