pkgbase = kio-fuse
	pkgdesc = FUSE interface for KIO
	pkgver = 5.0.1
	pkgrel = 2
	url = https://kde.org/
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	depends = fuse3
	depends = gcc-libs
	depends = glibc
	depends = kcoreaddons5
	depends = kio5
	depends = qt5-base
	source = https://download.kde.org/stable/kio-fuse/5.0.1/kio-fuse-5.0.1.tar.xz
	source = https://download.kde.org/stable/kio-fuse/5.0.1/kio-fuse-5.0.1.tar.xz.sig
	validpgpkeys = 21EC3FD75D26B39E820BE6FBD27C2C1AF21D8BAD
	sha256sums = 66679a8bf68fe60e19f31449f4110d4cf822915b3d245af3c0cd0056081466dd
	sha256sums = SKIP

pkgname = kio-fuse
