pkgbase = plasma-workspace-wallpapers
	pkgdesc = Additional wallpapers for the Plasma Workspace
	pkgver = 5.27.9
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = any
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-base
	source = https://download.kde.org/stable/plasma/5.27.9/plasma-workspace-wallpapers-5.27.9.tar.xz
	source = https://download.kde.org/stable/plasma/5.27.9/plasma-workspace-wallpapers-5.27.9.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 8eb33f3a7b3e0aa4563fd72dfce6ce16ba96f974b0054bd2c0ce2f7c612473be
	sha256sums = SKIP

pkgname = plasma-workspace-wallpapers
