pkgbase = xfconf
	pkgdesc = D-Bus-based configuration storage system
	pkgver = 4.18.2
	pkgrel = 1
	url = https://docs.xfce.org/xfce/xfconf/start
	arch = x86_64
	groups = xfce4
	license = GPL2
	makedepends = intltool
	makedepends = gobject-introspection
	makedepends = vala
	depends = libxfce4util
	source = https://archive.xfce.org/src/xfce/xfconf/4.18/xfconf-4.18.2.tar.bz2
	sha256sums = dce24fb0555e9718d139c10e714759e03ab4e40a7ffcf3c990f046f7a17213cc

pkgname = xfconf
