pkgbase = python-nbxmpp
	pkgdesc = A Python library to use Jabber/XMPP networks in a non-blocking way
	pkgver = 4.3.1
	pkgrel = 1
	url = https://dev.gajim.org/gajim/python-nbxmpp/
	arch = any
	license = GPL3
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = libsoup3
	depends = python-gobject
	depends = python-idna
	depends = python-precis_i18n
	source = https://dev.gajim.org/gajim/python-nbxmpp/-/archive/4.3.1/python-nbxmpp-4.3.1.tar.gz
	sha256sums = 89f56f2495e93d6a55dd9d4981136e2c3b7a3e19ffa11377146695b1ec21102c
	b2sums = 43d9af2c3c6d3737d01eba11e2128a0c687ee63c13a508f549aa6f67ba141550e655c493cff151dcfd0f891ce2cca5b4df0806e4a873e6f62743a7f5ae6def6f

pkgname = python-nbxmpp
