pkgbase = kruler
	pkgdesc = Screen Ruler
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/kruler/
	arch = x86_64
	groups = kde-applications
	groups = kde-graphics
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = knotifications5
	depends = kxmlgui5
	depends = hicolor-icon-theme
	source = https://download.kde.org/stable/release-service/23.08.2/src/kruler-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kruler-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 0c0366cf9db1eaf1d8eddcf99e270a062ac435b05d91e3fc4fa70fbdc0a8cc0c
	sha256sums = SKIP

pkgname = kruler
