pkgbase = gnome-font-viewer
	pkgdesc = A font viewer utility for GNOME
	pkgver = 45.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gnome-font-viewer
	arch = x86_64
	groups = gnome
	license = GPL
	makedepends = git
	makedepends = meson
	depends = gnome-desktop-4
	depends = gtk4
	depends = libadwaita
	source = git+https://gitlab.gnome.org/GNOME/gnome-font-viewer.git#commit=45a9be593244ec58e119cc7ac7db73b7ab419ca5
	b2sums = SKIP

pkgname = gnome-font-viewer
