pkgbase = python-pymupdf
	pkgdesc = Python bindings for MuPDF's rendering library
	pkgver = 1.22.5
	pkgrel = 3
	url = https://github.com/pymupdf/PyMuPDF
	arch = x86_64
	license = AGPL3
	checkdepends = python-fonttools
	checkdepends = python-pillow
	checkdepends = python-pytest
	makedepends = freetype2
	makedepends = git
	makedepends = libjpeg-turbo
	makedepends = python-build
	makedepends = python-distro
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = swig
	makedepends = systemd
	depends = glibc
	depends = gumbo-parser
	depends = jbig2dec
	depends = libmupdf
	depends = openjpeg2
	depends = python
	optdepends = python-fonttools: for building font subsets using fontTools
	optdepends = python-pillow: for image file saving using pillow
	source = https://files.pythonhosted.org/packages/source/P/PyMuPDF/PyMuPDF-1.22.5.tar.gz
	source = mupdf-1.23.patch
	source = https://github.com/pymupdf/PyMuPDF/commit/6055efa6.patch
	sha512sums = 683b713dd1db45c387de205700185722634fd6fdf499007927710a14c037f11be8dffa12843620bfe12d8cd93efa4b3289ff216f27eed49099851d5595f28d85
	sha512sums = 8a1400faa8560c5a5dd666e8a9026a9fe681c6192aab362aed28c79ff4ed6c6fe42f882d1669d4b0b1df02a0a64b05c7c336772a35c8477c7d1ad9faf0cbf7ae
	sha512sums = 6b54b5cf9aa495bf6fbe2cce4da72589dbf0479293bda01df7ea7d3185a69ed6eb307c8ea5177fb07568a738755f37ca4cbd39b440301894e8233a354e00c4cb
	b2sums = c6e460a25cf60aba95ff8336d9712f1ccea72b258d935f625413821a841da348022bcbafae6dc05a47aef497ffc808db9f92ba620cc039b4836ad8d2d81dfa81
	b2sums = 2e87b91c0ae18779b17a2eac43c60cb33f68010acdc723171f67662617e98a9a178385db5fe455c99e4e03fda8a93ac2270df1e7df4aeb5b6eae88831ffb22ba
	b2sums = 994b2cb5dcbf70d32aee12193ff2be36d163abccdc5723558c353b056aff2411d06b10fd469114dfd999e2525050c56dc7b0cd61f34a73347ca7b0d6c88e319f

pkgname = python-pymupdf
	depends = glibc
	depends = gumbo-parser
	depends = jbig2dec
	depends = libmupdf
	depends = openjpeg2
	depends = python
	depends = freetype2
	depends = libfreetype.so
	depends = libjpeg-turbo
	depends = libjpeg.so
