pkgbase = cairomm
	pkgdesc = C++ bindings for Cairo
	pkgver = 1.14.5
	pkgrel = 1
	url = https://www.cairographics.org/cairomm/
	arch = x86_64
	license = LGPL
	license = MPL
	makedepends = git
	makedepends = meson
	makedepends = mm-common
	depends = cairo
	depends = libsigc++
	options = !emptydirs
	source = git+https://gitlab.freedesktop.org/cairo/cairomm.git#commit=669e87a460bca3fa8d57cdaeac70bff183636354
	b2sums = SKIP

pkgname = cairomm
	depends = cairo
	depends = libsigc++
	depends = libsigc-2.0.so
	provides = libcairomm-1.0.so

pkgname = cairomm-docs
	pkgdesc = C++ bindings for Cairo (documentation)
	depends = 
	options = !strip
