pkgbase = freetds
	pkgdesc = Library for accessing Sybase and MS SQL Server databases
	pkgver = 1.4.3
	pkgrel = 1
	url = https://www.freetds.org
	arch = x86_64
	license = LGPL
	depends = glibc
	depends = krb5
	depends = openssl
	depends = readline
	depends = unixodbc
	backup = etc/freetds/freetds.conf
	backup = etc/freetds/locales.conf
	backup = etc/freetds/pool.conf
	source = ftp://ftp.freetds.org/pub/freetds/stable/freetds-1.4.3.tar.bz2
	sha256sums = 12f8b55b1e1816aec60e0d067de939c09e3477363250be95755b9b36e1c3c5d3

pkgname = freetds
