pkgbase = python-aiobotocore
	pkgdesc = asyncio support for botocore library using aiohttp
	pkgver = 2.7.0
	pkgrel = 1
	url = https://github.com/aio-libs/aiobotocore
	arch = any
	license = Apache
	checkdepends = python-moto
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-dill
	checkdepends = python-docker
	checkdepends = python-openapi-spec-validator
	checkdepends = python-yaml
	checkdepends = python-flask
	checkdepends = python-flask-cors
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-aiohttp
	depends = python-botocore
	depends = python-wrapt
	depends = python-aioitertools
	depends = python-dateutil
	depends = python-jmespath
	depends = python-multidict
	depends = python-urllib3
	source = https://github.com/aio-libs/aiobotocore/archive/2.7.0/python-aiobotocore-2.7.0.tar.gz
	source = moto-4.1.7.diff
	sha256sums = a9a6f215c06f826bdbd9af25ea697bef0c9861e64e226a96cad519ab1a5548e7
	sha256sums = 06c2548e54067c15c192c48b72a29b04b987aa3b694e7676366e3cbc638df81f

pkgname = python-aiobotocore
