pkgbase = python-pyfakefs
	pkgdesc = pyfakefs implements a fake file system that mocks the Python file system modules
	pkgver = 5.2.4
	pkgrel = 1
	url = https://github.com/jmcgeheeiv/pyfakefs/
	arch = any
	license = APACHE
	checkdepends = python-tox
	makedepends = git
	makedepends = python-setuptools
	depends = python-pytest
	source = git+https://github.com/jmcgeheeiv/pyfakefs.git#tag=41c726585148569600edeab63133b7f26add84aa
	sha256sums = SKIP

pkgname = python-pyfakefs
