pkgbase = gnome-boxes
	pkgdesc = Simple GNOME application to access virtual systems
	pkgver = 45.0
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/Boxes
	arch = x86_64
	groups = gnome-extra
	license = LGPL
	makedepends = appstream-glib
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = spice-protocol
	makedepends = vala
	makedepends = yelp-tools
	depends = cairo
	depends = cdrtools
	depends = dconf
	depends = edk2-ovmf
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libarchive
	depends = libgudev
	depends = libhandy
	depends = libosinfo
	depends = libsecret
	depends = libsoup3
	depends = libusb
	depends = libvirt-glib
	depends = libxml2
	depends = mtools
	depends = qemu-desktop
	depends = spice-gtk
	depends = tracker3
	depends = webkit2gtk-4.1
	depends = xdg-user-dirs
	source = https://download.gnome.org/sources/gnome-boxes/45/gnome-boxes-45.0.tar.xz
	sha256sums = cc63080eefa147a8472ab1a5ff087b97a27ab723a4ee005ed41e8c9dd7798e41

pkgname = gnome-boxes
