pkgbase = qt6-virtualkeyboard
	pkgdesc = Virtual keyboard framework
	pkgver = 6.5.3
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = qt6-declarative
	depends = qt6-svg
	depends = hunspell
	source = https://download.qt.io/official_releases/qt/6.5/6.5.3/submodules/qtvirtualkeyboard-everywhere-src-6.5.3.tar.xz
	sha256sums = 31808f15126940d737db3c3e5c2183e502c8668b6b2943da5885d71c1b3ae62d

pkgname = qt6-virtualkeyboard
