pkgbase = qt6-virtualkeyboard
	pkgdesc = Virtual keyboard framework
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = hunspell
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtvirtualkeyboard-everywhere-src-6.6.0.tar.xz
	sha256sums = 2784db43f514bfd3a2ce0e79e0096deea95a3866254d376a9134bc512bfa777b

pkgname = qt6-virtualkeyboard
