pkgbase = qt6-serialport
	pkgdesc = Provides access to hardware and virtual serial ports
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = systemd-libs
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtserialport-everywhere-src-6.6.0.tar.xz
	sha256sums = ecfcbbf1c47a67ff599a409bf7682fed416f797860c01c934f5a78c336da4065

pkgname = qt6-serialport
