pkgbase = plasma-desktop
	pkgdesc = KDE Plasma Desktop
	pkgver = 5.27.9
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = xf86-input-evdev
	makedepends = xf86-input-synaptics
	makedepends = xf86-input-libinput
	makedepends = xorg-server-devel
	makedepends = scim
	makedepends = kdesignerplugin
	makedepends = kaccounts-integration
	makedepends = intltool
	makedepends = packagekit-qt5
	makedepends = kinit
	makedepends = wayland-protocols
	makedepends = libibus
	depends = gawk
	depends = kdelibs4support
	depends = polkit-kde-agent
	depends = kmenuedit
	depends = systemsettings
	depends = powerdevil
	depends = baloo5
	depends = xdg-user-dirs
	optdepends = plasma-nm: Network manager applet
	optdepends = kscreen: screen management
	optdepends = ibus: kimpanel IBUS support
	optdepends = scim: kimpanel SCIM support
	optdepends = kaccounts-integration: OpenDesktop integration plugin
	optdepends = packagekit-qt5: to install new krunner plugins
	source = https://download.kde.org/stable/plasma/5.27.9/plasma-desktop-5.27.9.tar.xz
	source = https://download.kde.org/stable/plasma/5.27.9/plasma-desktop-5.27.9.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 6dd6f5b0bf9fa15b12b7e9424fed4fc81e330532025e052f8ba00b45f5c1f2e5
	sha256sums = SKIP

pkgname = plasma-desktop
