pkgbase = kosmindoormap
	pkgdesc = OSM multi-floor indoor map renderer
	pkgver = 23.08.2
	pkgrel = 1
	url = https://www.kde.org
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	depends = kpublictransport
	depends = kopeninghours
	depends = protobuf
	source = https://download.kde.org/stable/release-service/23.08.2/src/kosmindoormap-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kosmindoormap-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = c95b05b7bea0fb527088404388a88b7d0d17651cfc831892f461280276b5e7ba
	sha256sums = SKIP

pkgname = kosmindoormap
