pkgbase = python-clevercsv
	pkgdesc = A Python package for handling messy CSV files
	pkgver = 0.7.7
	pkgrel = 1
	url = https://github.com/alan-turing-institute/CleverCSV
	arch = x86_64
	license = MIT
	checkdepends = python-pytest-runner
	checkdepends = python-pandas
	checkdepends = python-tabview
	checkdepends = python-wilderness
	checkdepends = python-faust-cchardet
	checkdepends = python-termcolor
	makedepends = git
	makedepends = python-setuptools
	depends = python-chardet
	depends = python-regex
	depends = python-packaging
	optdepends = python-pandas
	optdepends = python-tabview
	optdepends = python-wilderness
	optdepends = python-cchardet
	source = git+https://github.com/alan-turing-institute/CleverCSV.git#commit=da37823a5fb1ddf703d16de800875b5d4a1b9969
	sha512sums = SKIP

pkgname = python-clevercsv
