pkgbase = baobab
	pkgdesc = A graphical directory tree analyzer
	pkgver = 45.0
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/DiskUsageAnalyzer
	arch = x86_64
	groups = gnome
	license = GPL2
	makedepends = appstream-glib
	makedepends = git
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = vala
	makedepends = yelp-tools
	depends = dconf
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = libadwaita
	depends = librsvg
	source = git+https://gitlab.gnome.org/GNOME/baobab.git#commit=c97b53788e8ce1c03e0fdfc4eb856c77e0053614
	source = no-mimetype.diff
	b2sums = SKIP
	b2sums = 71e04f307e842fa0676f5b64f55e8be908e3075a9b948a6ab3979b51a8db08fdd07c0f214adb74d5461b4f175a14a7bf9867cf2c9b044660a5b46bc8ea296a22

pkgname = baobab
