pkgbase = kapidox
	pkgdesc = Frameworks API Documentation Tools
	pkgver = 5.111.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = any
	groups = kf5
	license = LGPL
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = qt5-base
	depends = python-jinja
	depends = python-yaml
	source = https://download.kde.org/stable/frameworks/5.111/kapidox-5.111.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.111/kapidox-5.111.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 7fe92bf87c16cc61e20619447e0cd4440b06a8970103d83c7b953fb97cd42468
	sha256sums = SKIP

pkgname = kapidox
