pkgbase = kwrited
	pkgdesc = KDE daemon listening for wall and write messages
	pkgver = 5.27.9
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = kpty5
	depends = knotifications5
	depends = kdbusaddons5
	depends = oxygen-sounds
	source = https://download.kde.org/stable/plasma/5.27.9/kwrited-5.27.9.tar.xz
	source = https://download.kde.org/stable/plasma/5.27.9/kwrited-5.27.9.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = e6a8e32646311c8fd51e21377806fbfebc7ab15247dfc41863ee72bb506455f4
	sha256sums = SKIP

pkgname = kwrited
