pkgbase = python-arrow
	pkgdesc = Better dates and times for Python
	pkgver = 1.2.3
	pkgrel = 3
	url = https://arrow.readthedocs.io
	arch = any
	license = APACHE
	checkdepends = python-tox
	makedepends = git
	makedepends = python-setuptools
	depends = python
	depends = python-dateutil
	depends = python-typing_extensions
	source = git+https://github.com/crsmithdev/arrow.git#tag=8842f8c3263d1f1219c189a0500aa67abdd0a214
	sha256sums = SKIP

pkgname = python-arrow
