pkgbase = qt6-webview
	pkgdesc = Provides a way to display web content in a QML application
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-webengine
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtwebview-everywhere-src-6.6.0.tar.xz
	sha256sums = a5a48d9b5dfac60b66a737f844dc57de311de9d154fe10ccd8ec498506753392

pkgname = qt6-webview
