pkgbase = qt6-shadertools
	pkgdesc = Provides functionality for the shader pipeline that allows Qt Quick to operate on Vulkan, Metal, and Direct3D, in addition to OpenGL
	pkgver = 6.5.3
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	makedepends = cmake
	makedepends = ninja
	depends = qt6-base
	source = https://download.qt.io/official_releases/qt/6.5/6.5.3/submodules/qtshadertools-everywhere-src-6.5.3.tar.xz
	sha256sums = 201b7b3a409f048e78c5defb90a70af423166313ad4386f8e6b83990ae0f3573

pkgname = qt6-shadertools
