pkgbase = qt6-languageserver
	pkgdesc = An implementation of the Language Server Protocol
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtlanguageserver-everywhere-src-6.6.0.tar.xz
	sha256sums = aec93019862bf63769206fe56a2230cd9e37994806a4bf28415203b4eb9a490e

pkgname = qt6-languageserver
