pkgbase = qt6ct
	pkgdesc = Qt 6 Configuration Utility
	pkgver = 0.9
	pkgrel = 3
	url = https://github.com/trialuser02/qt6ct
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = qt6-svg
	source = https://github.com/trialuser02/qt6ct/releases/download/0.9/qt6ct-0.9.tar.xz
	sha256sums = 0a9f00db7f9c2003b33fad1715cbf2a483bf50a99079b97bf8e5d0bdbd3392cd

pkgname = qt6ct
