pkgbase = qt6-webchannel
	pkgdesc = Provides access to QObject or QML objects from HTML clients for seamless integration of Qt applications with HTML/JavaScript clients
	pkgver = 6.5.3
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-websockets
	depends = qt6-declarative
	source = https://download.qt.io/official_releases/qt/6.5/6.5.3/submodules/qtwebchannel-everywhere-src-6.5.3.tar.xz
	sha256sums = 129f89a6aba792c47f110582967f4f586457e7b63de3465e5f1dd210ce6bf04a

pkgname = qt6-webchannel
