pkgbase = remmina
	pkgdesc = remote desktop client written in GTK+
	pkgver = 1.4.33
	pkgrel = 2
	epoch = 1
	url = https://www.remmina.org/
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = freerdp
	makedepends = libvncserver
	makedepends = spice-gtk
	makedepends = spice-protocol
	makedepends = harfbuzz
	makedepends = xorgproto
	makedepends = gobject-introspection
	makedepends = kwallet5
	makedepends = webkit2gtk-4.1
	makedepends = gtk-vnc
	makedepends = ninja
	depends = avahi
	depends = libgcrypt
	depends = libssh
	depends = vte3
	depends = libsodium
	depends = libayatana-appindicator
	depends = libsoup3
	optdepends = freerdp: RDP plugin
	optdepends = libsecret: Secret plugin
	optdepends = libvncserver: VNC plugin
	optdepends = spice-gtk: Spice plugin
	optdepends = webkit2gtk-4.1: WWW plugin
	optdepends = gtk-vnc: GVNC plugin
	optdepends = kwallet5: kwallet plugin
	optdepends = gnome-terminal: external tools
	provides = remmina-plugins
	replaces = remmina-plugins
	source = remmina-1.4.33.tar.bz2::https://gitlab.com/Remmina/Remmina/-/archive/v.1.4.33/Remmina-v.1.4.33.tar.bz2
	sha512sums = 864281ab65bff30098cc40e572d7d10190c59393dd673e23aa0c24956fef51d60bbb048c32a675c6bf405257b6ae7812c071a7bf207fcdf0e045ef6a7294efc7

pkgname = remmina
