pkgbase = qt6-quick3d
	pkgdesc = Qt module and API for defining 3D content in Qt Quick
	pkgver = 6.5.3
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-shadertools
	makedepends = assimp
	depends = qt6-quicktimeline
	optdepends = qt6-shadertools: for shadergen
	optdepends = assimp: assimp import plugin
	source = https://download.qt.io/official_releases/qt/6.5/6.5.3/submodules/qtquick3d-everywhere-src-6.5.3.tar.xz
	sha256sums = 6682aa603f308de409b26f3d2665f3467d722e6f2e8d8d022fcd44c57888ce5d

pkgname = qt6-quick3d
