pkgbase = go-tools
	pkgdesc = Developer tools for the Go programming language
	pkgver = 0.9.3
	pkgrel = 1
	epoch = 4
	url = https://golang.org/
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = go
	depends = glibc
	source = go-tools::git+https://go.googlesource.com/tools#commit=0dda7d614e545bb93966bb1410269b3cd1e65e1d
	sha256sums = SKIP

pkgname = go-tools
