pkgbase = kdevelop
	pkgdesc = C++ IDE using KDE technologies
	pkgver = 23.08.2
	pkgrel = 1
	url = http://www.kdevelop.org/
	arch = x86_64
	groups = kde-applications
	groups = kdevelop
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = kdevelop-pg-qt
	makedepends = llvm
	makedepends = qt5-tools
	makedepends = plasma-framework5
	makedepends = krunner5
	makedepends = okteta
	makedepends = boost
	makedepends = purpose5
	makedepends = subversion
	makedepends = astyle
	depends = clang=16.0.6
	depends = libksysguard
	depends = kitemmodels5
	depends = knotifyconfig5
	depends = ktexteditor5
	depends = grantlee
	depends = libkomparediff2
	depends = kcmutils5
	depends = threadweaver5
	optdepends = konsole: embedded terminal
	optdepends = git: Git support
	optdepends = subversion: SVN support
	optdepends = gdb: GNU debugger support
	optdepends = lldb-mi: LLDB debugger support
	optdepends = qt5-doc: Qt documentation integration
	optdepends = cmake: cmake integration
	optdepends = kate: for additional plugins
	optdepends = meson: meson integration
	optdepends = qt5-tools: qthelp plugin
	optdepends = okteta: GNU debugger support
	optdepends = plasma-framework5: for the plasma addons
	optdepends = purpose5: patch review plugin
	optdepends = astyle: astyle plugin
	optdepends = cppcheck: code analyzer
	optdepends = heaptrack: memory profiler
	optdepends = clazy: clazy analyzer plugin
	optdepends = kio-extras: man pages plugin
	conflicts = kdevelop-qmljs
	conflicts = kdevplatform
	replaces = kdevelop-qmljs
	replaces = kdevplatform
	replaces = kdevelop-clang-tidy
	source = https://download.kde.org/stable/release-service/23.08.2/src/kdevelop-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kdevelop-23.08.2.tar.xz.sig
	source = https://invent.kde.org/kdevelop/kdevelop/-/commit/9e8b3a03.patch
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 577715eeb0d6bce068987a7e66988616e9b483e8ad384901e90254fd209cc513
	sha256sums = SKIP
	sha256sums = 232a0831c653111f5e4fa27f18df459385b323cde5cdad842b9c578b3f6321a3

pkgname = kdevelop
