pkgbase = knotifyconfig5
	pkgdesc = Configuration system for KNotify
	pkgver = 5.111.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = kio5
	conflicts = knotifyconfig<5.111
	replaces = knotifyconfig<5.111
	source = https://download.kde.org/stable/frameworks/5.111/knotifyconfig-5.111.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.111/knotifyconfig-5.111.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 949b31d6943bee1ed7c0c29d202498b9bc5dd21b9da3c95ddfb54454a58a445c
	sha256sums = SKIP

pkgname = knotifyconfig5
