pkgbase = plasma-firewall
	pkgdesc = Control Panel for your system firewall
	pkgver = 5.27.9
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = GPL
	license = LGPL
	makedepends = extra-cmake-modules
	depends = systemsettings
	optdepends = iproute2: netstat backend
	optdepends = firewalld: firewalld backend
	optdepends = ufw: ufw backend
	source = https://download.kde.org/stable/plasma/5.27.9/plasma-firewall-5.27.9.tar.xz
	source = https://download.kde.org/stable/plasma/5.27.9/plasma-firewall-5.27.9.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = f9c2c7d957e9c1ca74deb2f85c3523bf3714f92df669582a1568447facf97356
	sha256sums = SKIP

pkgname = plasma-firewall
