pkgbase = gsettings-desktop-schemas
	pkgdesc = Shared GSettings schemas for the desktop
	pkgver = 45.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gsettings-desktop-schemas
	arch = any
	license = GPL
	makedepends = git
	makedepends = gobject-introspection
	makedepends = meson
	depends = adobe-source-code-pro-fonts
	depends = cantarell-fonts
	depends = dconf
	depends = glib2
	source = git+https://gitlab.gnome.org/GNOME/gsettings-desktop-schemas.git#commit=5e903c1c205086495213dedc32b0ad50f6010c27
	b2sums = SKIP

pkgname = gsettings-desktop-schemas
