---
version: 1:28.5.2-1
pkgbase:
  name: docker
  pkgdesc: Pack, ship and run any application as a lightweight container
  pkgver: 28.5.2
  pkgrel: 1
  epoch: 1
  url: https://www.docker.com/
  arch:
    - x86_64
    - aarch64
  license:
    - Apache-2.0
  makedepends:
    - git
    - go
    - btrfs-progs
    - cmake
    - udev
    - go-md2man
    - sed
  depends:
    - glibc
    - iproute2
    - device-mapper
    - sqlite
    - libudev
    - libseccomp
    - libtool
    - runc
    - containerd
  optdepends:
    - 'btrfs-progs: btrfs backend support'
    - 'pigz: parallel gzip compressor support'
    - 'docker-buildx: extended build capabilities'
  options:
    - '!lto'
  source:
    - git+https://github.com/docker/cli.git#tag=v28.5.2
    - git+https://github.com/moby/moby.git#tag=v28.5.2
    - git+https://github.com/krallin/tini.git#commit=de40ad007797e0dcd8b7126f27bb87401d224240
    - docker.sysusers
  sha256sums:
    - 0f85e047209c6016df9101cc27ce16cdddc2bb2ba880749b51ce2331c1c51812
    - 326220f772416c47d5eee61c550db87583a04385bdb04438c8e342116e8cbe04
    - 28a6641d508f60d47315efb3c85d97360188750a45bd6d3c8737d3f1a2b44121
    - 541826011a9836d05a2f42293d5f1beadf2ca8d89fb604487d61a013505678eb
pkgname:
  - name: docker
# generated with artixpkg 0.37.4-1-any
