---
version: 1:29.2.0-1
pkgbase:
  name: docker
  pkgdesc: Pack, ship and run any application as a lightweight container
  pkgver: 29.2.0
  pkgrel: 1
  epoch: 1
  url: https://www.docker.com/
  arch:
    - x86_64
    - aarch64
  license:
    - Apache-2.0
  makedepends:
    - git
    - go
    - btrfs-progs
    - cmake
    - udev
    - go-md2man
    - sed
  depends:
    - glibc
    - iproute2
    - device-mapper
    - sqlite
    - libudev
    - libseccomp
    - libtool
    - nftables
    - runc
    - containerd
  optdepends:
    - 'btrfs-progs: btrfs backend support'
    - 'pigz: parallel gzip compressor support'
    - 'docker-buildx: extended build capabilities'
  options:
    - '!lto'
  source:
    - git+https://github.com/docker/cli.git#tag=v29.2.0
    - git+https://github.com/moby/moby.git#tag=docker-v29.2.0
    - git+https://github.com/krallin/tini.git#commit=de40ad007797e0dcd8b7126f27bb87401d224240
    - docker.sysusers
  sha256sums:
    - c8091085558fae2296448b0a9fbf0138e8703599339a380b54882aafd7c45698
    - 991d6ba025a700fc3f481e8ba7a97cbdc2bfcbff8e841972b01c798ad9d35275
    - 28a6641d508f60d47315efb3c85d97360188750a45bd6d3c8737d3f1a2b44121
    - 541826011a9836d05a2f42293d5f1beadf2ca8d89fb604487d61a013505678eb
pkgname:
  - name: docker
# generated with artixpkg 0.37.6-1-any
