pkgbase = gperftools
	pkgdesc = Fast, multi-threaded malloc and nifty performance analysis tools
	pkgver = 2.13
	pkgrel = 1
	url = https://github.com/gperftools/gperftools
	arch = x86_64
	license = BSD
	depends = gcc-libs
	depends = glibc
	depends = libunwind
	optdepends = graphviz: pprof graph generation
	optdepends = perl: pprof and pprof-symbolize commands
	source = https://github.com/gperftools/gperftools/releases/download/gperftools-2.13/gperftools-2.13.tar.gz
	sha256sums = 4882c5ece69f8691e51ffd6486df7d79dbf43b0c909d84d3c0883e30d27323e7

pkgname = gperftools
