pkgbase = rssguard
	pkgdesc = Simple (yet powerful) Qt feed reader
	pkgver = 4.5.1
	pkgrel = 1
	url = https://github.com/martinrotter/rssguard
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = qt6-5compat
	makedepends = qt6-multimedia
	makedepends = qt6-tools
	makedepends = qt6-webengine
	optdepends = clang: Support for beautification of message filter scripts
	optdepends = mariadb-libs: Support for MariaDB-based data storage
	source = https://github.com/martinrotter/rssguard/archive/4.5.1/rssguard-4.5.1.tar.gz
	sha256sums = 4598f564c3058979472d1e4756ddd35386eb046645871d142c567b949640dcfa

pkgname = rssguard
	depends = gcc-libs
	depends = glibc
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = qt6-webengine
	depends = sqlite

pkgname = rssguard-lite
	pkgdesc = Simple (yet powerful) Qt feed reader without WebEngine support
	depends = gcc-libs
	depends = glibc
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = sqlite
	provides = rssguard=4.5.1
	conflicts = rssguard
	replaces = rssguard-nowebengine
