pkgbase = gnome-backgrounds
	pkgdesc = Background images and data for GNOME
	pkgver = 45.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gnome-backgrounds
	arch = any
	groups = gnome
	license = CCPL:by-sa
	makedepends = glib2
	makedepends = meson
	source = https://download.gnome.org/sources/gnome-backgrounds/45/gnome-backgrounds-45.0.tar.xz
	sha256sums = cee0e688fbae5ef7a75f335ada2d10779e08ebca9445f1586de32c5a9b6dee2d
	b2sums = f8ac82069fb6beb71c7776356c7d87e6b57c9de1c8dd1becdff6a60f22b73284b0231c10c6af5a64addb4a890704808c00757b5f71d6f3a9deeaf59d97441d88

pkgname = gnome-backgrounds
