pkgbase = python-aws-xray-sdk
	pkgdesc = AWS X-Ray SDK for Python
	pkgver = 2.12.1
	pkgrel = 1
	url = https://github.com/aws/aws-xray-sdk-python
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-aiohttp
	checkdepends = python-testing.postgresql
	checkdepends = python-webtest
	checkdepends = python-django-fake-model
	checkdepends = python-pytest-benchmark
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = python-aiobotocore
	makedepends = python-aiohttp
	makedepends = python-bottle
	makedepends = python-django
	makedepends = python-flask
	makedepends = python-flask-sqlalchemy
	makedepends = python-httpx
	makedepends = python-mysql-connector
	makedepends = python-pg8000
	makedepends = python-psycopg2
	makedepends = python-pymongo
	makedepends = python-pymysql
	makedepends = python-pynamodb
	makedepends = python-requests
	makedepends = python-sqlalchemy
	depends = python
	depends = python-botocore
	depends = python-wrapt
	optdepends = python-aiobotocore
	optdepends = python-aiohttp
	optdepends = python-bottle
	optdepends = python-django
	optdepends = python-flask
	optdepends = python-flask-sqlalchemy
	optdepends = python-httpx
	optdepends = python-mysql-connector
	optdepends = python-pg8000
	optdepends = python-psycopg2
	optdepends = python-pymongo
	optdepends = python-pymysql
	optdepends = python-pynamodb
	optdepends = python-requests
	optdepends = python-sqlalchemy
	source = git+https://github.com/aws/aws-xray-sdk-python.git#commit=c50fe3e144b4e0654d36b2be40c7ae7139a3e825
	sha256sums = SKIP

pkgname = python-aws-xray-sdk
