pkgbase = python-docstring-to-markdown
	pkgdesc = On the fly conversion of Python docstrings to markdown
	pkgver = 0.13
	pkgrel = 1
	url = https://github.com/python-lsp/docstring-to-markdown
	arch = any
	license = LGPL2.1
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/python-lsp/docstring-to-markdown.git#tag=v0.13
	b2sums = SKIP

pkgname = python-docstring-to-markdown
