pkgbase = lib32-nss
	pkgdesc = Network Security Services (32-bit)
	pkgver = 3.94
	pkgrel = 1
	url = https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS
	arch = x86_64
	license = GPL
	license = MPL
	makedepends = gyp
	makedepends = mercurial
	makedepends = perl
	makedepends = python
	depends = lib32-nspr>=4.35
	depends = lib32-p11-kit>=0.23.19
	depends = lib32-sqlite
	depends = lib32-zlib
	depends = nss
	source = hg+https://hg.mozilla.org/projects/nss#revision=8c67d6c2d718da3f9b27c939181d795672df14c5
	source = 0001-Hack-mpi_x64.s-to-work-with-fno-plt.patch
	b2sums = SKIP
	b2sums = 5a1f419e0cb6f61413bba9af4264bb1d8cc5b9a7d679b0b8fcceb030f6eeb50291509cd7317e2129d848048ad023818284f10942ce6d8c1bbcaaebc106a9726e

pkgname = lib32-nss
