pkgbase = wxwidgets
	pkgver = 3.2.3
	pkgrel = 1
	url = https://wxwidgets.org
	arch = x86_64
	license = custom:wxWindows
	makedepends = cmake
	makedepends = glu
	makedepends = gst-plugins-base
	makedepends = libmspack
	makedepends = libnotify
	makedepends = qt5-base
	makedepends = sdl2
	makedepends = webkit2gtk
	source = https://github.com/wxWidgets/wxWidgets/releases/download/v3.2.3/wxWidgets-3.2.3.tar.bz2
	source = https://github.com/wxWidgets/wxWidgets/commit/ed510012.patch
	sha256sums = c170ab67c7e167387162276aea84e055ee58424486404bba692c401730d1a67a
	sha256sums = 0f714caa562269ba40ea55e1ef2f1c800d0669f01c3862f47db183eb2db91567

pkgname = wxwidgets-gtk3
	pkgdesc = GTK+3 implementation of wxWidgets API for GUI
	depends = gst-plugins-base-libs
	depends = gtk3
	depends = libnotify
	depends = libmspack
	depends = libsm
	depends = sdl2
	depends = wxwidgets-common
	optdepends = webkit2gtk: for webview support
	provides = wxgtk3
	provides = wxwidgets
	conflicts = wxgtk3
	replaces = wxgtk3

pkgname = wxwidgets-qt5
	pkgdesc = Qt5 implementation of wxWidgets API for GUI
	depends = libmspack
	depends = libtiff
	depends = qt5-base
	depends = sdl2
	depends = wxwidgets-common
	provides = wxwidgets

pkgname = wxwidgets-common
	pkgdesc = Common libraries and headers for wxwidgets
	depends = expat
	depends = libsecret
	depends = pcre2
	conflicts = wxgtk-common
	replaces = wxgtk-common
