pkgbase = xterm
	pkgdesc = X Terminal Emulator
	pkgver = 387
	pkgrel = 1
	url = https://invisible-island.net/xterm/
	arch = x86_64
	license = custom
	depends = libxft
	depends = libxaw
	depends = ncurses
	depends = luit
	depends = xbitmaps
	depends = libutempter
	depends = libxkbfile
	source = https://invisible-mirror.net/archives/xterm/xterm-387.tgz
	source = https://invisible-mirror.net/archives/xterm/xterm-387.tgz.asc
	validpgpkeys = 19882D92DDA4C400C22C0D56CC2AF4472167BE03
	sha256sums = 81dd59cc2ecef1e849ed21722e37a24756e02b54ec19d157cb545b273813f4b8
	sha256sums = SKIP

pkgname = xterm
