pkgbase = python-pypandoc
	pkgdesc = Thin wrapper for pandoc
	pkgver = 1.12
	pkgrel = 1
	url = https://github.com/JessicaTegner/pypandoc
	arch = any
	license = MIT
	checkdepends = texlive-basic
	checkdepends = texlive-latexextra
	checkdepends = texlive-fontsrecommended
	checkdepends = python-pandocfilters
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	makedepends = python-wheel
	depends = pandoc
	source = https://github.com/JessicaTegner/pypandoc/archive/v1.12/python-pypandoc-1.12.tar.gz
	sha512sums = 889050011fd6d2c79a8c0ab84e7effab849b75cf0616daf746d43f3f0165b1ace14d15b2d030370453ff4110fbddc97bf4886695619ffabd1eb235f9ed2d9cb3

pkgname = python-pypandoc
