# ---> ArchLinuxPackages
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/


# ---> Archives
*.7z
*.rar
*.gz
*.bzip
*.bz2
*.xz
*.lzma
*.cab

# ---> systemd
*.service
*.socket
*.timer

# ---> snap
*.snap
*.service
*.timer
*.socket
duckdb/HEAD
duckdb/config
duckdb/description
duckdb/hooks/applypatch-msg.sample
duckdb/hooks/commit-msg.sample
duckdb/hooks/fsmonitor-watchman.sample
duckdb/hooks/post-update.sample
duckdb/hooks/pre-applypatch.sample
duckdb/hooks/pre-commit.sample
duckdb/hooks/pre-merge-commit.sample
duckdb/hooks/pre-push.sample
duckdb/hooks/pre-rebase.sample
duckdb/hooks/pre-receive.sample
duckdb/hooks/prepare-commit-msg.sample
duckdb/hooks/push-to-checkout.sample
duckdb/hooks/sendemail-validate.sample
duckdb/hooks/update.sample
duckdb/info/attributes
duckdb/info/exclude
duckdb/objects/pack/pack-10e892b22090a160b153939bbdd3fb70a862a518.idx
duckdb/objects/pack/pack-10e892b22090a160b153939bbdd3fb70a862a518.pack
duckdb/objects/pack/pack-10e892b22090a160b153939bbdd3fb70a862a518.rev
duckdb/packed-refs
libmarias3/HEAD
libmarias3/config
libmarias3/description
libmarias3/hooks/applypatch-msg.sample
libmarias3/hooks/commit-msg.sample
libmarias3/hooks/fsmonitor-watchman.sample
libmarias3/hooks/post-update.sample
libmarias3/hooks/pre-applypatch.sample
libmarias3/hooks/pre-commit.sample
libmarias3/hooks/pre-merge-commit.sample
libmarias3/hooks/pre-push.sample
libmarias3/hooks/pre-rebase.sample
libmarias3/hooks/pre-receive.sample
libmarias3/hooks/prepare-commit-msg.sample
libmarias3/hooks/push-to-checkout.sample
libmarias3/hooks/sendemail-validate.sample
libmarias3/hooks/update.sample
libmarias3/info/attributes
libmarias3/info/exclude
libmarias3/objects/pack/pack-2c201ec304c86be0f6665e94f1f81718da2be88f.idx
libmarias3/objects/pack/pack-2c201ec304c86be0f6665e94f1f81718da2be88f.pack
libmarias3/objects/pack/pack-2c201ec304c86be0f6665e94f1f81718da2be88f.rev
libmarias3/packed-refs
mariadb-columnstore-engine/HEAD
mariadb-columnstore-engine/config
mariadb-columnstore-engine/description
mariadb-columnstore-engine/hooks/applypatch-msg.sample
mariadb-columnstore-engine/hooks/commit-msg.sample
mariadb-columnstore-engine/hooks/fsmonitor-watchman.sample
mariadb-columnstore-engine/hooks/post-update.sample
mariadb-columnstore-engine/hooks/pre-applypatch.sample
mariadb-columnstore-engine/hooks/pre-commit.sample
mariadb-columnstore-engine/hooks/pre-merge-commit.sample
mariadb-columnstore-engine/hooks/pre-push.sample
mariadb-columnstore-engine/hooks/pre-rebase.sample
mariadb-columnstore-engine/hooks/pre-receive.sample
mariadb-columnstore-engine/hooks/prepare-commit-msg.sample
mariadb-columnstore-engine/hooks/push-to-checkout.sample
mariadb-columnstore-engine/hooks/sendemail-validate.sample
mariadb-columnstore-engine/hooks/update.sample
mariadb-columnstore-engine/info/attributes
mariadb-columnstore-engine/info/exclude
mariadb-columnstore-engine/objects/pack/pack-b368b6d4d9329464ee42a808784ce54536e5c3b7.idx
mariadb-columnstore-engine/objects/pack/pack-b368b6d4d9329464ee42a808784ce54536e5c3b7.pack
mariadb-columnstore-engine/objects/pack/pack-b368b6d4d9329464ee42a808784ce54536e5c3b7.rev
mariadb-columnstore-engine/packed-refs
mariadb-connector-c/HEAD
mariadb-connector-c/config
mariadb-connector-c/description
mariadb-connector-c/hooks/applypatch-msg.sample
mariadb-connector-c/hooks/commit-msg.sample
mariadb-connector-c/hooks/fsmonitor-watchman.sample
mariadb-connector-c/hooks/post-update.sample
mariadb-connector-c/hooks/pre-applypatch.sample
mariadb-connector-c/hooks/pre-commit.sample
mariadb-connector-c/hooks/pre-merge-commit.sample
mariadb-connector-c/hooks/pre-push.sample
mariadb-connector-c/hooks/pre-rebase.sample
mariadb-connector-c/hooks/pre-receive.sample
mariadb-connector-c/hooks/prepare-commit-msg.sample
mariadb-connector-c/hooks/push-to-checkout.sample
mariadb-connector-c/hooks/sendemail-validate.sample
mariadb-connector-c/hooks/update.sample
mariadb-connector-c/info/attributes
mariadb-connector-c/info/exclude
mariadb-connector-c/objects/pack/pack-7fed88e50c417c9a63ce6881a2dba396026aec8f.idx
mariadb-connector-c/objects/pack/pack-7fed88e50c417c9a63ce6881a2dba396026aec8f.pack
mariadb-connector-c/objects/pack/pack-7fed88e50c417c9a63ce6881a2dba396026aec8f.rev
mariadb-connector-c/packed-refs
mariadb/HEAD
mariadb/config
mariadb/description
mariadb/hooks/applypatch-msg.sample
mariadb/hooks/commit-msg.sample
mariadb/hooks/fsmonitor-watchman.sample
mariadb/hooks/post-update.sample
mariadb/hooks/pre-applypatch.sample
mariadb/hooks/pre-commit.sample
mariadb/hooks/pre-merge-commit.sample
mariadb/hooks/pre-push.sample
mariadb/hooks/pre-rebase.sample
mariadb/hooks/pre-receive.sample
mariadb/hooks/prepare-commit-msg.sample
mariadb/hooks/push-to-checkout.sample
mariadb/hooks/sendemail-validate.sample
mariadb/hooks/update.sample
mariadb/info/attributes
mariadb/info/exclude
mariadb/objects/pack/pack-e190b65647118cb9d194b0f8b36782dd2c954e99.idx
mariadb/objects/pack/pack-e190b65647118cb9d194b0f8b36782dd2c954e99.pack
mariadb/objects/pack/pack-e190b65647118cb9d194b0f8b36782dd2c954e99.rev
mariadb/packed-refs
rocksdb/HEAD
rocksdb/config
rocksdb/description
rocksdb/hooks/applypatch-msg.sample
rocksdb/hooks/commit-msg.sample
rocksdb/hooks/fsmonitor-watchman.sample
rocksdb/hooks/post-update.sample
rocksdb/hooks/pre-applypatch.sample
rocksdb/hooks/pre-commit.sample
rocksdb/hooks/pre-merge-commit.sample
rocksdb/hooks/pre-push.sample
rocksdb/hooks/pre-rebase.sample
rocksdb/hooks/pre-receive.sample
rocksdb/hooks/prepare-commit-msg.sample
rocksdb/hooks/push-to-checkout.sample
rocksdb/hooks/sendemail-validate.sample
rocksdb/hooks/update.sample
rocksdb/info/attributes
rocksdb/info/exclude
rocksdb/objects/pack/pack-a4689c00a045fc42ae917b6f00e23f4eae4be689.idx
rocksdb/objects/pack/pack-a4689c00a045fc42ae917b6f00e23f4eae4be689.pack
rocksdb/objects/pack/pack-a4689c00a045fc42ae917b6f00e23f4eae4be689.rev
rocksdb/packed-refs
wolfssl/HEAD
wolfssl/config
wolfssl/description
wolfssl/hooks/applypatch-msg.sample
wolfssl/hooks/commit-msg.sample
wolfssl/hooks/fsmonitor-watchman.sample
wolfssl/hooks/post-update.sample
wolfssl/hooks/pre-applypatch.sample
wolfssl/hooks/pre-commit.sample
wolfssl/hooks/pre-merge-commit.sample
wolfssl/hooks/pre-push.sample
wolfssl/hooks/pre-rebase.sample
wolfssl/hooks/pre-receive.sample
wolfssl/hooks/prepare-commit-msg.sample
wolfssl/hooks/push-to-checkout.sample
wolfssl/hooks/sendemail-validate.sample
wolfssl/hooks/update.sample
wolfssl/info/attributes
wolfssl/info/exclude
wolfssl/objects/pack/pack-8ed73f26fa60db1e54df317245f4b345ee784d1b.idx
wolfssl/objects/pack/pack-8ed73f26fa60db1e54df317245f4b345ee784d1b.pack
wolfssl/objects/pack/pack-8ed73f26fa60db1e54df317245f4b345ee784d1b.rev
wolfssl/packed-refs
wsrep-lib/HEAD
wsrep-lib/config
wsrep-lib/description
wsrep-lib/hooks/applypatch-msg.sample
wsrep-lib/hooks/commit-msg.sample
wsrep-lib/hooks/fsmonitor-watchman.sample
wsrep-lib/hooks/post-update.sample
wsrep-lib/hooks/pre-applypatch.sample
wsrep-lib/hooks/pre-commit.sample
wsrep-lib/hooks/pre-merge-commit.sample
wsrep-lib/hooks/pre-push.sample
wsrep-lib/hooks/pre-rebase.sample
wsrep-lib/hooks/pre-receive.sample
wsrep-lib/hooks/prepare-commit-msg.sample
wsrep-lib/hooks/push-to-checkout.sample
wsrep-lib/hooks/sendemail-validate.sample
wsrep-lib/hooks/update.sample
wsrep-lib/info/attributes
wsrep-lib/info/exclude
wsrep-lib/objects/pack/pack-7caada094be745052c3e4116c233994489dc2918.idx
wsrep-lib/objects/pack/pack-7caada094be745052c3e4116c233994489dc2918.pack
wsrep-lib/objects/pack/pack-7caada094be745052c3e4116c233994489dc2918.rev
wsrep-lib/packed-refs
