pkgbase = python-pylast
	pkgdesc = A Python interface to Last.fm and Libre.fm
	pkgver = 5.2.0
	pkgrel = 1
	url = https://github.com/pylast/pylast
	arch = any
	license = Apache
	makedepends = git
	makedepends = python-build
	makedepends = python-hatch-vcs
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python-httpx
	depends = python-importlib-metadata
	source = git+https://github.com/pylast/pylast.git#tag=34e0e54fea31c127aa707902d0662a480c377aca
	sha256sums = SKIP

pkgname = python-pylast
