pkgbase = python-trio
	pkgdesc = A friendly Python library for async concurrency and I/O
	pkgver = 0.22.2
	pkgrel = 1
	url = https://github.com/python-trio/trio
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-setuptools
	depends = python
	depends = python-async_generator
	depends = python-attrs
	depends = python-exceptiongroup
	depends = python-idna
	depends = python-outcome
	depends = python-sniffio
	depends = python-sortedcontainers
	provides = python-multio-provider
	source = git+https://github.com/python-trio/trio.git#tag=8741c58def83defc84ab2734f95f2f8d51c21920
	b2sums = SKIP

pkgname = python-trio
