pkgbase = python-hypothesis
	pkgdesc = Advanced Quickcheck style testing library for Python
	pkgver = 6.87.1
	pkgrel = 1
	url = https://hypothesis.readthedocs.org
	arch = any
	license = MPL-2.0
	checkdepends = python-black
	checkdepends = python-dpcontracts
	checkdepends = python-django
	checkdepends = python-faker
	checkdepends = python-fakeredis
	checkdepends = python-flaky
	checkdepends = python-lark-parser
	checkdepends = python-libcst
	checkdepends = python-numpy
	checkdepends = python-pandas
	checkdepends = python-pexpect
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	checkdepends = python-pytz
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-attrs
	depends = python-sortedcontainers
	optdepends = python-black: for CLI and ghostwriter
	optdepends = python-click: for CLI
	optdepends = python-dateutil: for date support
	optdepends = python-django: for django module
	optdepends = python-dpcontracts: for contracts support
	optdepends = python-faker: for fakefactory and django module
	optdepends = python-lark-parser: for lark module
	optdepends = python-libcst: for codemods module
	optdepends = python-numpy: for numpy module
	optdepends = python-pandas: for pandas support
	optdepends = python-pytest: for pytest module
	optdepends = python-pytz: for datetime and django module
	optdepends = python-redis: for redis support
	optdepends = python-rich: for CLI
	source = hypothesis-hypothesis-python-6.87.1.tar.gz::https://github.com/HypothesisWorks/hypothesis/archive/hypothesis-python-6.87.1.tar.gz
	sha512sums = 1f946d99ecbb3392b105ed479b43a72034d1563c541d1bdc263c76495b05e7e9881585cad50b6c0453e083b05e1ebd1c2ff0cf5a8b98f0f7ce68f009d23dbfeb
	b2sums = 0b0b9156566a84f4e5972960dbf5ec68c68703e0be0ac31392919a5177332f1dccfc7519c0a58ea2ed9f758f1b9d7e601b30e72db63c85031f5136b83c6dd255

pkgname = python-hypothesis
