pkgbase = python-hypothesis
	pkgdesc = Advanced Quickcheck style testing library for Python
	pkgver = 6.87.0
	pkgrel = 1
	url = https://hypothesis.readthedocs.org
	arch = any
	license = MPL-2.0
	checkdepends = python-black
	checkdepends = python-dpcontracts
	checkdepends = python-django
	checkdepends = python-faker
	checkdepends = python-fakeredis
	checkdepends = python-flaky
	checkdepends = python-lark-parser
	checkdepends = python-libcst
	checkdepends = python-numpy
	checkdepends = python-pandas
	checkdepends = python-pexpect
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	checkdepends = python-pytz
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-attrs
	depends = python-sortedcontainers
	optdepends = python-black: for CLI and ghostwriter
	optdepends = python-click: for CLI
	optdepends = python-dateutil: for date support
	optdepends = python-django: for django module
	optdepends = python-dpcontracts: for contracts support
	optdepends = python-faker: for fakefactory and django module
	optdepends = python-lark-parser: for lark module
	optdepends = python-libcst: for codemods module
	optdepends = python-numpy: for numpy module
	optdepends = python-pandas: for pandas support
	optdepends = python-pytest: for pytest module
	optdepends = python-pytz: for datetime and django module
	optdepends = python-redis: for redis support
	optdepends = python-rich: for CLI
	source = hypothesis-hypothesis-python-6.87.0.tar.gz::https://github.com/HypothesisWorks/hypothesis/archive/hypothesis-python-6.87.0.tar.gz
	sha512sums = 2f11d3bfff9c6f6322e368b40987d5379d0aeb619c5017a746ac935e43f50381d4ad8e180765cfddf5196a4f0f69f89df48cc9069e9d3f79446e5d396c673a3b
	b2sums = 5774e125a212a3ec4b64e9575db727c6338f931a2b065dce4f8c2bf9e7fa7026c4ed1dc11b4030af7f012064fbeae7240086eda2b0862b41d2ee37ae8540c03a

pkgname = python-hypothesis
