pkgbase = python-hypothesis
	pkgdesc = Advanced Quickcheck style testing library for Python
	pkgver = 6.87.4
	pkgrel = 1
	url = https://hypothesis.readthedocs.org
	arch = any
	license = MPL-2.0
	checkdepends = python-black
	checkdepends = python-dpcontracts
	checkdepends = python-django
	checkdepends = python-faker
	checkdepends = python-fakeredis
	checkdepends = python-flaky
	checkdepends = python-lark-parser
	checkdepends = python-libcst
	checkdepends = python-numpy
	checkdepends = python-pandas
	checkdepends = python-pexpect
	checkdepends = python-pytest
	checkdepends = python-pytest-xdist
	checkdepends = python-pytz
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-attrs
	depends = python-sortedcontainers
	optdepends = python-black: for CLI and ghostwriter
	optdepends = python-click: for CLI
	optdepends = python-dateutil: for date support
	optdepends = python-django: for django module
	optdepends = python-dpcontracts: for contracts support
	optdepends = python-faker: for fakefactory and django module
	optdepends = python-lark-parser: for lark module
	optdepends = python-libcst: for codemods module
	optdepends = python-numpy: for numpy module
	optdepends = python-pandas: for pandas support
	optdepends = python-pytest: for pytest module
	optdepends = python-pytz: for datetime and django module
	optdepends = python-redis: for redis support
	optdepends = python-rich: for CLI
	source = hypothesis-hypothesis-python-6.87.4.tar.gz::https://github.com/HypothesisWorks/hypothesis/archive/hypothesis-python-6.87.4.tar.gz
	sha512sums = b4dcff9d07a665d7b134dfeaa6a7f199cc87883b9cd078d573a175b24069e968ce833bcdcf89f7665cf021a1eaf6df08eddc5dd071c4189ffe681ce3a178e432
	b2sums = a678bf1d76a1947f6880de95e3b418de364d5083a6c9c5ce8ff36fc51290ab7ed1560627e6aaf493c9b11184126ed5c2a6f8bcbd56633555cdb9be11dc384d1b

pkgname = python-hypothesis
