pkgbase = python-pytest-ignore-flaky
	pkgdesc = Ignore failures from flaky tests (pytest plugin)
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/schettino72/pytest-ignore-flaky/
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python-pytest
	source = https://github.com/schettino72/pytest-ignore-flaky/archive/2.1.0/python-pytest-ignore-flaky-2.1.0.tar.gz
	sha512sums = 250413f4ca8c67c1280dacee679e7ea91b3408d6076b7dd7f4aadd7d3294229b34f5794747b7658bb08b043ba547a48af053c5c328b74e229db357025f52b839

pkgname = python-pytest-ignore-flaky
