pkgbase = mitmproxy
	pkgdesc = SSL-capable man-in-the-middle HTTP proxy
	pkgver = 10.1.1
	pkgrel = 1
	url = https://mitmproxy.org
	arch = any
	license = MIT
	checkdepends = python-asynctest
	checkdepends = python-hypothesis
	checkdepends = python-parver
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-runner
	checkdepends = python-pytest-timeout
	checkdepends = python-tox-current-env
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-aioquic
	depends = python-asgiref
	depends = python-blinker
	depends = python-brotli
	depends = python-certifi
	depends = python-cryptography
	depends = python-flask
	depends = python-h11
	depends = python-h2
	depends = python-hyperframe
	depends = python-kaitaistruct
	depends = python-ldap3
	depends = python-mitmproxy-rs
	depends = python-mitmproxy-wireguard
	depends = python-msgpack
	depends = python-passlib
	depends = python-protobuf
	depends = python-psutil
	depends = python-publicsuffix2
	depends = python-pylsqpack
	depends = python-pyopenssl
	depends = python-pyparsing
	depends = python-pyperclip
	depends = python-requests
	depends = python-ruamel-yaml
	depends = python-sortedcontainers
	depends = python-tornado
	depends = python-typing_extensions
	depends = python-urwid
	depends = python-werkzeug
	depends = python-wsproto
	depends = python-zstandard
	provides = pathod
	conflicts = pathod
	replaces = pathod
	source = https://github.com/mitmproxy/mitmproxy/archive/10.1.1/mitmproxy-10.1.1.tar.gz
	sha512sums = c5699bbc45dc14422f7aa7df716a67ac9995722a69492d45497b16de3f2547a683122a63ac17884575e184f8f846c69b551fadb1aa7baffc977afa5b63cc7d6e

pkgname = mitmproxy
