pkgbase = python-openapi-schema-validator
	pkgdesc = OpenAPI schema validation for Python
	pkgver = 0.6.2
	pkgrel = 1
	url = https://github.com/p1c2u/openapi-schema-validator
	arch = any
	license = BSD
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python
	depends = python-jsonschema
	depends = python-jsonschema-specifications
	depends = python-rfc3339-validator
	source = https://github.com/p1c2u/openapi-schema-validator/archive/0.6.2/python-openapi-schema-validator-0.6.2.tar.gz
	sha256sums = db0215a89bc1f65d69b2e122142a122feb868339748fc12c72be72292f432638

pkgname = python-openapi-schema-validator
