pkgbase = python-pytest-bdd
	pkgdesc = BDD library for the pytest runner
	pkgver = 7.0.0
	pkgrel = 1
	url = https://github.com/pytest-dev/pytest-bdd
	arch = any
	license = MIT
	checkdepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python-mako
	depends = python-parse
	depends = python-parse-type
	depends = python-pytest
	depends = python-typing-extensions
	source = https://github.com/pytest-dev/pytest-bdd/archive/7.0.0/python-pytest-bdd-7.0.0.tar.gz
	sha512sums = 0f95334a56ff7ccc774e5b94b91d232b829fb308a21ce975c88720493abbefa9e76fcd35cc2ca9bbbf0fd2e38b6f20f5be6cf59368aab4cf70abdaf24c7fd5ed

pkgname = python-pytest-bdd
