pkgbase = python-pywlroots
	pkgdesc = Python binding to the wlroots library using cffi
	pkgver = 0.16.6
	pkgrel = 1
	url = https://github.com/flacjacket/pywlroots
	arch = x86_64
	license = NCSA
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	depends = python-cffi
	depends = python-pywayland
	depends = python-xkbcommon
	depends = wlroots
	provides = pywlroots
	conflicts = pywlroots
	replaces = pywlroots
	source = pywlroots-0.16.6.tar.gz::https://github.com/flacjacket/pywlroots/archive/refs/tags/v0.16.6.tar.gz
	sha512sums = 21d58dbb1c17bbc25ce9bb6d8265fb90e61ab41f1c8e6e32c99e7a2827139fa848589f35df9467a6a9ea1b5212af1007388549167b9c63bf09f5262aac6fc7f8
	b2sums = 0752c0511b1a9530d67c868e337bb2aba556111693a2c8e494d23d1e0ef1fcd9c08e4caf03bcc6a1029af5e9bb8059d037a08d726f611f72f065d1c38ab30226

pkgname = python-pywlroots
