pkgbase = python-pywlroots
	pkgdesc = Python binding to the wlroots library using cffi
	pkgver = 0.16.5
	pkgrel = 1
	url = https://github.com/flacjacket/pywlroots
	arch = x86_64
	license = NCSA
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	depends = python-cffi
	depends = python-pywayland
	depends = python-xkbcommon
	depends = wlroots
	provides = pywlroots
	conflicts = pywlroots
	replaces = pywlroots
	source = pywlroots-0.16.5.tar.gz::https://github.com/flacjacket/pywlroots/archive/refs/tags/v0.16.5.tar.gz
	sha512sums = 891da30ed9949a0535cca6e12787258f689cdba1314853d2e5665a040e67a9f45036d500526ce247dda260355b573e8260b67e115700af0df5cb1e760307de9b
	b2sums = 8ee637b4900590b17c0ee4dc07659ed2f6b44d087fabe29f0e74075a9be1be6cc3a71876bfc0333266b0484b463fc14d243c4189b4c40dd468e3f9f2cf7c91b0

pkgname = python-pywlroots
