pkgbase = python-ipyparallel
	pkgdesc = Interactive Parallel Computing in Python
	pkgver = 8.6.1
	pkgrel = 3
	url = https://pypi.org/project/ipyparallel/
	arch = any
	license = BSD
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-tornado
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = ipython
	depends = python
	depends = python-dateutil
	depends = python-decorator
	depends = python-entrypoints
	depends = python-ipykernel
	depends = python-jupyter-client
	depends = python-jupyter-core
	depends = python-psutil
	depends = python-pyzmq
	depends = python-tornado
	depends = python-tqdm
	depends = python-traitlets
	optdepends = openmpi: to use the MPI Launchers in ipcluster command
	source = https://files.pythonhosted.org/packages/source/i/ipyparallel/ipyparallel-8.6.1.tar.gz
	sha256sums = a39aa5ef9560170bf0e9afedca9ff045e1b9c1832c49303377edcc91cea9fb77

pkgname = python-ipyparallel
