pkgbase = pdfjs
	pkgdesc = PDF reader in javascript
	pkgver = 3.7.107
	pkgrel = 1
	url = https://mozilla.github.io/pdf.js/
	arch = any
	license = Apache
	conflicts = pdfjs-legacy
	source = https://github.com/mozilla/pdf.js/releases/download/v3.7.107/pdfjs-3.7.107-dist.zip
	sha256sums = d195ea1a865ca0c11f9b1188ced94bf5fa2a0dd89946affc3d7008f327c2caae

pkgname = pdfjs
