pkgbase = ruby-sequel
	pkgdesc = Sequel: The Database Toolkit for Ruby
	pkgver = 5.73.0
	pkgrel = 1
	url = https://github.com/jeremyevans/sequel
	arch = any
	license = MIT
	makedepends = git
	makedepends = ruby-minitest
	makedepends = ruby-minitest-hooks
	makedepends = ruby-minitest-global_expectations
	makedepends = ruby-tzinfo
	makedepends = ruby-nokogiri
	depends = ruby
	depends = ruby-bigdecimal
	options = !emptydirs
	source = git+https://github.com/jeremyevans/sequel.git#commit=3a14e2550aeb2d415be10cfd2d897b913c970677
	sha256sums = SKIP

pkgname = ruby-sequel
