pkgbase = kmouth
	pkgdesc = Speech Synthesizer Frontend
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/kmouth/
	arch = x86_64
	groups = kde-applications
	groups = kde-accessibility
	license = GPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = kio5
	depends = hicolor-icon-theme
	source = https://download.kde.org/stable/release-service/23.08.2/src/kmouth-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kmouth-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 8821fb3cf14248edcf423e5241912f58aeaf605128a059b613e915bb6e6558b2
	sha256sums = SKIP

pkgname = kmouth
