pkgbase = qt6-quickeffectmaker
	pkgdesc = Qt Quick Effect Maker (QQEM) for creating and editing custom shader effects
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = qt6-shadertools
	depends = qt6-quick3d
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtquickeffectmaker-everywhere-src-6.6.0.tar.xz
	sha256sums = d7cb379fc7ad228343b20c1f68ed7864de2b43601d1879469dcb5659f9d1f77f

pkgname = qt6-quickeffectmaker
