pkgbase = qt6-quickeffectmaker
	pkgdesc = Qt Quick Effect Maker (QQEM) for creating and editing custom shader effects
	pkgver = 6.5.3
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = qt6-shadertools
	depends = qt6-quick3d
	source = https://download.qt.io/official_releases/qt/6.5/6.5.3/submodules/qtquickeffectmaker-everywhere-src-6.5.3.tar.xz
	sha256sums = b9679bbad1cccb1433fd66b4c95950c5930c0813b486b53c29148059a8aa9ca7

pkgname = qt6-quickeffectmaker
