pkgbase = libgusb
	pkgdesc = GObject wrapper for libusb1
	pkgver = 0.4.6
	pkgrel = 1
	url = https://github.com/hughsie/libgusb
	arch = x86_64
	license = LGPL2.1
	makedepends = gi-docgen
	makedepends = git
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = python-setuptools
	makedepends = umockdev
	makedepends = vala
	depends = glib2
	depends = libjson-glib-1.0.so
	depends = libusb-1.0.so
	source = git+https://github.com/hughsie/libgusb.git#tag=03ba6c83de960fbe5aad13a0d0e2d16e2eca771a
	sha256sums = SKIP

pkgname = libgusb
