pkgbase = ktorrent
	pkgdesc = A powerful BitTorrent client for KDE
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/ktorrent/
	arch = x86_64
	groups = kde-applications
	groups = kde-network
	license = GPL2
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = boost
	makedepends = plasma-workspace
	makedepends = kdnssd5
	makedepends = taglib
	makedepends = syndication5
	makedepends = kplotting5
	makedepends = geoip
	depends = libktorrent
	depends = kcmutils5
	depends = knotifyconfig5
	depends = kparts5
	depends = phonon-qt5
	depends = qt5-webengine
	optdepends = plasma-workspace: shutdown plugin
	optdepends = kdnssd5: zeroconf plugin
	optdepends = taglib: mediaplayer plugin
	optdepends = geoip: info widget plugin
	optdepends = syndication5: syndication plugin
	optdepends = kplotting5: statistics plugin
	source = https://download.kde.org/stable/release-service/23.08.2/src/ktorrent-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/ktorrent-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 0a16cddf003f86e176b3f7659de217278397a15e9f04c2ca7bebeabf80f50533
	sha256sums = SKIP

pkgname = ktorrent
