pkgbase = frameworkintegration5
	pkgdesc = Framework providing components to allow applications to integrate with a KDE Workspace
	pkgver = 5.110.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = appstream-qt
	makedepends = packagekit-qt5
	depends = knewstuff5
	optdepends = appstream-qt: dependency resolving via AppStream
	optdepends = packagekit-qt5: dependency resolving via AppStream
	provides = frameworkintegration=5.110.0
	conflicts = frameworkintegration<5.111
	replaces = frameworkintegration<5.111
	source = https://download.kde.org/stable/frameworks/5.110/frameworkintegration-5.110.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.110/frameworkintegration-5.110.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 58837f80e86ad1d18cfcc6cdb94146e9020a16c15cfacfcb914d8e17c02d143e
	sha256sums = SKIP

pkgname = frameworkintegration5
