pkgbase = xfce4-taskmanager
	pkgdesc = Easy to use task manager
	pkgver = 1.5.6
	pkgrel = 1
	url = https://docs.xfce.org/apps/xfce4-taskmanager
	arch = x86_64
	groups = xfce4-goodies
	license = GPL2
	makedepends = intltool
	depends = libxfce4ui
	depends = xfconf
	depends = libxmu
	depends = libwnck3
	source = https://archive.xfce.org/src/apps/xfce4-taskmanager/1.5/xfce4-taskmanager-1.5.6.tar.bz2
	sha256sums = 20979000761a41faed4f7f63f27bd18bb36fb27db4f7ecc8784a460701fb4abb

pkgname = xfce4-taskmanager
