pkgbase = xfce4-notifyd
	pkgdesc = Notification daemon for the Xfce desktop
	pkgver = 0.9.3
	pkgrel = 1
	url = https://docs.xfce.org/apps/notifyd/start
	arch = x86_64
	groups = xfce4-goodies
	license = GPL2
	makedepends = intltool
	makedepends = python
	makedepends = xfce4-panel
	makedepends = xfce4-dev-tools
	depends = libxfce4ui
	depends = libxfce4util
	depends = libnotify
	depends = xfconf
	depends = sqlite
	depends = libcanberra
	depends = hicolor-icon-theme
	provides = notification-daemon
	source = https://archive.xfce.org/src/apps/xfce4-notifyd/0.9/xfce4-notifyd-0.9.3.tar.bz2
	sha256sums = 79ee4701e2f8715a700de2431aa33682933cab18d76938bb18e2820302bbe030

pkgname = xfce4-notifyd
