pkgbase = qt6-imageformats
	pkgdesc = Plugins for additional image formats: TIFF, MNG, TGA, WBMP
	pkgver = 6.5.3
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = qt6-base
	depends = jasper
	depends = libwebp
	depends = libmng
	source = https://download.qt.io/official_releases/qt/6.5/6.5.3/submodules/qtimageformats-everywhere-src-6.5.3.tar.xz
	sha256sums = 49c026c49a738ed024c072a4b205cdc1235507da4a2d0ea740bd574fff138ccb

pkgname = qt6-imageformats
