pkgbase = qt6-imageformats
	pkgdesc = Plugins for additional image formats: TIFF, MNG, TGA, WBMP
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	depends = gcc-libs
	depends = glibc
	depends = jasper
	depends = libmng
	depends = libtiff
	depends = libwebp
	depends = qt6-base
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtimageformats-everywhere-src-6.6.0.tar.xz
	sha256sums = e1542cb50176e237809895c6549598c08587c63703d100be54ac2d806834e384

pkgname = qt6-imageformats
