pkgbase = kmines
	pkgdesc = The classic Minesweeper game
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/kmines/
	arch = x86_64
	groups = kde-applications
	groups = kde-games
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = libkdegames
	depends = hicolor-icon-theme
	source = https://download.kde.org/stable/release-service/23.08.2/src/kmines-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kmines-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = b71d20c8064509d0b5ec8e2cadc5207c7bfd7f5058c88435df73a75e3b6f5d5c
	sha256sums = SKIP

pkgname = kmines
