pkgbase = libguestfs
	pkgdesc = Access and modify virtual machine disk images
	pkgver = 1.50.1
	pkgrel = 2
	url = https://libguestfs.org/
	arch = x86_64
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	checkdepends = linux
	checkdepends = ruby-test-unit
	makedepends = bash-completion
	makedepends = cdrtools
	makedepends = cpio
	makedepends = erlang-nox
	makedepends = ghc
	makedepends = go
	makedepends = gobject-introspection
	makedepends = gperf
	makedepends = ocaml
	makedepends = ocaml-augeas
	makedepends = ocaml-compiler-libs
	makedepends = ocaml-findlib
	makedepends = perl-module-build
	makedepends = python
	makedepends = java-environment
	makedepends = lua
	makedepends = php
	makedepends = ruby
	makedepends = ruby-rake
	makedepends = ruby-rdoc
	makedepends = rust
	makedepends = vala
	depends = augeas
	depends = bash
	depends = fuse2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = hivex
	depends = jansson
	depends = sleuthkit
	depends = libconfig
	depends = libtirpc
	depends = libvirt
	depends = libxml2
	depends = ncurses
	depends = pcre2
	depends = perl-libintl-perl
	depends = qemu
	depends = readline
	depends = supermin
	depends = btrfs-progs
	depends = debootstrap
	depends = dhcpcd
	depends = dosfstools
	depends = exfatprogs
	depends = f2fs-tools
	depends = gptfdisk
	depends = grub
	depends = iproute2
	depends = iputils
	depends = jfsutils
	depends = libldm
	depends = lrzip
	depends = lsof
	depends = lsscsi
	depends = lvm2
	depends = lzop
	depends = mdadm
	depends = mtools
	depends = multipath-tools
	depends = nilfs-utils
	depends = ntfs-3g
	depends = openssh
	depends = pciutils
	depends = procps-ng
	depends = psmisc
	depends = reiserfsprogs
	depends = rsync
	depends = squashfs-tools
	depends = strace
	depends = syslinux
	depends = systemd-sysvcompat
	depends = vim
	depends = xfsprogs
	depends = yara
	optdepends = gobject-introspection: GObject-Introspection Bindings
	optdepends = java-runtime: for Java bindings
	optdepends = ocaml: OCaml Bindings
	optdepends = php: for PHP module
	optdepends = python: Python Bindings
	optdepends = ruby: for Ruby bindings
	provides = libguestfs.so
	provides = libguestfs-gobject-1.0.so
	backup = etc/libguestfs-tools.conf
	source = https://download.libguestfs.org/1.50-stable/libguestfs-1.50.1.tar.gz
	source = https://download.libguestfs.org/1.50-stable/libguestfs-1.50.1.tar.gz.sig
	source = libguestfs-1.48.1-disable_php_tests.patch
	source = libguestfs-1.48.6-ocaml5.patch
	validpgpkeys = F7774FB1AD074A7E8C8767EA91738F73E1B768A0
	sha512sums = 237ef512a767a3d56f9705818ead6ebedcaf107d576acf844353730913ee4fc5f2b085bf7d647b693bf4760e986416ba71f628d7709fd859acf3b2a595f3ed10
	sha512sums = SKIP
	sha512sums = d59cad07e275f1fa5e82448993db5b3a6dc8cdd1fc97a8839ef0403ad3f1753a5d13df27b184d6c73fa8dda8bd75e63ad68aaad26001986682d5bc7eeb58273a
	sha512sums = a729cdb699c7a19146e8a627e0744f4511e1dd8f3e7886eed79462d4c5ca3e1fb82ca5198e7fa766567ddc4f2a91872b6277645a05f99834a93b8ee7f4b275da
	b2sums = 3ca8136137ffee3e4bace115e4be317e0c0545781d61c4e867084bfcf73b6af5fe4aa8fecf9c68532fdc955a03c40abaf8af1303b2f03a372d0387d28679d793
	b2sums = SKIP
	b2sums = 2f7c429875d80b2b3a70286f83764ce6ed8be86055232fc059ab55ebf8393f9d29a2241401c7ab55af7ba9180ea85909647fe06ca51880f93bc66b488bcec78c
	b2sums = 3bbd645434e31950e3632795f57994b3471714099d176a28a27802d885c8ac43ff62f9e605fa2951cd75309082b43f05e3939727201f39a37b1d9e06359b8a46

pkgname = libguestfs
