pkgbase = konqueror
	pkgdesc = KDE File Manager & Web Browser
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/konqueror/
	arch = x86_64
	groups = kde-applications
	groups = kde-network
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = kdesu5
	depends = dolphin
	depends = keditbookmarks
	depends = qt5-webengine
	depends = kinit
	optdepends = kdesu5: shell command plugin
	source = https://download.kde.org/stable/release-service/23.08.2/src/konqueror-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/konqueror-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 6cd0dc4cd152b730d1e785fe08bea16c78e76ccd8ab5908f63e3ca747ab2bf47
	sha256sums = SKIP

pkgname = konqueror
