pkgbase = kbackup
	pkgdesc = A program that lets you back up any directories or files
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/kbackup/
	arch = x86_64
	groups = kde-applications
	groups = kde-utilities
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = kio5
	depends = libarchive
	depends = hicolor-icon-theme
	source = https://download.kde.org/stable/release-service/23.08.2/src/kbackup-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kbackup-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 5c607c4a6600cd7006c463fa70989aff7f31de011803efc3d97b8b07d871adfb
	sha256sums = SKIP

pkgname = kbackup
