pkgbase = dqlite
	pkgdesc = Distributed SQLite
	pkgver = 1.16.0
	pkgrel = 1
	url = https://github.com/CanonicalLtd/dqlite
	arch = x86_64
	license = LGPL3
	makedepends = tcl
	makedepends = readline
	makedepends = zlib
	depends = libuv
	depends = raft
	depends = sqlite
	options = strip
	source = dqlite-1.16.0.tar.gz::https://github.com/canonical/dqlite/archive/v1.16.0.tar.gz
	sha256sums = e864cdce33320c1b895b1178878b8f2e746fc979ac4b592139ae18af6bd8b1f4

pkgname = dqlite
