pkgbase = angelfish
	pkgdesc = Web browser for Plasma Mobile
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/angelfish/
	arch = x86_64
	groups = kde-applications
	groups = kde-network
	license = GPL
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = corrosion
	depends = kirigami-addons
	depends = purpose5
	depends = qqc2-desktop-style5
	depends = qt5-webengine
	depends = qt5-svg
	depends = qt5-feedback
	depends = futuresql-qt5
	depends = qcoro-qt5
	options = !lto
	source = https://download.kde.org/stable/release-service/23.08.2/src/angelfish-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/angelfish-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = a7f68e425d8b392762b228314eb6aa63a57a0742fb1c15c2f38538820faf5d19
	sha256sums = SKIP

pkgname = angelfish
