pkgbase = python-django-extensions
	pkgdesc = A collection of custom extensions for the Django Framework
	pkgver = 3.2.3
	pkgrel = 1
	url = https://github.com/django-extensions/django-extensions
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-setuptools
	depends = python-django
	depends = python-six
	optdepends = graphviz: graph_models extension
	optdepends = ipython: shell_plus extension
	optdepends = python-werkzeug: runserver_plus extension
	source = git+https://github.com/django-extensions/django-extensions.git#tag=2ccced1b75d13573b7d738be9ecdc189c46f6480
	sha256sums = SKIP

pkgname = python-django-extensions
