pkgbase = kwayland5
	pkgdesc = Qt-style Client and Server library wrapper for the Wayland libraries
	pkgver = 5.110.0
	pkgrel = 1
	url = https://www.kde.org
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = wayland-protocols
	makedepends = plasma-wayland-protocols
	depends = qt5-wayland
	provides = kwayland=5.110.0
	conflicts = kwayland<5.111
	replaces = kwayland<5.111
	source = https://download.kde.org/stable/frameworks/5.110/kwayland-5.110.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.110/kwayland-5.110.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 0565041ef0ab6aec2d2afbe513c79d5c56c07d03c98233ca82103abcb9dffd3d
	sha256sums = SKIP

pkgname = kwayland5
