pkgbase = xdg-desktop-portal-hyprland
	pkgdesc = xdg-desktop-portal backend for hyprland
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/hyprwm/xdg-desktop-portal-hyprland
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = meson
	makedepends = scdoc
	makedepends = wayland
	makedepends = wayland-protocols
	depends = libinih
	depends = libuuid.so
	depends = pipewire
	depends = qt6-base
	depends = qt6-wayland
	depends = sdbus-cpp
	depends = xdg-desktop-portal
	optdepends = grim: required for the screenshot portal to function
	optdepends = slurp: support for interactive mode for the screenshot portal
	provides = xdg-desktop-portal-impl
	source = https://github.com/hyprwm/xdg-desktop-portal-hyprland/archive/v1.2.1/v1.2.1.tar.gz
	source = https://github.com/hyprwm/hyprland-protocols/archive/4d29e48433270a2af06b8bc711ca1fe5109746cd.tar.gz
	source = hyprland-portals.conf
	sha256sums = 7f902a954bfc60ea081a40b482be837fad558b14aa751546b1f51ac9e8daef17
	sha256sums = 5f6be4d870e94314f05ec7ff9c9c1f028748230ff80a7f89aeaf66c08e5c70e0
	sha256sums = 33b80d588498992c1d4387c32775cab673a9a8dab2d917c0b4b20b59cebaa308

pkgname = xdg-desktop-portal-hyprland
