pkgbase = xdg-desktop-portal-hyprland
	pkgdesc = xdg-desktop-portal backend for hyprland
	pkgver = 1.2.2
	pkgrel = 1
	url = https://github.com/hyprwm/xdg-desktop-portal-hyprland
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = meson
	makedepends = scdoc
	makedepends = wayland
	makedepends = wayland-protocols
	depends = libinih
	depends = libuuid.so
	depends = pipewire
	depends = qt6-base
	depends = qt6-wayland
	depends = sdbus-cpp
	depends = xdg-desktop-portal
	optdepends = grim: required for the screenshot portal to function
	optdepends = slurp: support for interactive mode for the screenshot portal
	provides = xdg-desktop-portal-impl
	source = https://github.com/hyprwm/xdg-desktop-portal-hyprland/archive/v1.2.2/v1.2.2.tar.gz
	source = https://github.com/hyprwm/hyprland-protocols/archive/4d29e48433270a2af06b8bc711ca1fe5109746cd.tar.gz
	source = hyprland-portals.conf
	sha256sums = 06cc1f8bb1b6bed06c495447534d40115cfcdb110a89507ea46056758881c80e
	sha256sums = 5f6be4d870e94314f05ec7ff9c9c1f028748230ff80a7f89aeaf66c08e5c70e0
	sha256sums = 20bc215211f16a361086d59fa051df7337d95f91c695a29d8c5d23d40407fad5

pkgname = xdg-desktop-portal-hyprland
