pkgbase = qt5-wayland
	pkgdesc = Provides APIs for Wayland
	pkgver = 5.15.10+kde+r62
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt
	groups = qt5
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = vulkan-headers
	makedepends = git
	depends = qt5-declarative
	depends = libxcomposite
	source = git+https://invent.kde.org/qt/qt/qtwayland#commit=8167ea2432a8313ffd130e071aa31570de52e97b
	sha256sums = SKIP

pkgname = qt5-wayland
