pkgbase = minisign
	pkgdesc = A dead-simple tool to sign files and verify digital signatures
	pkgver = 0.11
	pkgrel = 2
	url = https://github.com/jedisct1/minisign
	arch = x86_64
	license = custom:ISC
	makedepends = cmake
	makedepends = git
	depends = libsodium
	source = git+https://github.com/jedisct1/minisign.git?signed#tag=feefda7af87f64342bd07bf446ceb0467cbd0fb4
	validpgpkeys = 54A2B8892CC3D6A597B92B6C210627AABA709FE1
	sha512sums = SKIP

pkgname = minisign
