pkgbase = python-dogpile.cache
	pkgdesc = A caching front-end based on the Dogpile lock
	pkgver = 1.2.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/dogpile.cache
	arch = any
	license = BSD
	checkdepends = memcached
	checkdepends = pifpaf
	checkdepends = redis
	checkdepends = python-mako
	checkdepends = python-redis
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-pylibmc
	makedepends = python-setuptools
	depends = python-decorator
	depends = python-stevedore
	source = https://pypi.io/packages/source/d/dogpile.cache/dogpile.cache-1.2.0.tar.gz
	sha512sums = a97b851bd9c541004d701e4564cc641e479d40ab60aa08a48c4617f42ee444cf19e4d7551b76ecbfc16ceef1097d3334d15bd1d0a9b3b6ad15ed4e17149e0864

pkgname = python-dogpile.cache
