pkgbase = python-jupyter-events
	pkgdesc = Configurable event system for Jupyter applications and extensions
	pkgver = 0.8.0
	pkgrel = 1
	url = https://jupyter.org/
	arch = any
	license = BSD
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-console-scripts
	checkdepends = python-rfc3339-validator
	checkdepends = python-rfc3986-validator
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-click
	depends = python-json-logger
	depends = python-jsonschema
	depends = python-referencing
	depends = python-rich
	depends = python-traitlets
	depends = python-yaml
	source = https://github.com/jupyter/jupyter_events/releases/download/v0.8.0/jupyter_events-0.8.0.tar.gz
	sha256sums = fda08f0defce5e16930542ce60634ba48e010830d50073c3dfd235759cee77bf

pkgname = python-jupyter-events
