pkgbase = python-pywayland
	pkgdesc = Python bindings for the libwayland library
	pkgver = 0.4.17
	pkgrel = 1
	url = https://github.com/flacjacket/pywayland
	arch = x86_64
	license = Apache-2.0
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = wayland-protocols
	depends = glibc
	depends = python
	depends = python-cffi
	depends = wayland
	source = pywayland-0.4.17.tar.gz::https://github.com/flacjacket/pywayland/archive/refs/tags/v0.4.17.tar.gz
	sha512sums = 9ca1e30b56f6d1447744451d15d84041d5ce6ce64811ca0e395822731f0c7cd1d8571f640b89771d8f5e9da1d82385734974e10e68ccecffc0f9600a83d2478b
	b2sums = f190107ab361ec9c0a568d22a104fa06a7e52a348a6226c30c2ae542b77e5b21b4a389ad745efb864b58cff9e77cb22ff43fd6614859cb138d398a84b99614a5

pkgname = python-pywayland
