pkgbase = klines
	pkgdesc = A simple but highly addictive one player game
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/klines/
	arch = x86_64
	groups = kde-applications
	groups = kde-games
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = libkdegames
	depends = hicolor-icon-theme
	source = https://download.kde.org/stable/release-service/23.08.2/src/klines-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/klines-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 38d1f0c46dfb562fb91410767e19e7b65f94972cfa17b5bafe5bbe15ade1a579
	sha256sums = SKIP

pkgname = klines
