pkgbase = gnome-connections
	pkgdesc = Remote desktop client for the GNOME desktop environment
	pkgver = 45.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/connections
	arch = x86_64
	groups = gnome
	license = GPL3
	makedepends = appstream-glib
	makedepends = gobject-introspection
	makedepends = itstool
	makedepends = meson
	makedepends = vala
	depends = cairo
	depends = dconf
	depends = freerdp
	depends = fuse3
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = gtk-vnc
	depends = hicolor-icon-theme
	depends = libhandy
	depends = libsecret
	depends = libxml2
	source = https://download.gnome.org/sources/gnome-connections/45/gnome-connections-45.0.tar.xz
	sha256sums = b9fab525b90a3e27d113c16fb868c2b9c47bf8149310d14db862ea1912c06fb8

pkgname = gnome-connections
