pkgbase = xournalpp
	pkgdesc = Handwriting notetaking software with PDF annotation support
	pkgver = 1.2.2
	pkgrel = 1
	url = https://github.com/xournalpp/xournalpp
	arch = x86_64
	license = GPL2
	makedepends = git
	makedepends = cmake
	makedepends = doxygen
	makedepends = graphviz
	depends = gtk3
	depends = poppler-glib
	depends = libxml2
	depends = portaudio
	depends = libsndfile
	depends = lua
	depends = libzip
	optdepends = texlive-latexextra: LaTeX package
	replaces = xournal
	source = git+https://github.com/xournalpp/xournalpp.git#commit=09ae33339438a777e8a22a6972ed5a9c7e8c3b1a
	sha256sums = SKIP

pkgname = xournalpp
