pkgbase = crun
	pkgdesc = A fast and lightweight fully featured OCI runtime and C library for running containers
	pkgver = 1.9
	pkgrel = 1
	url = https://github.com/containers/crun
	arch = x86_64
	license = LGPL
	makedepends = libtool
	makedepends = python
	makedepends = go-md2man
	makedepends = systemd
	makedepends = git
	depends = yajl
	depends = systemd-libs
	depends = libcap
	depends = libseccomp
	depends = criu
	provides = oci-runtime
	source = https://github.com/containers/crun/releases/download/1.9/crun-1.9.tar.xz
	source = https://github.com/containers/crun/releases/download/1.9/crun-1.9.tar.xz.asc
	validpgpkeys = AC404C1C0BF735C63FF4D562263D6DF2E163E1EA
	sha256sums = 7e35280cfa1a646b4ebdc94cc434035ab51f36a763c6268acc6aa7bbfd6ed21b
	sha256sums = SKIP

pkgname = crun
