pkgbase = crun
	pkgdesc = A fast and lightweight fully featured OCI runtime and C library for running containers
	pkgver = 1.8.6
	pkgrel = 1
	url = https://github.com/containers/crun
	arch = x86_64
	license = LGPL
	makedepends = libtool
	makedepends = python
	makedepends = go-md2man
	makedepends = systemd
	makedepends = git
	depends = yajl
	depends = systemd-libs
	depends = libcap
	depends = libseccomp
	depends = criu
	provides = oci-runtime
	source = https://github.com/containers/crun/releases/download/1.8.6/crun-1.8.6.tar.xz
	source = https://github.com/containers/crun/releases/download/1.8.6/crun-1.8.6.tar.xz.asc
	source = crun-1.8.6-fix-missingsymbol.patch::https://github.com/containers/crun/commit/080e56021ee3e2d4b9054fdb6134f49b4d6d9c7b.patch
	validpgpkeys = AC404C1C0BF735C63FF4D562263D6DF2E163E1EA
	sha256sums = 1808235641932a89efc42756db7774e1337c130ed8307b8b588542ca372d9467
	sha256sums = SKIP
	sha256sums = ee88aad33638ddff7adad140c51924520739108eedf8facb04d27d1e339a1cb5

pkgname = crun
