pkgbase = crun
	pkgdesc = A fast and lightweight fully featured OCI runtime and C library for running containers
	pkgver = 1.9.2
	pkgrel = 1
	url = https://github.com/containers/crun
	arch = x86_64
	license = LGPL
	makedepends = libtool
	makedepends = python
	makedepends = go-md2man
	makedepends = systemd
	makedepends = git
	depends = yajl
	depends = systemd-libs
	depends = libcap
	depends = libseccomp
	depends = criu
	provides = oci-runtime
	source = https://github.com/containers/crun/releases/download/1.9.2/crun-1.9.2.tar.xz
	source = https://github.com/containers/crun/releases/download/1.9.2/crun-1.9.2.tar.xz.asc
	validpgpkeys = AC404C1C0BF735C63FF4D562263D6DF2E163E1EA
	sha256sums = 0df37442265fc39b6aabd29a00240ff0ebd3baee872d2b2f62d8e72b1e646de0
	sha256sums = SKIP

pkgname = crun
