pkgbase = ansible-core
	pkgdesc = Radically simple IT automation platform
	pkgver = 2.15.5
	pkgrel = 1
	url = https://www.ansible.com
	arch = any
	license = GPL3
	checkdepends = git
	checkdepends = openssh
	checkdepends = python-bcrypt
	checkdepends = python-botocore
	checkdepends = python-passlib
	checkdepends = python-pexpect
	checkdepends = python-py
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-xdist
	checkdepends = python-pytest-forked
	checkdepends = python-pywinrm
	checkdepends = python-voluptuous
	makedepends = python-build
	makedepends = python-docutils
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-straight.plugin
	makedepends = python-wheel
	depends = python
	depends = python-cryptography
	depends = python-jinja
	depends = python-packaging
	depends = python-pyyaml
	depends = python-resolvelib
	depends = python-paramiko
	depends = python-typing-extensions
	optdepends = python-dnspython: for dig lookup
	optdepends = python-jmespath: json_query support
	optdepends = python-netaddr: for the ipaddr filter
	optdepends = python-passlib: crypt values for vars_prompt
	optdepends = python-pip: for module to manage Python libarary dependencies
	optdepends = python-pywinrm: connect to Windows machines
	optdepends = python-setuptools: for module to manage Python libarary dependencies
	optdepends = python-systemd: for journald support
	optdepends = sshpass: for ssh connections with password
	provides = python-ansible
	provides = ansible-base
	replaces = ansible-base
	source = ansible-core-2.15.5.tar.gz::https://github.com/ansible/ansible/archive/refs/tags/v2.15.5.tar.gz
	sha512sums = 58715140b2cce94afd1701b359a7b4b6534b80616b7d026a8f29be15283cb143442de4368263c80fc2bed862cdb7dc1a46eeada2886ad294045963864ef89716
	b2sums = 8fa3643aa886f489effd0e0ae8992ea5d8f49255610b18577fd85b16103bc2cd5c24854b15d898a77b26da786653138e45f777579da732fa7644265237d1803a

pkgname = ansible-core
