pkgbase = libgtop
	pkgdesc = Library for collecting system monitoring data
	pkgver = 2.41.2
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/libgtop
	arch = x86_64
	license = GPL
	makedepends = gobject-introspection
	makedepends = gtk-doc
	depends = glib2
	depends = glibc
	depends = libxau
	source = https://download.gnome.org/sources/libgtop/2.41/libgtop-2.41.2.tar.xz
	sha256sums = d9026cd8a48d27cdffd332f8d60a92764b56424e522c420cd13a01f40daf92c3

pkgname = libgtop
