pkgbase = python-gitpython
	pkgdesc = A python library used to interact with Git repositories
	pkgver = 3.1.40
	pkgrel = 1
	url = https://github.com/gitpython-developers/gitpython
	arch = any
	license = BSD-3-Clause
	checkdepends = python-ddt
	checkdepends = python-nose
	checkdepends = python-pytest
	checkdepends = python-virtualenv
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = git
	depends = python
	depends = python-gitdb
	depends = python-typing-extensions
	source = git+https://github.com/gitpython-developers/gitpython#tag=8809dd0222ba53588e966b97e277835a8bc7df7b?signed
	validpgpkeys = 27C50E7F590947D7273A741E85194C08421980C9
	sha512sums = SKIP
	b2sums = SKIP

pkgname = python-gitpython
