pkgbase = python-graphene
	pkgdesc = GraphQL framework for Python
	pkgver = 3.3.0
	pkgrel = 1
	url = https://graphene-python.org/
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-setuptools
	depends = python-aniso8601
	depends = python-graphql-core
	depends = python-graphql-relay
	depends = python-six
	source = python-graphene::git+https://github.com/graphql-python/graphene.git#tag=f5aba2c027df90e650accf136f3105eb601216c6
	sha512sums = SKIP

pkgname = python-graphene
