pkgbase = ksshaskpass
	pkgdesc = ssh-add helper that uses kwallet and kpassworddialog
	pkgver = 5.27.9
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	install = ksshaskpass.install
	arch = x86_64
	groups = plasma
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = kwallet5
	provides = x11-ssh-askpass
	source = https://download.kde.org/stable/plasma/5.27.9/ksshaskpass-5.27.9.tar.xz
	source = https://download.kde.org/stable/plasma/5.27.9/ksshaskpass-5.27.9.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = c7d8d070bfaca1385ef3374a0c66ab1f3d914b6ec96fa69dafbce68e78cf8a73
	sha256sums = SKIP

pkgname = ksshaskpass
