pkgbase = python-identify
	pkgdesc = File identification library for Python
	pkgver = 2.5.30
	pkgrel = 1
	url = https://github.com/pre-commit/identify
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-ukkonen
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-editdistance-s: for returning license identifiers
	optdepends = python-ukkonen: for returning license identifiers
	source = identify-2.5.30.tar.gz::https://github.com/pre-commit/identify/archive/refs/tags/v2.5.30.tar.gz
	sha512sums = cbae5ca100f0e09fccd1b311243b1bc090ac63bc19fcdc57241bbdfe07920e4d0041d7ac69ab37ede38628c6f3ad8e7b34f698576f4a1188ae94dc6e32ec968a
	b2sums = d5f277316d58a1fbd78a193c357656e5f16e66f4a737a8b415570afc6bddedf130a4557c486696fbe0ed86542598122f65f0f14536430a59f4e970fa2ab78f75

pkgname = python-identify
