pkgbase = python-zope-hookable
	pkgdesc = Represents the core of the Zope hookable Architecture
	pkgver = 6.0
	pkgrel = 1
	url = https://github.com/zopefoundation/zope.hookable
	arch = x86_64
	license = ZPL
	checkdepends = python-nose
	depends = python-setuptools
	source = python-zope-hookable-6.0.tar.gz::https://github.com/zopefoundation/zope.hookable/archive/6.0.tar.gz
	sha512sums = 273fa07d0682ce0f97435221d99311467b8dfdea88c8ea50acec727d43f9a6ae2cd6f173c360d37024cd5067252442e6af52df9227395051c515e0c04c9c95f2

pkgname = python-zope-hookable
