pkgbase = go-tools
	pkgdesc = Developer tools for the Go programming language
	pkgver = 0.13.0
	pkgrel = 1
	epoch = 4
	url = https://golang.org/
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = go
	depends = glibc
	source = go-tools::git+https://go.googlesource.com/tools#commit=b5e55d198461206bca9558e65cdd518f8e4f2735
	sha256sums = SKIP

pkgname = go-tools
