pkgbase = java-batik
	pkgdesc = SVG library for Java
	pkgver = 1.17
	pkgrel = 1
	url = https://xmlgraphics.apache.org/batik/
	arch = any
	license = APACHE
	makedepends = java-environment
	makedepends = apache-ant
	makedepends = unzip
	depends = java-runtime
	depends = java-commons-io
	depends = java-commons-logging
	depends = java-xmlgraphics-commons
	source = https://www.apache.org/dist/xmlgraphics/batik/source/batik-src-1.17.tar.gz
	source = https://www.apache.org/dist/xmlgraphics/batik/source/batik-src-1.17.tar.gz.asc
	validpgpkeys = 9D5F9D9B3E21B585E8F4551082036989D56B5F17
	validpgpkeys = 5C9A30FF22B2C02F30261C305B93F1DF7CDB6DEA
	sha512sums = 0879f298142630e96931f429ade5e7107d2d981c6c3a99b8f2ddca8e26ea4fde1b7c717d06412c57d64759bed6c5f2d056970d59e19e66caafb926cb30078516
	sha512sums = SKIP

pkgname = java-batik
