pkgbase = python-traitlets
	pkgdesc = A configuration system for Python applications
	pkgver = 5.11.1
	pkgrel = 1
	url = https://traitlets.readthedocs.io/en/stable
	arch = any
	license = BSD
	checkdepends = python-pytest-mock
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-argcomplete
	source = https://pypi.python.org/packages/source/t/traitlets/traitlets-5.11.1.tar.gz
	sha256sums = 813584bb569ac4a098c64ca494e8a3bbfef42e37c36a6132bca554aabd111480

pkgname = python-traitlets
