pkgbase = python-traitlets
	pkgdesc = A configuration system for Python applications
	pkgver = 5.11.2
	pkgrel = 1
	url = https://traitlets.readthedocs.io/en/stable
	arch = any
	license = BSD
	checkdepends = python-pytest-mock
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-argcomplete
	source = https://pypi.python.org/packages/source/t/traitlets/traitlets-5.11.2.tar.gz
	sha256sums = 7564b5bf8d38c40fa45498072bf4dc5e8346eb087bbf1e2ae2d8774f6a0f078e

pkgname = python-traitlets
