pkgbase = python-traitlets
	pkgdesc = A configuration system for Python applications
	pkgver = 5.12.0
	pkgrel = 1
	url = https://traitlets.readthedocs.io/en/stable
	arch = any
	license = BSD
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-mypy-testing
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-argcomplete
	depends = python-typing_extensions
	source = https://pypi.python.org/packages/source/t/traitlets/traitlets-5.12.0.tar.gz
	sha256sums = 833273bf645d8ce31dcb613c56999e2e055b1ffe6d09168a164bcd91c36d5d35

pkgname = python-traitlets
