# ---> ArchLinuxPackages
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/


# ---> Archives
*.7z
*.rar
*.gz
*.bzip
*.bz2
*.xz
*.lzma
*.cab

# ---> systemd
*.service
*.socket
*.timer

# ---> snap
*.snap
*.service
*.timer
*.socket
gstreamer/HEAD
gstreamer/config
gstreamer/description
gstreamer/hooks/applypatch-msg.sample
gstreamer/hooks/commit-msg.sample
gstreamer/hooks/fsmonitor-watchman.sample
gstreamer/hooks/post-update.sample
gstreamer/hooks/pre-applypatch.sample
gstreamer/hooks/pre-commit.sample
gstreamer/hooks/pre-merge-commit.sample
gstreamer/hooks/pre-push.sample
gstreamer/hooks/pre-rebase.sample
gstreamer/hooks/pre-receive.sample
gstreamer/hooks/prepare-commit-msg.sample
gstreamer/hooks/push-to-checkout.sample
gstreamer/hooks/sendemail-validate.sample
gstreamer/hooks/update.sample
gstreamer/info/attributes
gstreamer/info/exclude
gstreamer/objects/pack/pack-2ee0fc5c3d296d6a10cf617c669f8c89210581bc.idx
gstreamer/objects/pack/pack-2ee0fc5c3d296d6a10cf617c669f8c89210581bc.pack
gstreamer/objects/pack/pack-2ee0fc5c3d296d6a10cf617c669f8c89210581bc.rev
gstreamer/packed-refs
gstreamer/FETCH_HEAD
gstreamer/objects/info/commit-graphs/commit-graph-chain
gstreamer/objects/info/commit-graphs/graph-76bd59656db5704af60c9032f2bd272c339d4eb1.graph
gstreamer/objects/pack/pack-25358b6095c2a960bca2d0bbd35f6bbb106d7025.idx
gstreamer/objects/pack/pack-25358b6095c2a960bca2d0bbd35f6bbb106d7025.pack
gstreamer/objects/pack/pack-25358b6095c2a960bca2d0bbd35f6bbb106d7025.rev
gstreamer/objects/info/commit-graphs/graph-218f74c8cf44f5789a45b6e36f370ccce7c9b2fb.graph
gstreamer/objects/pack/pack-608903c17e0217460ce126697b70029569f9d697.idx
gstreamer/objects/pack/pack-608903c17e0217460ce126697b70029569f9d697.pack
gstreamer/objects/pack/pack-608903c17e0217460ce126697b70029569f9d697.rev
