pkgbase = kasts
	pkgdesc = Kirigami-based podcast player
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/kasts/
	arch = x86_64
	groups = kde-applications
	groups = kde-multimedia
	license = GPL
	license = LGPL
	makedepends = extra-cmake-modules
	depends = kirigami-addons
	depends = qt5-svg
	depends = qtkeychain-qt5
	depends = syndication5
	depends = threadweaver5
	depends = ki18n5
	depends = kcoreaddons5
	depends = kconfig5
	depends = networkmanager-qt5
	depends = taglib
	depends = qt5-multimedia
	depends = vlc
	source = https://download.kde.org/stable/release-service/23.08.2/src/kasts-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kasts-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = dd52cb8034b1478efbfb1040c600f9127991e4e3e6cddadd40a78ea41ba20fd2
	sha256sums = SKIP

pkgname = kasts
