pkgbase = xfce4-clipman-plugin
	pkgdesc = A clipboard plugin for the Xfce4 panel
	pkgver = 1.6.5
	pkgrel = 1
	url = https://docs.xfce.org/panel-plugins/xfce4-clipman-plugin
	arch = x86_64
	groups = xfce4-goodies
	license = GPL2
	makedepends = intltool
	depends = xfce4-panel
	depends = libxtst
	depends = qrencode
	source = https://archive.xfce.org/src/panel-plugins/xfce4-clipman-plugin/1.6/xfce4-clipman-plugin-1.6.5.tar.bz2
	sha256sums = 73156d66c1f866d2af0c20526c5ce58aedbce511b89bb436ba9bc6413fac5190

pkgname = xfce4-clipman-plugin
