pkgbase = hunspell-es
	pkgver = 2.8
	pkgrel = 2
	epoch = 1
	url = https://github.com/sbosio/rla-es
	arch = any
	license = LGPL3
	makedepends = qt6-webengine
	noextract = es.oxt
	noextract = es_AR.oxt
	noextract = es_BO.oxt
	noextract = es_CL.oxt
	noextract = es_CO.oxt
	noextract = es_CR.oxt
	noextract = es_CU.oxt
	noextract = es_DO.oxt
	noextract = es_EC.oxt
	noextract = es_ES.oxt
	noextract = es_GT.oxt
	noextract = es_HN.oxt
	noextract = es_MX.oxt
	noextract = es_NI.oxt
	noextract = es_PA.oxt
	noextract = es_PE.oxt
	noextract = es_PR.oxt
	noextract = es_PY.oxt
	noextract = es_SV.oxt
	noextract = es_UY.oxt
	noextract = es_VE.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_AR.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_BO.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_CL.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_CO.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_CR.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_CU.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_DO.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_EC.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_ES.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_GT.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_HN.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_MX.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_NI.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_PA.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_PE.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_PR.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_PY.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_SV.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_UY.oxt
	source = https://github.com/sbosio/rla-es/releases/download/v2.8/es_VE.oxt
	sha256sums = 8313cd843bbf235849278ad2ce04eb66a76b22332f68190a1ca7726d7a5c890d
	sha256sums = 4114adf962633b57b01e6cf1a73e46bd0651dd4c737b75a968ab7cbf5eea8f46
	sha256sums = a6d73341951f2c60d9d631de5467a77bc3d3399514d615de7f44f67d69582971
	sha256sums = 4abc591fa31f83a3405ff7d42ee6325bb0d306adf0c0f8e4f2f29b7aad0f2051
	sha256sums = bba2b1070f7eec88c160aade745729793eeeeee68529481d675654a389e8c0fa
	sha256sums = ca4ef428efde0618ffd63b8a836fe323756b5ab897b4a757b282b4bcaace9c7c
	sha256sums = b9b2e511072c395489fad98d79892c54f7b7fa3568411a98806d8873e8b6e973
	sha256sums = 83ada8c5ad5e11ba1c826dd835414436ec880d43c60c8d042025142820357598
	sha256sums = 04f7dcb09cac83d7938ff093a37df599800b0907ce096a9b88afe21046e6c589
	sha256sums = 7b3984bf12217a9d5d4d33fc30e34a55517a4b9041d0fbde8433be49fa4f7a6c
	sha256sums = 7be61504d92c6f2d03f2a1edcf1ebb145db6d8ca460d931f0fdb9adfb21c1c4e
	sha256sums = d3ff8aebee9cc7256d8b31a2e297a0a69b4ec61c1968f39f5b33c8c68d047b7d
	sha256sums = 2d93e44e02179c308d10bbc0a1d8a1040352db3d7ffb48eadd09c1d985069703
	sha256sums = d5d8d9ef7238e5a9bc362078b6bf0ff6ada29a84b9acadc4c1d9b0ff48a4d83a
	sha256sums = 1f3d0d0afaee6e6a1c540795679b7bc09d2582d238fb327a11b7ab83bd51882e
	sha256sums = d98ed4e94bea269c2ef114c756e5c900cbeccba8c1ec394ad70d58c700bcb791
	sha256sums = e8ef7aeeebb8ebc465f7a6c05b6a2cb641b22a2c7e34c7c20fd189e84d2249ff
	sha256sums = 0b273f69f8aaba0bc73f0d8abdedb3d4aad71cb0f6799942161dc17b7e8ff655
	sha256sums = 0b6913eb8a6b184eb55ea91eb683122ad7d26cc5ab9fb68f53f14d86a22700ef
	sha256sums = d16cc805c1fd0a93df360fd11e4e71c7f29c68282fd03b403670ee9f2bf7ff84
	sha256sums = 9af61a09ce0d9bb81bc88fdfe9c3aab808134c2b3ba8dc21cde513be72569095

pkgname = hunspell-es_any
	pkgdesc = Spanish (generic) hunspell dictionary
	depends = hunspell
	provides = hunspell-dictionary
	conflicts = hunspell-es
	replaces = hunspell-es

pkgname = hyphen-es
	pkgdesc = Spanish hyphenation rules
	depends = hyphen

pkgname = mythes-es
	pkgdesc = Spanish thesaurus
	depends = libmythes

pkgname = hunspell-es_ar

pkgname = hunspell-es_bo

pkgname = hunspell-es_cl

pkgname = hunspell-es_co

pkgname = hunspell-es_cr

pkgname = hunspell-es_cu

pkgname = hunspell-es_do

pkgname = hunspell-es_ec

pkgname = hunspell-es_es

pkgname = hunspell-es_gt

pkgname = hunspell-es_hn

pkgname = hunspell-es_mx

pkgname = hunspell-es_ni

pkgname = hunspell-es_pa

pkgname = hunspell-es_pe

pkgname = hunspell-es_pr

pkgname = hunspell-es_py

pkgname = hunspell-es_sv

pkgname = hunspell-es_uy

pkgname = hunspell-es_ve
