pkgbase = python-black
	pkgdesc = Uncompromising Python code formatter
	pkgver = 23.10.1
	pkgrel = 1
	url = https://github.com/psf/black
	arch = any
	license = MIT
	checkdepends = ipython
	checkdepends = python-aiohttp
	checkdepends = python-parameterized
	checkdepends = python-pytest
	checkdepends = python-typed-ast
	checkdepends = python-tokenize-rt
	makedepends = python-build
	makedepends = python-hatch-fancy-pypi-readme
	makedepends = python-hatch-vcs
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-click
	depends = python-mypy_extensions
	depends = python-packaging
	depends = python-pathspec
	depends = python-platformdirs
	optdepends = ipython: for Jupyter notebook support
	optdepends = python-tokenize-rt: for Jupyter notebook support
	optdepends = python-aiohttp: for the blackd HTTP server
	optdepends = python-colorama: for colored diffs
	source = https://files.pythonhosted.org/packages/source/b/black/black-23.10.1.tar.gz
	b2sums = 1f7522653e6eb537bd57826c8f4efc0520bab6a62b4ba5718fbd841bad046cd0a62edd5a87e8d5884e80b5882c712304e48f2af75770bd6b25e85dc7b262dc71

pkgname = python-black
