pkgbase = konversation
	pkgdesc = A user-friendly and fully-featured IRC client
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/konversation/
	arch = x86_64
	groups = kde-applications
	groups = kde-network
	license = GPL2
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = knotifyconfig5
	depends = kparts5
	depends = kidletime5
	depends = knewstuff5
	depends = qca-qt5
	depends = hicolor-icon-theme
	depends = perl
	optdepends = python: python scripting support
	optdepends = keditbookmarks: for managing bookmarks
	source = https://download.kde.org/stable/release-service/23.08.2/src/konversation-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/konversation-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 2cb2fc15c7207538bc1200e24639a6791da99a0412a5d526d79a56c9409948c2
	sha256sums = SKIP

pkgname = konversation
