pkgbase = python-pyacoustid
	pkgdesc = Bindings for Chromaprint acoustic fingerprinting and the Acoustid API
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/beetbox/pyacoustid
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-setuptools
	depends = chromaprint
	depends = python
	source = git+https://github.com/beetbox/pyacoustid.git#tag=d2698e46aa23b9d3380c7b97278fc84fac502d7f
	sha256sums = SKIP

pkgname = python-pyacoustid
