pkgbase = partitionmanager
	pkgdesc = A KDE utility that allows you to manage disks, partitions, and file systems
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/partitionmanager/
	arch = x86_64
	groups = kde-applications
	groups = kde-system
	license = GPL2
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = kpmcore
	depends = hicolor-icon-theme
	depends = kio5
	source = https://download.kde.org/stable/release-service/23.08.2/src/partitionmanager-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/partitionmanager-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 12835695a1785c5f616cfedb67e0010cba659f151b94256e9b82a2805745b59f
	sha256sums = SKIP

pkgname = partitionmanager
