pkgbase = liborcus
	pkgdesc = File import filter library for spreadsheet documents.
	pkgver = 0.19.1
	pkgrel = 1
	url = https://gitlab.com/orcus/orcus/blob/master/README.md
	arch = x86_64
	license = MPL
	makedepends = boost
	makedepends = mdds
	depends = libixion
	depends = glibc
	depends = boost-libs
	depends = gcc-libs
	depends = zlib
	depends = python
	optdepends = python-requests: in tool bugzilla
	source = https://kohei.us/files/orcus/src/liborcus-0.19.1.tar.xz
	sha256sums = 6c9a8c03e8187f2749a84f2786d86a88ae45c99ed3a2d5fea36ba556b40c342d

pkgname = liborcus
