pkgbase = liborcus
	pkgdesc = File import filter library for spreadsheet documents.
	pkgver = 0.19.0
	pkgrel = 1
	url = https://gitlab.com/orcus/orcus/blob/master/README.md
	arch = x86_64
	license = MPL
	makedepends = boost
	makedepends = mdds
	depends = libixion
	depends = glibc
	depends = boost-libs
	depends = gcc-libs
	depends = zlib
	depends = python
	optdepends = python-requests: in tool bugzilla
	source = https://kohei.us/files/orcus/src/liborcus-0.19.0.tar.xz
	sha256sums = 1b68f54bb08face4c3dc83c912d921373c44aed817b37d879b7a4e47f2f15e09

pkgname = liborcus
