pkgbase = python-aws-sam-translator
	pkgdesc = AWS Serverless Application Model (AWS SAM) prescribes rules for expressing Serverless applications on AWS
	pkgver = 1.76.0
	pkgrel = 1
	url = https://github.com/aws/serverless-application-model
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-rerunfailures
	checkdepends = python-yaml
	checkdepends = python-parameterized
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-botocore
	depends = python-boto3
	depends = python-jsonschema
	depends = python-pydantic
	depends = python-typing_extensions
	source = https://github.com/aws/serverless-application-model/archive/v1.76.0/python-aws-sam-translator-1.76.0.tar.gz
	sha256sums = 9ac07edc49df38768b35c6eb39d4853329071563bc89e3bf2a6b13bf5ee7fb7c

pkgname = python-aws-sam-translator
