pkgbase = python-aws-sam-translator
	pkgdesc = AWS Serverless Application Model (AWS SAM) prescribes rules for expressing Serverless applications on AWS
	pkgver = 1.77.0
	pkgrel = 1
	url = https://github.com/aws/serverless-application-model
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-rerunfailures
	checkdepends = python-yaml
	checkdepends = python-parameterized
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-botocore
	depends = python-boto3
	depends = python-jsonschema
	depends = python-pydantic
	depends = python-typing_extensions
	source = https://github.com/aws/serverless-application-model/archive/v1.77.0/python-aws-sam-translator-1.77.0.tar.gz
	sha256sums = 2e7967e8be49b1c931e22be4fb1e64767eceeb8f1df76cf68d16616f666eebd7

pkgname = python-aws-sam-translator
