pkgbase = python-aws-sam-translator
	pkgdesc = AWS Serverless Application Model (AWS SAM) prescribes rules for expressing Serverless applications on AWS
	pkgver = 1.78.0
	pkgrel = 1
	url = https://github.com/aws/serverless-application-model
	arch = any
	license = Apache
	checkdepends = python-pytest
	checkdepends = python-pytest-rerunfailures
	checkdepends = python-yaml
	checkdepends = python-parameterized
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-botocore
	depends = python-boto3
	depends = python-jsonschema
	depends = python-pydantic
	depends = python-typing_extensions
	source = https://github.com/aws/serverless-application-model/archive/v1.78.0/python-aws-sam-translator-1.78.0.tar.gz
	sha256sums = 6b51b4d482b2a8000c703c541722da76c774059ea2e18c73ab8f31ebd1a8d1bd

pkgname = python-aws-sam-translator
