pkgbase = kio-gdrive
	pkgdesc = KIO Slave to access Google Drive
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/kio_gdrive/
	arch = x86_64
	groups = kde-applications
	groups = kde-network
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = intltool
	makedepends = purpose5
	depends = libkgapi
	depends = kaccounts-providers
	optdepends = purpose5: to use the share plugin
	source = https://download.kde.org/stable/release-service/23.08.2/src/kio-gdrive-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kio-gdrive-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 8c08d3c911ba81e239f76067e8da83aba36ecfda079427d6eaba4faa776a487f
	sha256sums = SKIP

pkgname = kio-gdrive
