pkgbase = qt6-graphs
	pkgdesc = Qt Graphs for data visualization
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-shadertools
	depends = gcc-libs
	depends = glibc
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-quick3d
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qtgraphs-everywhere-src-6.6.0.tar.xz
	sha256sums = 56e147fc89031b77002a87da2970c1d6ebf3f595268d0cae52f5f71278e15e7f

pkgname = qt6-graphs
