pkgbase = kirigami-gallery
	pkgdesc = Gallery application built using Kirigami
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/kirigami2.gallery/
	arch = x86_64
	groups = kde-applications
	groups = kdesdk
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	depends = kirigami2
	depends = kitemmodels5
	depends = qt5-svg
	source = https://download.kde.org/stable/release-service/23.08.2/src/kirigami-gallery-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kirigami-gallery-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 3ffb95303330905184321c7e9ea340058d003940ff9763800901002ea92f181c
	sha256sums = SKIP

pkgname = kirigami-gallery
