pkgbase = jupyter-notebook
	pkgdesc = The language-agnostic HTML notebook application for Project Jupyter
	pkgver = 7.0.6
	pkgrel = 1
	url = https://github.com/jupyter/notebook
	arch = any
	license = BSD
	checkdepends = python-pytest-jupyter
	checkdepends = python-pytest-timeout
	checkdepends = python-requests
	makedepends = python-build
	makedepends = python-hatch-jupyter-builder
	makedepends = python-installer
	depends = jupyter-notebook-shim
	depends = jupyter-server
	depends = jupyterlab
	depends = python
	depends = python-jupyter-client
	depends = python-jupyter-core
	depends = python-jupyterlab-server
	depends = python-tornado
	depends = python-traitlets
	replaces = jupyter-retrolab
	source = https://pypi.io/packages/source/n/notebook/notebook-7.0.6.tar.gz
	sha256sums = ec6113b06529019f7f287819af06c97a2baf7a95ac21a8f6e32192898e9f9a58

pkgname = jupyter-notebook
