pkgbase = uvicorn
	pkgdesc = The lightning-fast ASGI server
	pkgver = 0.23.2
	pkgrel = 1
	url = https://github.com/encode/uvicorn
	arch = any
	license = BSD
	makedepends = git
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = python
	depends = python-asgiref
	depends = python-click
	depends = python-h11
	depends = python-httptools
	depends = python-uvloop
	depends = python-websockets
	source = git+https://github.com/encode/uvicorn#tag=f3040fba6a9c628c95fd510bcd9714367a0f4f4e
	b2sums = SKIP

pkgname = uvicorn
