pkgbase = python-mpi4py
	pkgdesc = Python bindings for the Message Passing Interface (MPI) standard
	pkgver = 3.1.5
	pkgrel = 1
	url = https://github.com/mpi4py/mpi4py
	arch = x86_64
	license = BSD
	checkdepends = inetutils
	makedepends = python-setuptools
	makedepends = cython
	depends = python
	depends = openmpi
	source = https://files.pythonhosted.org/packages/source/m/mpi4py/mpi4py-3.1.5.tar.gz
	sha256sums = a706e76db9255135c2fb5d1ef54cb4f7b0e4ad9e33cbada7de27626205f2a153

pkgname = python-mpi4py
