pkgbase = drkonqi
	pkgdesc = The KDE crash handler
	pkgver = 5.27.9
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = GPL2
	makedepends = extra-cmake-modules
	depends = kidletime5
	depends = syntax-highlighting5
	depends = kirigami2
	depends = kitemmodels5
	depends = kuserfeedback
	depends = kio5
	depends = gdb
	depends = python-distro
	depends = python-psutil
	depends = qt5-tools
	source = https://download.kde.org/stable/plasma/5.27.9/drkonqi-5.27.9.tar.xz
	source = https://download.kde.org/stable/plasma/5.27.9/drkonqi-5.27.9.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 55c397f8758b998cb3fd1da9f105d5d956714cb032045382618d95ff260fdd12
	sha256sums = SKIP

pkgname = drkonqi
