pkgbase = python-jupyter-client
	pkgdesc = Jupyter protocol implementation and client libraries
	pkgver = 8.4.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/jupyter_client
	arch = any
	license = BSD
	checkdepends = iproute2
	checkdepends = net-tools
	checkdepends = openssh
	checkdepends = python-pytest-jupyter
	checkdepends = python-pytest-timeout
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	depends = ipython
	depends = python
	depends = python-dateutil
	depends = python-importlib-metadata
	depends = python-ipykernel
	depends = python-jupyter-core
	depends = python-pexpect
	depends = python-pyzmq
	depends = python-tornado
	depends = python-traitlets
	provides = python-jupyter_client
	conflicts = python-jupyter_client
	replaces = python-jupyter_client
	source = https://files.pythonhosted.org/packages/source/j/jupyter_client/jupyter_client-8.4.0.tar.gz
	sha256sums = dc1b857d5d7d76ac101766c6e9b646bf18742721126e72e5d484c75a993cada2

pkgname = python-jupyter-client
