pkgbase = suitesparse
	pkgdesc = A collection of sparse matrix libraries
	pkgver = 7.2.1
	pkgrel = 1
	url = http://faculty.cse.tamu.edu/davis/suitesparse.html
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = gcc-fortran
	depends = blas
	depends = gcc-libs
	depends = glibc
	depends = gmp
	depends = lapack
	depends = mpfr
	replaces = suitesparse64<7.1.0
	source = https://github.com/DrTimothyAldenDavis/SuiteSparse/archive/v7.2.1/suitesparse-7.2.1.tar.gz
	sha256sums = 304e959a163ff74f8f4055dade3e0b5498d9aa3b1c483633bb400620f521509f

pkgname = suitesparse
