pkgbase = python-typeguard
	pkgdesc = Run-time type checker for Python
	pkgver = 4.1.4
	pkgrel = 1
	url = https://github.com/agronholm/typeguard
	arch = any
	license = MIT
	checkdepends = mypy
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python-typing_extensions
	source = git+https://github.com/agronholm/typeguard.git#commit=b10b9b2b048752c89d5274df4479e8ac4e596ca1
	sha512sums = SKIP

pkgname = python-typeguard
