pkgbase = python-confuse
	pkgdesc = Painless YAML config files for Python
	pkgver = 2.0.1
	pkgrel = 1
	url = https://github.com/beetbox/confuse
	arch = any
	license = MIT
	checkdepends = python-nose
	makedepends = git
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python-yaml
	source = git+https://github.com/beetbox/confuse.git#tag=eb041a8012b18f20d333b0da9aa4bc7f5a79f044
	sha256sums = SKIP

pkgname = python-confuse
