pkgbase = qt6-5compat
	pkgdesc = Module that contains unsupported Qt 5 APIs
	pkgver = 6.6.0
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-declarative
	makedepends = qt6-shadertools
	depends = gcc-libs
	depends = glibc
	depends = icu
	depends = qt6-base
	optdepends = qt6-declarative: for QtGraphicalEffects
	optdepends = qt6-shadertools: for QtGraphicalEffects
	source = https://download.qt.io/official_releases/qt/6.6/6.6.0/submodules/qt5compat-everywhere-src-6.6.0.tar.xz
	sha256sums = 3d85edb66126f712266dcbfc6cd00383d46cc6d66c8b84607ca21e2bc71a8fca

pkgname = qt6-5compat
