pkgbase = python-hidapi
	pkgdesc = A Cython interface to the hidapi from signal11/hidapi
	pkgver = 0.14.0
	pkgrel = 1
	url = https://github.com/trezor/cython-hidapi
	arch = x86_64
	license = custom
	makedepends = cython
	makedepends = python-setuptools
	makedepends = udev
	depends = python
	depends = hidapi
	source = https://pypi.org/packages/source/h/hidapi/hidapi-0.14.0.tar.gz
	sha512sums = 228fac22621e36a3108cefd418937a7ed0153e334e19999e947aad341a753d614877cd3f7add90d78037ebe9c7b3f6cbc42973a8e680188da14928311d317b17

pkgname = python-hidapi
