pkgbase = python-cairocffi
	pkgdesc = cffi-based cairo bindings for Python
	pkgver = 1.6.0
	pkgrel = 1
	url = https://doc.courtbouillon.org/cairocffi
	arch = any
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-numpy
	checkdepends = python-pikepdf
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-flit-core
	makedepends = python-xcffib
	makedepends = gdk-pixbuf2
	depends = python-cffi
	depends = cairo
	optdepends = gdk-pixbuf2: for cairocffi.pixbuf
	optdepends = python-xcffib: for cairo xcb support
	source = https://github.com/Kozea/cairocffi/archive/v1.6.0/python-cairocffi-1.6.0.tar.gz
	sha512sums = 1f554afe0b1a8c40a5408b18caf3eacf88d84d7780fdf23dad550a584ba8bc3a988bfebf01b0e7e8518d233c66ed969c4ff2182efbefcdd77f66ddbef125c23c

pkgname = python-cairocffi
