pkgbase = kscreen
	pkgdesc = KDE screen management software
	pkgver = 5.27.8
	pkgrel = 3
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kcmutils5
	depends = libkscreen
	depends = plasma-framework5
	depends = qt5-sensors
	depends = layer-shell-qt
	source = https://download.kde.org/stable/plasma/5.27.8/kscreen-5.27.8.tar.xz
	source = https://download.kde.org/stable/plasma/5.27.8/kscreen-5.27.8.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 14cb2b399ea056c2551382b53e45652386f6b7e9dfa99615ab15bc7aac8f041b
	sha256sums = SKIP

pkgname = kscreen
