pkgbase = sonnet5
	pkgdesc = Spelling framework for Qt5
	pkgver = 5.110.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-declarative
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = hunspell
	makedepends = aspell
	makedepends = hspell
	makedepends = libvoikko
	makedepends = doxygen
	depends = qt5-base
	optdepends = hunspell: spell checking via hunspell
	optdepends = aspell: spell checking via aspell
	optdepends = hspell: spell checking for Hebrew
	optdepends = libvoikko: Finnish support via Voikko
	optdepends = qt5-declarative: QML bindings
	provides = sonnet=5.110.0
	conflicts = sonnet<5.111
	replaces = sonnet<5.111
	source = https://download.kde.org/stable/frameworks/5.110/sonnet-5.110.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.110/sonnet-5.110.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 1114a1fe84f390fbadd03cf434c1f741b75a4ffe18014633f903f8e0fd30139b
	sha256sums = SKIP

pkgname = sonnet5
