pkgbase = wireplumber
	pkgdesc = Session / policy manager implementation for PipeWire
	pkgver = 0.4.15
	pkgrel = 1
	url = https://pipewire.pages.freedesktop.org/wireplumber/
	arch = x86_64
	license = MIT
	checkdepends = pipewire-audio
	makedepends = doxygen
	makedepends = git
	makedepends = glib2
	makedepends = gobject-introspection
	makedepends = graphviz
	makedepends = lua
	makedepends = meson
	makedepends = pipewire
	makedepends = python-lxml
	makedepends = systemd
	source = git+https://gitlab.freedesktop.org/pipewire/wireplumber.git#commit=d67b48e595cb4612fd7fd47f97df6b8883ef7f60
	b2sums = SKIP

pkgname = wireplumber
	install = wireplumber.install
	depends = libwireplumber=0.4.15-1
	depends = libsystemd.so
	depends = lua
	depends = pipewire
	provides = pipewire-session-manager
	conflicts = pipewire-media-session

pkgname = libwireplumber
	pkgdesc = Session / policy manager implementation for PipeWire - client library
	depends = libglib-2.0.so
	depends = libgmodule-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = libpipewire-0.3.so
	provides = libwireplumber-0.4.so
