pkgbase = ell
	pkgdesc = Embedded Linux library
	pkgver = 0.59
	pkgrel = 1
	url = https://01.org/ell
	arch = x86_64
	license = LGPL2.1
	checkdepends = dbus
	checkdepends = procps-ng
	depends = gcc-libs
	depends = glibc
	source = https://mirrors.edge.kernel.org/pub/linux/libs/ell/ell-0.59.tar.xz
	source = https://mirrors.edge.kernel.org/pub/linux/libs/ell/ell-0.59.tar.sign
	validpgpkeys = E932D120BC2AEC444E558F0106CA9F5D1DCF2659
	sha256sums = 370dc2b7c73cd57856017180a2a70a15ca1b0183bfd453b3cffe2d707c37da3d
	sha256sums = SKIP

pkgname = ell
