pkgbase = molecule
	pkgdesc = Aids in the development and testing of Ansible roles
	pkgver = 6.0.2
	pkgrel = 2
	url = https://github.com/ansible-community/molecule
	arch = any
	license = MIT
	checkdepends = ansible
	checkdepends = check-jsonschema
	checkdepends = python-ansi2html
	checkdepends = python-filelock
	checkdepends = python-pexpect
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-testinfra
	checkdepends = python-pytest-xdist
	checkdepends = yamllint
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	depends = python-ansible-compat
	depends = python-click
	depends = python-click-help-colors
	depends = python-cookiecutter
	depends = python-enrich
	depends = python-jinja
	depends = python-jsonschema
	depends = python-packaging
	depends = python-pluggy
	depends = python-pyyaml
	depends = python-rich
	depends = python-wcmatch
	optdepends = ansible: for the ansible verifier
	optdepends = molecule-docker: for the docker driver
	optdepends = molecule-podman: for the podman driver
	optdepends = molecule-vagrant: for the vagrant driver
	optdepends = python-pywinrm: for Windows support
	optdepends = python-pytest-testinfra: for the testinfra verifier
	source = molecule-6.0.2.tar.gz::https://github.com/ansible-community/molecule/archive/refs/tags/v6.0.2.tar.gz
	sha512sums = 384e8f24f23cf50c0579cc6e35bf79840a6565ac82546c2108bca6037161cc43c26aef490c06bf0e9b96012ba88df28933f08c302f867d20bb77aea7f3b11e59
	b2sums = b30a0aa0b3d322c3df4e027f1766e9f6f9d8f83d3334f2d5cd8362b673f849a58f6fd56e9f3212e5fe8a421ee72d54b362d08d09f39a8b8469e9e57533fb5bb1

pkgname = molecule
