pkgbase = lib32-libgusb
	pkgdesc = GObject wrapper for libusb1
	pkgver = 0.4.7
	pkgrel = 1
	url = https://github.com/hughsie/libgusb
	arch = x86_64
	license = LGPL2.1
	makedepends = git
	makedepends = meson
	depends = lib32-glib2
	depends = lib32-json-glib
	depends = lib32-libusb
	depends = libgusb
	source = git+https://github.com/hughsie/libgusb.git#tag=94f907cbf150eea97c7a44caaade35b0af5707a3
	sha256sums = SKIP

pkgname = lib32-libgusb
