pkgbase = xcb-util-cursor
	pkgdesc = XCB cursor library
	pkgver = 0.1.5
	pkgrel = 1
	url = https://cgit.freedesktop.org/xcb/util-cursor
	arch = x86_64
	license = custom:MIT
	makedepends = xorgproto
	depends = libxcb
	depends = xcb-util-renderutil
	depends = xcb-util-image
	depends = glibc
	source = https://xorg.freedesktop.org/archive/individual/lib/xcb-util-cursor-0.1.5.tar.xz
	source = https://xorg.freedesktop.org/archive/individual/lib/xcb-util-cursor-0.1.5.tar.xz.sig
	validpgpkeys = 4A193C06D35E7C670FA4EF0BA2FB9E081F2D130E
	sha512sums = e2d14c3f0ab117524ba90d1a992b61717ccee04bc9e66c587a6a0f10571f15e89fc5db3413882ca7ce14ebc07b6b7b0a4ddecd59ba910e6ca654ea9b1c705ed5
	sha512sums = SKIP

pkgname = xcb-util-cursor
