pkgbase = spectacle
	pkgdesc = KDE screenshot capture utility
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/spectacle/
	arch = x86_64
	groups = kde-applications
	groups = kde-graphics
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = plasma-wayland-protocols
	depends = xcb-util-cursor
	depends = purpose5
	depends = knewstuff5
	depends = qt5-tools
	depends = kpipewire
	source = https://download.kde.org/stable/release-service/23.08.2/src/spectacle-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/spectacle-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 9a4ea2403cee26aee6d37a4e59d7d93bfff45f1e7f545892abb06d54de7d2387
	sha256sums = SKIP

pkgname = spectacle
