pkgbase = plasma-nm
	pkgdesc = Plasma applet written in QML for managing network connections
	pkgver = 5.27.9
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = GPL2
	makedepends = extra-cmake-modules
	makedepends = openconnect
	depends = plasma-workspace
	depends = modemmanager-qt5
	depends = networkmanager-qt5
	optdepends = openconnect: Cisco AnyConnect VPN plugin
	source = https://download.kde.org/stable/plasma/5.27.9/plasma-nm-5.27.9.tar.xz
	source = https://download.kde.org/stable/plasma/5.27.9/plasma-nm-5.27.9.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 2a3c6264d8c05fdae2fe0a7c2b4e3db990ce7b50e7f926ac9876cc049cef584c
	sha256sums = SKIP

pkgname = plasma-nm
