pkgbase = adios2
	pkgdesc = The Adaptable Input/Output System version 2
	pkgver = 2.8.3
	pkgrel = 6
	url = https://adios2.readthedocs.io/en/latest/
	arch = x86_64
	license = Apache
	makedepends = cmake
	makedepends = gcc-fortran
	makedepends = gtest
	makedepends = python
	makedepends = python-mpi4py
	makedepends = python-numpy
	depends = blosc
	depends = bzip2
	depends = glibc
	depends = gcc-libs
	depends = hdf5
	depends = libfabric
	depends = libpng
	depends = nlohmann-json
	depends = openmpi
	depends = pugixml
	depends = pybind11
	depends = sz
	depends = yaml-cpp
	depends = zeromq
	depends = zfp
	depends = zlib
	source = https://github.com/ornladios/ADIOS2/archive/v2.8.3/adios2-2.8.3.tar.gz
	source = https://github.com/ornladios/ADIOS2/commit/bc67316d.patch
	source = https://github.com/ornladios/ADIOS2/commit/c3967d39.patch
	source = https://github.com/ornladios/ADIOS2/commit/a04395e0.patch
	source = https://github.com/ornladios/ADIOS2/commit/a6b6c668.patch
	sha256sums = 4906ab1899721c41dd918dddb039ba2848a1fb0cf84f3a563a1179b9d6ee0d9f
	sha256sums = 7998b6624cafefadd800158b4b5184c341f93dd446f55237cdfbf1f025bf4823
	sha256sums = 8edc0438b4e84afa51d730b94355cd7f28620351ab3bd438a46272fb6cd91aa1
	sha256sums = da2dacee292eef376c488b4efc2b7fe23b619da278828ef6d74b6549ba1caea6
	sha256sums = ca2998c08abd157d6d27866bdb8c964327a46f05fd273ee6a0fa1622dff6b80e

pkgname = adios2
