pkgbase = ki18n5
	pkgdesc = Advanced internationalization framework
	pkgver = 5.110.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = clang
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = python
	depends = qt5-declarative
	depends = iso-codes
	optdepends = python: to compile .ts files
	provides = ki18n=5.110.0
	conflicts = ki18n<5.111
	replaces = ki18n<5.111
	source = https://download.kde.org/stable/frameworks/5.110/ki18n-5.110.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.110/ki18n-5.110.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = bceaa4c861de372b77da5e850a50edf2815afe93d9d7f1b9c05f6d6667d2130f
	sha256sums = SKIP

pkgname = ki18n5
