pkgbase = libmediainfo
	pkgdesc = Shared library for MediaInfo
	pkgver = 23.10
	pkgrel = 1
	url = https://mediaarea.net
	arch = x86_64
	license = BSD
	depends = glibc
	depends = gcc-libs
	depends = curl
	depends = glib2
	depends = libmms
	depends = libzen
	depends = tinyxml2
	depends = graphviz
	depends = zlib
	source = libmediainfo-23.10.tar.xz::https://mediaarea.net/download/source/libmediainfo/23.10/libmediainfo_23.10.tar.xz
	sha512sums = fc7f6b4ff811e9656bfd795325511d53def3e78016a005cfd3439af955a3a6c13ef06dd72dd0685441e2419ed7d141bf762394f8b3d8a9bd00ad2780dc4acbb6
	b2sums = e64481694c651b16bf72e18d5e68069f63efc481b465b6eb7d1d6a8c3e7de84aaabbc212fce8d734f7dd6d082a6ffcf1cdf040f410fd16554bf20db5460c3db4

pkgname = libmediainfo
