pkgbase = python-yaspin
	pkgdesc = Yet Another Terminal Spinner
	pkgver = 2.5.0
	pkgrel = 1
	url = https://github.com/pavdmyt/yaspin
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python-termcolor
	source = https://github.com/pavdmyt/yaspin/archive/v2.5.0/python-yaspin-2.5.0.tar.gz
	sha512sums = 90c270810312eea1de88119939439f7bb24a215711838e5a4a67a7353e9450283aaa82ea2bc0facfff187c221e6fbc5275a9510cf889eda5e7d426f5bb7fa690

pkgname = python-yaspin
