pkgbase = python-yaspin
	pkgdesc = Yet Another Terminal Spinner
	pkgver = 2.4.0
	pkgrel = 1
	url = https://github.com/pavdmyt/yaspin
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python-termcolor
	source = https://github.com/pavdmyt/yaspin/archive/v2.4.0/python-yaspin-2.4.0.tar.gz
	sha512sums = e23efda78551d58f7907ee9347ddcbf8aa75a86ded3e8b31ff38b316a8179e81ff5ec0d280384995384cbe743f5f1da4cffb16f217378638de587839c88eb3c5

pkgname = python-yaspin
