pkgbase = python-pytest-mypy-testing
	pkgdesc = Plugin to test mypy output with pytest
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/davidfritzsche/pytest-mypy-testing
	arch = any
	license = Apache
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = mypy
	depends = python
	depends = python-pytest
	source = https://github.com/davidfritzsche/pytest-mypy-testing/archive/v0.1.1/python-pytest-mypy-testing-0.1.1.tar.gz
	sha256sums = f3f9ba2f674f31155b11a128a8c9f9f662ec8d7230e9755adc4b063c9951ceab

pkgname = python-pytest-mypy-testing
