# ---> ArchLinuxPackages
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

*.service
*.timer
*.socket
rspamd/HEAD
rspamd/config
rspamd/description
rspamd/hooks/applypatch-msg.sample
rspamd/hooks/commit-msg.sample
rspamd/hooks/fsmonitor-watchman.sample
rspamd/hooks/post-update.sample
rspamd/hooks/pre-applypatch.sample
rspamd/hooks/pre-commit.sample
rspamd/hooks/pre-merge-commit.sample
rspamd/hooks/pre-push.sample
rspamd/hooks/pre-rebase.sample
rspamd/hooks/pre-receive.sample
rspamd/hooks/prepare-commit-msg.sample
rspamd/hooks/push-to-checkout.sample
rspamd/hooks/sendemail-validate.sample
rspamd/hooks/update.sample
rspamd/info/attributes
rspamd/info/exclude
rspamd/objects/pack/pack-3586161fc2448af56a3c895ae5fda5e19d9f49a8.idx
rspamd/objects/pack/pack-3586161fc2448af56a3c895ae5fda5e19d9f49a8.pack
rspamd/objects/pack/pack-3586161fc2448af56a3c895ae5fda5e19d9f49a8.rev
rspamd/packed-refs
