# ---> ArchLinuxPackages
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

*.service
*.timer
*.socket
gnome-panel/HEAD
gnome-panel/config
gnome-panel/description
gnome-panel/hooks/applypatch-msg.sample
gnome-panel/hooks/commit-msg.sample
gnome-panel/hooks/fsmonitor-watchman.sample
gnome-panel/hooks/post-update.sample
gnome-panel/hooks/pre-applypatch.sample
gnome-panel/hooks/pre-commit.sample
gnome-panel/hooks/pre-merge-commit.sample
gnome-panel/hooks/pre-push.sample
gnome-panel/hooks/pre-rebase.sample
gnome-panel/hooks/pre-receive.sample
gnome-panel/hooks/prepare-commit-msg.sample
gnome-panel/hooks/push-to-checkout.sample
gnome-panel/hooks/sendemail-validate.sample
gnome-panel/hooks/update.sample
gnome-panel/info/attributes
gnome-panel/info/exclude
gnome-panel/objects/pack/pack-4a3a54ed27b8bfd59f017be3d53576f2c91ae04b.idx
gnome-panel/objects/pack/pack-4a3a54ed27b8bfd59f017be3d53576f2c91ae04b.pack
gnome-panel/objects/pack/pack-4a3a54ed27b8bfd59f017be3d53576f2c91ae04b.rev
gnome-panel/packed-refs
