pkgbase = xdg-desktop-portal-gtk
	pkgdesc = A backend implementation for xdg-desktop-portal using GTK
	pkgver = 1.15.0
	pkgrel = 1
	url = https://github.com/flatpak/xdg-desktop-portal-gtk
	arch = x86_64
	license = LGPL
	makedepends = git
	makedepends = meson
	makedepends = python
	depends = gsettings-desktop-schemas
	depends = gtk3
	depends = xdg-desktop-portal
	optdepends = evince: Print preview
	provides = xdg-desktop-portal-impl
	source = git+https://github.com/flatpak/xdg-desktop-portal-gtk#commit=99d4aa7d71df063a62a4120c3012d50c9adf9d2a
	b2sums = SKIP

pkgname = xdg-desktop-portal-gtk
