pkgbase = libblockdev
	pkgdesc = A library for manipulating block devices
	pkgver = 3.0.3
	pkgrel = 5
	url = https://github.com/storaged-project/libblockdev
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = autoconf-archive
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = ndctl
	makedepends = python
	makedepends = util-linux
	depends = cryptsetup
	depends = device-mapper
	depends = e2fsprogs
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = kmod
	depends = keyutils
	depends = libbytesize
	depends = libnvme
	depends = mdadm
	depends = nss
	depends = parted
	depends = systemd-libs
	depends = util-linux-libs
	depends = volume_key
	optdepends = btrfs-progs: BTRFS plugin
	optdepends = dosfstools: VFAT filesystem support
	optdepends = exfatprogs: for exFAT filesystem support
	optdepends = f2fs-tools: for F2FS filesystem support
	optdepends = gobject-introspection-runtime: for Python integration
	optdepends = lvm2: LVM plugin
	optdepends = ndctl: NVDIMM plugin
	optdepends = nilfs-utils: for nilfs filesystem support
	optdepends = ntfs-3g: NTFS filesystem support
	optdepends = python: for Python integration
	optdepends = udftools: for UDF filesystem support
	optdepends = xfsprogs: XFS filesystem support
	source = https://github.com/storaged-project/libblockdev/releases/download/3.0.3-1/libblockdev-3.0.3.tar.gz
	source = libblockdev-3.0.3-memory_allocation_for_device_ioctls.patch::https://github.com/storaged-project/libblockdev/commit/2ae0d949eb87142b0212e5953a0e5ad1a146ed6b.patch
	sha512sums = f2cc6fbe1df6fd9886016177a4a94984d704f3b402c7090344c581afb89f7cb050c9516c52974157a99ea6c6239f6a1f6079cde0b43a2336af0daca7311ca788
	sha512sums = a0609158aa1d94ce99491a403561c7c8a7100f665c23a2225ea226027316550aeba5ebfaf8c74d50bb94d4be0ebb14ddb8d1f17475207418bc40414553a50dea
	b2sums = c26a806797effc7231a0eb92f1b8cd74e548da5b1800cddd75a21e7df327be8371edabc2e9a39a727291f365b6a4f6242f78b66396adc4526b41749219f0429f
	b2sums = 3c798fe55d15e959d43f948dad802788be005fed81a2d3f28ae6796f7c7548c28f8bb79efcb75a077efe2a69f9b604f0035b738364d263c08096f4f6e938deee

pkgname = libblockdev
