pkgbase = libblockdev
	pkgdesc = A library for manipulating block devices
	pkgver = 3.0.4
	pkgrel = 1
	url = https://github.com/storaged-project/libblockdev
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = autoconf-archive
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = ndctl
	makedepends = python
	makedepends = util-linux
	depends = cryptsetup
	depends = device-mapper
	depends = e2fsprogs
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = kmod
	depends = keyutils
	depends = libbytesize
	depends = libnvme
	depends = mdadm
	depends = nss
	depends = parted
	depends = systemd-libs
	depends = util-linux-libs
	depends = volume_key
	optdepends = btrfs-progs: BTRFS plugin
	optdepends = dosfstools: VFAT filesystem support
	optdepends = exfatprogs: for exFAT filesystem support
	optdepends = f2fs-tools: for F2FS filesystem support
	optdepends = gobject-introspection-runtime: for Python integration
	optdepends = lvm2: LVM plugin
	optdepends = ndctl: NVDIMM plugin
	optdepends = nilfs-utils: for nilfs filesystem support
	optdepends = ntfs-3g: NTFS filesystem support
	optdepends = python: for Python integration
	optdepends = udftools: for UDF filesystem support
	optdepends = xfsprogs: XFS filesystem support
	source = https://github.com/storaged-project/libblockdev/releases/download/3.0.4-1/libblockdev-3.0.4.tar.gz
	sha512sums = 82b574c1f8e301d6e9ff07f8c3d2a351a5bc966b5d65a3b578c214e03e48b54270b54176d646ac15e8119c79536d08b36415de478ffd34c8b3fe536300fc5172
	b2sums = e31ecb04310c2c66cbe432c1e003b3c3241f318f78916d5c61c0efca37fa677e5f857eab9b7c3bfc7c5a589350cdef12402940d28af68ab9fc95e5da6852ddf1

pkgname = libblockdev
