pkgbase = python-pygls
	pkgdesc = Pythonic generic implementation of the Language Server Protocol
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/openlawlibrary/pygls
	arch = any
	license = APACHE
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python-lsprotocol
	depends = python-typeguard
	source = git+https://github.com/openlawlibrary/pygls.git#tag=v1.1.1
	b2sums = SKIP

pkgname = python-pygls
