pkgbase = armagetronad
	pkgdesc = A Tron Clone in 3D
	pkgver = 0.2.9.1.1
	pkgrel = 1
	url = http://armagetronad.net/
	arch = x86_64
	license = GPL
	depends = sdl_image
	depends = libxml2
	depends = sdl_mixer
	depends = ftgl
	depends = hicolor-icon-theme
	source = https://launchpad.net/armagetronad/0.2.9/0.2.9.1.1/+download/armagetronad-0.2.9.1.1.tbz
	sha256sums = f617de700ecf1dd11f75e2932ee74796729112352d5cabaa2bc479add7dffd32

pkgname = armagetronad
