pkgbase = qt5-xmlpatterns
	pkgdesc = Support for XPath, XQuery, XSLT and XML schema validation
	pkgver = 5.15.11
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt5
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = qt5-declarative
	makedepends = git
	depends = qt5-base
	optdepends = qt5-declarative: QML bindings
	conflicts = qtchooser
	source = git+https://invent.kde.org/qt/qt/qtxmlpatterns#commit=5a1948ddc05bf44017ac12bd5c2b9bc79fbcb9a2
	sha256sums = SKIP

pkgname = qt5-xmlpatterns
