pkgbase = python-tzlocal
	pkgdesc = Tzinfo object for the local timezone
	pkgver = 5.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/regebro/tzlocal
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/regebro/tzlocal.git#tag=5.1
	b2sums = SKIP

pkgname = python-tzlocal
