pkgbase = xfce4-pulseaudio-plugin
	pkgdesc = Pulseaudio plugin for the Xfce4 panel
	pkgver = 0.4.8
	pkgrel = 1
	url = https://goodies.xfce.org/projects/panel-plugins/xfce4-pulseaudio-plugin
	arch = x86_64
	groups = xfce4-goodies
	license = GPL2
	makedepends = intltool
	depends = xfce4-panel
	depends = libpulse
	depends = libkeybinder3
	depends = libnotify
	depends = libcanberra
	optdepends = pavucontrol: default pulseaudio mixer
	source = https://archive.xfce.org/src/panel-plugins/xfce4-pulseaudio-plugin/0.4/xfce4-pulseaudio-plugin-0.4.8.tar.bz2
	sha256sums = bd742b207c39c221e91c57c9c9be2839eb802d1b1ee01a02b7427cd02d3f0348

pkgname = xfce4-pulseaudio-plugin
