pkgbase = python-pikepdf
	pkgdesc = Read and write PDFs with Python, powered by qpdf
	pkgver = 8.5.2
	pkgrel = 1
	url = https://github.com/pikepdf/pikepdf
	arch = x86_64
	license = MPL2
	checkdepends = python-hypothesis
	checkdepends = python-psutil
	checkdepends = python-pytest-xdist
	makedepends = pybind11
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-toml
	makedepends = python-wheel
	depends = gcc-libs
	depends = glibc
	depends = python
	depends = python-lxml
	depends = python-packaging
	depends = python-pillow
	depends = qpdf
	source = https://github.com/pikepdf/pikepdf/archive/v8.5.2/python-pikepdf-8.5.2.tar.gz
	sha256sums = ea84b2cbf94d0ff19c87e6f937b8ae09217d96b4a80af96b5832f275ba6cb101

pkgname = python-pikepdf
