pkgbase = protobuf
	pkgdesc = Protocol Buffers - Google's data interchange format
	pkgver = 24.3
	pkgrel = 1
	url = https://developers.google.com/protocol-buffers/
	arch = x86_64
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-numpy
	makedepends = cmake
	makedepends = gtest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = gcc-libs
	depends = glibc
	depends = zlib
	depends = abseil-cpp
	source = https://github.com/protocolbuffers/protobuf/archive/v24.3/protobuf-24.3.tar.gz
	source = https://github.com/protocolbuffers/protobuf/commit/2e62ef1e.patch
	source = soversion.patch
	source = protobuf-21.12-pep517.patch
	sha512sums = 2c1a381f81bb2c0afa3a2ff6681f9f37bc7aef3a3882c371eea7284f4e9524c2a0c834de6c7f681706890eee2220a42442367b8f8dc8370f182fab9e2c37cfd2
	sha512sums = f42d9bd702abe2c7fc4dcb07d050376287ac60b0b7e2fde0d7a9e9df24a620866bee5fd7de2e3b216095376de47e1fe7443cca74c9a9e85c1a0bc42e8973a280
	sha512sums = f0813a415cff5639e4709400f15b0c5565294e7907ae164e620b76258734c643115d8e5170bf0e4aee264c347fb7e01ac4be60d19be2a91c0ce9c561dad8c8e9
	sha512sums = a297e74ee4f807b3fad7da7d0de6dd9647963521be66cd2a2370343f5bd191cbb38759157ac0cdb161a5893a30a10520a5098e88a292c800859af33db5cf7a41

pkgname = protobuf
	provides = libprotoc.so
	provides = libprotobuf.so
	provides = libprotobuf-lite.so
	replaces = protobuf-cpp

pkgname = python-protobuf
	pkgdesc = Python 3 bindings for Google Protocol Buffers
	depends = protobuf=24.3
	depends = python
