pkgbase = kitemviews5
	pkgdesc = Widget addons for Qt Model/View
	pkgver = 5.110.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = clang
	makedepends = doxygen
	depends = qt5-base
	provides = kitemviews=5.110.0
	conflicts = kitemviews<5.111
	replaces = kitemviews<5.111
	source = https://download.kde.org/stable/frameworks/5.110/kitemviews-5.110.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.110/kitemviews-5.110.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = d763b6939662dc9f23781c318bdce2282f5c1174e0a7d091c26a6506ecf50bdb
	sha256sums = SKIP

pkgname = kitemviews5
