pkgbase = udiskie
	pkgdesc = Removable disk automounter using udisks
	pkgver = 2.5.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/udiskie
	arch = any
	license = MIT
	makedepends = asciidoc
	makedepends = python-setuptools
	depends = udisks2
	depends = python
	depends = python-gobject
	depends = python-yaml
	depends = python-docopt
	depends = gtk3
	depends = libnotify
	depends = python-keyutils
	optdepends = libappindicator-gtk3: --appindicator support
	source = udiskie-2.5.0.tar.gz::https://codeload.github.com/coldfix/udiskie/tar.gz/v2.5.0
	sha256sums = 0ed83aa60dbb1b6e1cbadaf60de61530cb28741c02fef23c3d2f6749a06d0f2c

pkgname = udiskie
