pkgbase = qt6-declarative
	pkgdesc = Classes for QML and JavaScript languages
	pkgver = 6.5.3
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = cmake
	makedepends = ninja
	makedepends = python
	makedepends = at-spi2-core
	makedepends = qt6-shadertools
	makedepends = qt6-languageserver
	makedepends = qt6-tools
	depends = qt6-base
	optdepends = qt6-languageserver: for qmlls
	provides = qt6-quickcontrols2
	conflicts = qt6-quickcontrols2
	replaces = qt6-quickcontrols2
	source = https://download.qt.io/official_releases/qt/6.5/6.5.3/submodules/qtdeclarative-everywhere-src-6.5.3.tar.xz
	sha256sums = 404dd6d2d206bb882ecd6622f0c708c9d6bd724a4d83776e13c49761c159d215

pkgname = qt6-declarative
