pkgbase = libgusb
	pkgdesc = GObject wrapper for libusb1
	pkgver = 0.4.7
	pkgrel = 1
	url = https://github.com/hughsie/libgusb
	arch = x86_64
	license = LGPL2.1
	makedepends = gi-docgen
	makedepends = git
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = python-setuptools
	makedepends = umockdev
	makedepends = vala
	depends = glib2
	depends = libjson-glib-1.0.so
	depends = libusb-1.0.so
	source = git+https://github.com/hughsie/libgusb.git#tag=94f907cbf150eea97c7a44caaade35b0af5707a3
	sha256sums = SKIP

pkgname = libgusb
