pkgbase = flameshot
	pkgdesc = Powerful yet simple to use screenshot software
	pkgver = 12.1.0
	pkgrel = 3
	url = https://github.com/flameshot-org/flameshot
	arch = x86_64
	license = GPL
	makedepends = make
	makedepends = qt5-tools
	makedepends = cmake
	depends = qt5-svg
	depends = hicolor-icon-theme
	depends = kguiaddons5
	optdepends = gnome-shell-extension-appindicator: for system tray icon if you are using Gnome
	optdepends = grim: for wlroots wayland support
	optdepends = xdg-desktop-portal: for wayland support, you will need the implementation for your wayland desktop environment
	source = flameshot-v12.1.0.tar.gz::https://github.com/flameshot-org/flameshot/archive/v12.1.0.tar.gz
	sha256sums = c82c05d554e7a6d810aca8417ca12b21e4f74864455ab4ac94602668f85ac22a

pkgname = flameshot
