pkgbase = geany-plugins
	pkgdesc = Plugins for Geany
	pkgver = 2.0
	pkgrel = 1
	url = https://plugins.geany.org/
	arch = x86_64
	license = GPL
	makedepends = cppcheck
	makedepends = intltool
	depends = ctpl
	depends = geany>=2.0
	depends = gpgme
	depends = gtkspell3
	depends = libgit2
	depends = lua51
	depends = python
	depends = vte3
	depends = webkit2gtk
	source = https://plugins.geany.org/geany-plugins/geany-plugins-2.0.tar.bz2
	source = https://plugins.geany.org/geany-plugins/geany-plugins-2.0.tar.bz2.sig
	validpgpkeys = 986FA7E80256D3D16F30FB7A01380DF54FD09D02
	sha256sums = 9fc2ec5c99a74678fb9e8cdfbd245d3e2061a448d70fd110a6aefb62dd514705
	sha256sums = SKIP
	b2sums = 6175f91a3a7effa081393e9397336e0f5f59846fdadd0e31584f237c14863016cc4ab1b17745e1e2804ad88161dc7e43aef97a2332a5c18a7f1baf10d2ea42ba
	b2sums = SKIP

pkgname = geany-plugins
