pkgbase = extra-cmake-modules
	pkgdesc = Extra modules and scripts for CMake
	pkgver = 5.111.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = any
	groups = kf5
	license = LGPL
	makedepends = python-sphinx
	makedepends = python-requests
	makedepends = qt5-tools
	depends = cmake
	optdepends = python-pyxdg: to generate fastlane metadata for Android apps
	optdepends = python-requests: to generate fastlane metadata for Android apps
	optdepends = python-yaml: to generate fastlane metadata for Android apps
	source = https://download.kde.org/stable/frameworks/5.111/extra-cmake-modules-5.111.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.111/extra-cmake-modules-5.111.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 555d3c1dfa6727b4e64a35d3f01724c9fcd6209c2a41f2b2297c39ed7aabea9a
	sha256sums = SKIP

pkgname = extra-cmake-modules
