pkgbase = django
	pkgdesc = A high-level Python Web framework that encourages rapid development and clean design
	pkgver = 4.2.6
	pkgrel = 1
	url = http://www.djangoproject.com/
	arch = any
	license = BSD
	checkdepends = python-pytest
	checkdepends = python-tblib
	makedepends = python
	makedepends = python-setuptools
	depends = python
	depends = python-pytz
	depends = python-sqlparse
	depends = python-asgiref
	optdepends = python-psycopg2: for PostgreSQL backend
	optdepends = python-argon2_cffi: for Argon2 password hashing support
	source = Django-4.2.6.tar.gz::https://www.djangoproject.com/download/4.2.6/tarball/
	sha512sums = bfd36ae6f7c4393bad45e97d6d43b370fb37d7e21cd115a6f6b730bb38ad11c6ccdcef94d5ddcd09e8eb9107a51ff486ec79b39cf3f4250d0ae1af000820cd82

pkgname = python-django
