pkgbase = gnome-contacts
	pkgdesc = Contacts Manager for GNOME
	pkgver = 45.0
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/Contacts
	arch = x86_64
	groups = gnome
	license = GPL2
	makedepends = appstream-glib
	makedepends = git
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = vala
	depends = cairo
	depends = dconf
	depends = evolution-data-server
	depends = folks
	depends = gdk-pixbuf2
	depends = glib2
	depends = gnome-online-accounts
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libgee
	depends = libgoa
	depends = libportal
	depends = libportal-gtk4
	depends = pango
	depends = qrencode
	source = git+https://gitlab.gnome.org/GNOME/gnome-contacts.git#commit=f100e20eb51fac292b763aca06f7d963a2d1b9f3
	b2sums = SKIP

pkgname = gnome-contacts
