pkgbase = python-zope-security
	pkgdesc = Zope Security Framework
	pkgver = 6.2
	pkgrel = 1
	url = https://github.com/zopefoundation/zope.security
	arch = x86_64
	license = ZPL
	checkdepends = python-btrees
	checkdepends = python-nose
	checkdepends = python-zope-configuration
	checkdepends = python-zope-testing
	checkdepends = python-zope-testrunner
	makedepends = git
	depends = python-setuptools
	depends = python-zope-component
	depends = python-zope-i18nmessageid
	depends = python-zope-interface
	depends = python-zope-location
	depends = python-zope-proxy
	depends = python-zope-schema
	source = git+https://github.com/zopefoundation/zope.security.git#commit=dfdce15e432208fd8f01cc2072818a2847663bc6
	sha512sums = SKIP

pkgname = python-zope-security
