pkgbase = geany
	pkgdesc = Fast and lightweight IDE
	pkgver = 2.0
	pkgrel = 1
	url = https://www.geany.org/
	arch = x86_64
	license = GPL
	makedepends = doxygen
	makedepends = intltool
	makedepends = python-lxml
	depends = gtk3
	optdepends = geany-plugins: additional functionality
	optdepends = vte3: embedded terminal support
	source = https://download.geany.org/geany-2.0.tar.bz2
	b2sums = 9a810827c3c8e5156329ec2e693d7181183d341ea74b5cbca940904912004e09b1ac0307710d2a6bec76c3c4b3e08c0a5231ffe5e65ba1234b33900192703d1a

pkgname = geany
