pkgbase = itinerary
	pkgdesc = Itinerary and boarding pass management application
	pkgver = 23.08.2
	pkgrel = 2
	url = https://apps.kde.org/itinerary/
	arch = x86_64
	groups = kde-applications
	groups = kde-pim
	license = LGPL
	license = BSD
	makedepends = extra-cmake-modules
	depends = kitinerary
	depends = kio5
	depends = networkmanager-qt5
	depends = kosmindoormap
	depends = khealthcertificate
	depends = qt5-location
	depends = qqc2-desktop-style5
	depends = prison5
	depends = kitemmodels5
	depends = kunitconversion5
	depends = kfilemetadata5
	depends = kirigami-addons5
	depends = libquotient
	source = https://download.kde.org/stable/release-service/23.08.2/src/itinerary-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/itinerary-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 4bb97da33884dbd3d4ad09dbbb6c19f2a07c568618f1393d26c9c8227b53bdef
	sha256sums = SKIP

pkgname = itinerary
