pkgbase = kwindowsystem5
	pkgdesc = Access to the windowing system
	pkgver = 5.111.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = doxygen
	depends = qt5-x11extras
	conflicts = kwindowsystem<5.111
	replaces = kwindowsystem<5.111
	source = https://download.kde.org/stable/frameworks/5.111/kwindowsystem-5.111.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.111/kwindowsystem-5.111.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 344fbaf62c1bf3032210993da00811b4d2ff54d95898a6676bc77e6f92ece49c
	sha256sums = SKIP

pkgname = kwindowsystem5
