pkgbase = ruby-bundler
	pkgdesc = Manages an application's dependencies through its entire life, across many machines, systematically and repeatably
	pkgver = 2.4.20
	pkgrel = 1
	url = https://bundler.io
	arch = any
	license = MIT
	makedepends = ruby-rake
	makedepends = ruby-rdoc
	depends = ruby
	options = !emptydirs
	source = https://github.com/rubygems/rubygems/archive/bundler-v2.4.20/ruby-bundler-2.4.20.tar.gz
	sha512sums = f0606f05f7e5a903c9a6b10e45fc13ea7636b9c50e78dd71de78735c6dbd1ba6954d660f34981f98fe1a65e2dc7657894c49dad33d4b2499e46e2693cbadc0bc
	b2sums = dcf76fd100fb69beb30efbc56e1158fbb9bfa70b70ba0a1594e36fc78021f751420266743fc1c5d51aa6c7630cdba3dd90652b378e9f0fbb06f14fd07ce43bf9

pkgname = ruby-bundler
