pkgbase = akregator
	pkgdesc = A Feed Reader by KDE
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/akregator/
	arch = x86_64
	groups = kde-applications
	groups = kde-pim
	license = GPL2
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	depends = kontactinterface
	depends = messagelib
	depends = knotifyconfig5
	depends = kuserfeedback
	optdepends = kdepim-addons: additional plugins
	source = https://download.kde.org/stable/release-service/23.08.2/src/akregator-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/akregator-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 38317d50350174fa172607d60d3eb1a40832be649ced085680b70c507f2f06ea
	sha256sums = SKIP

pkgname = akregator
