pkgbase = kalzium
	pkgdesc = Periodic Table of Elements
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/kalzium/
	arch = x86_64
	groups = kde-applications
	groups = kde-education
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = eigen
	makedepends = ocaml
	makedepends = facile
	makedepends = python
	depends = kparts5
	depends = knewstuff5
	depends = kplotting5
	depends = kunitconversion5
	depends = qt5-script
	depends = avogadrolibs-qt5
	depends = openbabel
	depends = hicolor-icon-theme
	source = https://download.kde.org/stable/release-service/23.08.2/src/kalzium-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/kalzium-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 9074ea7e74f0bd117565964c86de150b3b8fbf86fc0efb2cb44e63f5baa05f88
	sha256sums = SKIP

pkgname = kalzium
