pkgbase = xdg-desktop-portal-lxqt
	pkgdesc = A backend implementation for xdg-desktop-portal using Qt/KF5/libfm-qt
	pkgver = 0.4.0
	pkgrel = 3
	url = https://github.com/lxqt/xdg-desktop-portal-lxqt
	arch = x86_64
	groups = lxqt
	license = LGPL
	makedepends = cmake
	depends = qt5-base
	depends = kwindowsystem5
	depends = xdg-desktop-portal
	depends = libfm-qt
	provides = xdg-desktop-portal-impl
	source = https://github.com/lxqt/xdg-desktop-portal-lxqt/releases/download/0.4.0/xdg-desktop-portal-lxqt-0.4.0.tar.xz
	source = https://github.com/lxqt/xdg-desktop-portal-lxqt/releases/download/0.4.0/xdg-desktop-portal-lxqt-0.4.0.tar.xz.asc
	source = lxqt-portals.conf
	validpgpkeys = 19DFDF3A579BD509DBB572D8BE793007AD22DF7E
	sha256sums = e55c6c87186ca39272efab6a3b79c418b6e16d09d8748dd0ad05165a18e7b2b0
	sha256sums = SKIP
	sha256sums = 867b15caa72e2a85d2ef566cce9f35d8cdea9ed181fbb0290e5ab50e18a8d4aa

pkgname = xdg-desktop-portal-lxqt
