pkgbase = python-execnet
	pkgdesc = Rapid multi-Python deployment
	pkgver = 2.0.1
	pkgrel = 1
	url = https://codespeak.net/execnet
	arch = any
	license = MIT
	checkdepends = openssh
	checkdepends = procps-ng
	checkdepends = python-py
	checkdepends = python-pytest
	checkdepends = python-pytest-timeout
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python
	source = git+https://github.com/pytest-dev/execnet.git#commit=2757f05c1a808463d731954fe6047781eecc45f7
	sha512sums = SKIP

pkgname = python-execnet
