pkgbase = gnome-photos
	pkgdesc = Access, organize, and share your photos on GNOME
	pkgver = 44.0
	pkgrel = 4
	epoch = 1
	url = https://wiki.gnome.org/Apps/Photos
	arch = x86_64
	groups = gnome-extra
	license = GPL
	makedepends = docbook-xsl
	makedepends = git
	makedepends = meson
	makedepends = python
	makedepends = yelp-tools
	depends = babl
	depends = dleyna
	depends = gegl
	depends = geocode-glib-2
	depends = gnome-online-accounts
	depends = gsettings-desktop-schemas
	depends = gtk3
	depends = libdazzle
	depends = libgexiv2
	depends = libhandy
	depends = libportal-gtk3
	depends = librsvg
	depends = tracker3-miners
	source = git+https://gitlab.gnome.org/GNOME/gnome-photos.git#commit=a0eb37bfb6760aa1414fa41ee1ff007336301b8c
	source = git+https://gitlab.gnome.org/GNOME/libgd.git
	b2sums = SKIP
	b2sums = SKIP

pkgname = gnome-photos
