pkgbase = gnome-characters
	pkgdesc = A character map application
	pkgver = 45.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gnome-characters
	arch = x86_64
	groups = gnome
	license = GPL2
	checkdepends = weston
	makedepends = appstream-glib
	makedepends = git
	makedepends = gobject-introspection
	makedepends = gperf
	makedepends = meson
	depends = emoji-font
	depends = gjs
	depends = gnome-desktop-4
	depends = gtk4
	depends = libadwaita
	source = git+https://gitlab.gnome.org/GNOME/gnome-characters.git#commit=6f25c0380b4125055de035acf63e8fe7d6c774e1
	b2sums = SKIP

pkgname = gnome-characters
