pkgbase = python-poetry-dynamic-versioning
	pkgdesc = Plugin for Poetry to enable dynamic versioning based on VCS tags
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/mtkennerly/poetry-dynamic-versioning
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	depends = python
	depends = python-dunamai
	depends = python-tomlkit
	depends = python-jinja
	depends = python-poetry
	depends = python-cleo
	depends = python-poetry-core
	depends = python-packaging
	source = python-poetry-dynamic-versioning::git+https://github.com/mtkennerly/poetry-dynamic-versioning#commit=65e2bc4bd910376efabf2a838308655d60a0e319
	b2sums = SKIP

pkgname = python-poetry-dynamic-versioning
