pkgbase = krfb
	pkgdesc = Desktop Sharing
	pkgver = 23.08.2
	pkgrel = 1
	url = https://apps.kde.org/krfb/
	arch = x86_64
	groups = kde-applications
	groups = kde-network
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = plasma-wayland-protocols
	depends = kdnssd5
	depends = kxmlgui5
	depends = kwallet5
	depends = libvncserver
	depends = kwayland5
	depends = xdg-desktop-portal
	depends = kpipewire
	source = https://download.kde.org/stable/release-service/23.08.2/src/krfb-23.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/23.08.2/src/krfb-23.08.2.tar.xz.sig
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 34264daf59b456057d6c63430d1b0e5a54ed244343ba324214d55a2ea64ebe1b
	sha256sums = SKIP

pkgname = krfb
