pkgbase = python-elasticsearch
	pkgdesc = Python client for Elasticsearch
	pkgver = 7.9.0
	pkgrel = 4
	url = https://github.com/elastic/elasticsearch-py
	arch = any
	license = Apache
	checkdepends = python-requests
	checkdepends = python-mock
	checkdepends = python-yaml
	checkdepends = python-pytest
	checkdepends = python-numpy
	checkdepends = python-pandas
	checkdepends = python-aiohttp
	checkdepends = python-pytest-asyncio
	makedepends = python-setuptools
	makedepends = git
	depends = python-certifi
	depends = python-urllib3
	source = python-elasticsearch-7.9.0.tar.gz::https://github.com/elastic/elasticsearch-py/archive/7.9.0.tar.gz
	source = python310.patch
	source = elasticsearch-unittest-mock.patch::https://github.com/elastic/elasticsearch-py/commit/8290b4f37cdba23360bcc080ffaf51d9b7e22fc7.patch
	sha512sums = 2fae863434f7bf06c0669426b4a261f5d0c9ea26bd68783393bf25521e46484a0d6267438ae73590b7961b2a1b1a347cf89f33a9904983a82469b25b14894657
	sha512sums = 495694c1d89ad453fd1d2e83092a741a256cbe5627ebcca22770b340a9ac77fabcdea83fa84f1c9c0ffe734517a099f98ee8a95f1384b5f716eb34273a21b39f
	sha512sums = 3f77eed5f0d969ae11a53a9f8dc47ff27d3bfd09195c2d1b9ba26374c8881548413d24d9f55ee38e3cea0a242a78a0979865c444f63d14f1d6352fd24c5bf7fa

pkgname = python-elasticsearch
